    <div class="backimg" style="background-color: white">
        <div class="islaTitulo">
        <div class="spacerTopImage"></div>
            <div class="islaTitulo2">
                <div class="spacer3"></div>
                    <h1 data-aos="fade-right" data-aos-duration="3000">¿Quiénes somos?</h1>
                    <h4 data-aos="fade-right"  data-aos-duration="2000">Neurónica S.A.S</h4>
                <div class="spacer3"></div>
            </div>
            <div class="spacerTopImage"></div>
        </div>
    </div>

    <div class="fondo">
        <div class="spacer2"></div>
            <div class="contenedorColumnas">
                <div class="spacer2"></div>
                <div class="bordeAzul">
                    <div class="filas">
                        <div class="spacer2"></div>
                        <div class="cuadrado"  style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                        <div class="spacer2"></div>
                        <div class="unaColumna">
                            <figure class="contenedorImagen">
                                <video  class="video" muted  autoplay loop src="./assets/Imagenes/neuronica_ingenieria_video.mp4" alt="Neurónica S.A.S: Soluciones a medida en hardware, software, IoT y manufactura. Adaptabilidad y precisión en cada entrega" data-aos="fade-right" data-aos-duration="3000" ></video>
                            </figure>
                            <div style="justify-content: center; margin-left: 5%; margin-right: 5%;">
                                <p style="text-align: justify;" data-aos="fade-right" data-aos-duration="2000">
                                    Neurónica es una empresa de ingeniería personalizada que integra hardware, software, 
                                    IoT y manufactura en soluciones únicas. Cada línea de servicio se complementa para 
                                    brindar un enfoque integral y personalizado, ofreciendo a nuestros clientes una 
                                    amplia variedad de servicios especializados. Con esta combinación, garantizamos 
                                    proyectos eficientes e innovadores que responden a las necesidades específicas de 
                                    cada negocio.
                                </p>                                
                            </div>
                            <div class="spacer2"></div>
                        </div> 
                    </div>                     
                </div>
                <div class="spacer2"></div>
            </div>
        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 style="margin-left: 5%; margin-right: 5%; text-align: center;" data-aos="fade-right" data-aos-duration="2000">Misión</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                        <div class="spacer2"></div>
                        <p style="margin-left: 5%; margin-right: 5%; text-align:justify" data-aos="fade-right" data-aos-duration="2000">
                            Desarrollar soluciones de ingeniería personalizada que integren diseño mecánico,
                            electrónico y tecnologías emergentes con el fin de solucionar problematicas reales
                            y apoyar la transformación tecnológica de empresas y comunidades en Colombia.
                        </p>
                        <div class="spacer2"></div>
                    </div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>

        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 style="margin-left: 5%; margin-right: 5%; text-align: center;" data-aos="fade-right" data-aos-duration="2000">Visión</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                        <div class="spacer2"></div>
                        <p style="margin-left: 5%; margin-right: 5%; text-align:justify" data-aos="fade-right" data-aos-duration="2000">
                            Nuestra prioridad es mantenernos en la vanguardia tecnológica en cada uno de nuestros 
                            productos finales, lo que se traduce en la entrega de un servicio altamente efectivo.
                        </p>
                        <div class="spacer2"></div>
                    </div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>
        <div class="spacer2"></div>
        <app-footer-container></app-footer-container>    
        <div class="spacer2"></div>
     </div>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11327971754"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'AW-11327971754');
</script>