
<div class="backimg" style="background-color: white">
    <div class="islaTitulo">
        <div class="spacerTopImage"></div>
        <div class="islaTitulo2">
            <div class="spacer3"></div>
                <h1 data-aos="fade-right" data-aos-duration="3000">Software</h1>
                <h4 data-aos="fade-right"  data-aos-duration="2000">Procesos automatizados</h4>
             <div class="spacer3"></div>
        </div>
        <div class="spacerTopImage"></div>
    </div>
 </div>

 <div class="fondo">
     <div class="spacer2"></div>
     <div class="contenedorColumnas">
        <div class="spacer2"></div>
        <div class="bordeAzul">
            <div class="filas">
                <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 style="margin-left: 5%; margin-right: 5%; text-align: center;" data-aos="fade-right" data-aos-duration="2000">Servicios de software</h2>
                        <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000" style="margin-left: 5%; margin-right: 5%;"></div>
                        <div class="spacer2"></div>
                    </div>
                <div class="dosColumnas">
                        <a href="http://localhost:4200/firmware">
                            <button class="subcuadro" style="position: relative;margin: auto; height: auto; width: 85%;">
                                <div class="spacer2"></div>
                                <h2 style="margin-left: 5%; margin-right: 5%; text-align: center; font-size: 1rem;" data-aos="fade-right" data-aos-duration="2000">
                                    <span class="material-symbols-outlined md-18" alt="Logo para de Neurónica para área de Telecomunicaciones" style="size: 300%;">terminal</span> 
                                    Firmware
                                </h2>
                                <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000" style="margin-left: 5%; margin-right: 5%;"></div>
                                <div class="spacer2"></div>
                            </button>
                        </a>

                        <div class="spacer2"></div>
                    <div class="spacer2"></div>
                </div>

                <div class="dosColumnas">
                    <a href="http://localhost:4200/recopilacion-datos">
                        <button class="subcuadro" style="position: relative;margin: auto; height: auto; width: 85%;">
                            <div class="spacer2"></div>
                            <h2 style="margin-left: 5%; margin-right: 5%; text-align: center; font-size: 1rem;" data-aos="fade-right" data-aos-duration="2000">
                                <span class="material-symbols-outlined md-18" alt="Logo para de Neurónica para área de Telecomunicaciones" style="size: 300%;">database</span> 
                                Recopilación datos
                            </h2>
                            <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000" style="margin-left: 5%; margin-right: 5%;"></div>
                            <div class="spacer2"></div>
                        </button>
                    </a>
                    <div class="spacer2"></div>
                </div>

                <div class="UnaColumnas">
                    <a href="http://localhost:4200/automatizaciones">
                        <button class="subcuadro" style="position: relative;margin: auto; height: auto; width: 85%;">
                            <div class="spacer2"></div>
                            <h2 style="margin-left: 5%; margin-right: 5%; text-align: center; font-size: 1rem;" data-aos="fade-right" data-aos-duration="2000">
                                <span class="material-symbols-outlined md-18" alt="Logo para de Neurónica para área de Telecomunicaciones" style="size: 300%;">automation</span> 
                                Automatizaciones
                            </h2>
                            <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000" style="margin-left: 5%; margin-right: 5%;"></div>
                            <div class="spacer2"></div>
                        </button>
                    </a>
                    <div class="spacer2"></div>
                </div>
            </div>
        <div class="spacer2"></div>
        </div>
        <div class="spacer2"></div>
    </div>

    <div class="spacer2"></div>

         <div class="contenedorColumnas">
             <div class="spacer2"></div>
             <div class="bordeAzul">
                 <div class="filas">
                     <div class="unaColumna">
                         <div class="spacer2"></div>
                         <div class="cuadrado"  style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                         <div class="spacer2"></div>
                         <p style="margin-left: 5%; margin-right: 5%; text-align: justify;" data-aos="fade-right" data-aos-duration="2000">
                             En Neurónica Ingeniería, ofrecemos servicios de desarrollo de software a la medida, una solución 
                             personalizada que se adapta perfectamente a las necesidades específicas de tu empresa.
                         </p>
                         <div class="spacer2"></div>
                     </div>
                 </div>                     
             </div>
             <div class="spacer2"></div>
         </div>

     <div class="spacer2"></div>

     <div class="contenedorColumnas">
         <div class="spacer2"></div>
         <div class="bordeAzul">
             <div class="filas">
                 <div class="unaColumna">
                     <div class="spacer2"></div>
                     <h2 data-aos="fade-right" data-aos-duration="3000" style="margin-right: 5%; margin-left: 5%; text-align: center;">Contáctate con nosotros</h2>
                     <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                     <div class="spacer2"></div>
                     <p data-aos="fade-right" data-aos-duration="3000" style="margin-right: 5%; margin-left: 5%; text-align: justify;">
                         En Neurónica, como empresa de ingeniería en Bogotá, Colombia, realizamos tus proyectos de 
                         desarrollo de software, los cuales potencian el rendimiento y la eficiencia de tu empresa. 
                         Si buscas una herramienta tecnológica única que se alinee perfectamente con tus objetivos comerciales, te 
                         invitamos a descubrir el valor añadido de nuestros servicios. Con Neurónica Ingeniería, tu visión se 
                         convierte en realidad.
                     </p>
                     <div class="spacer2"></div>
                     <div style="display: flex; justify-content: center; align-items: center;">
                        <a href="https://wa.me/573027218775" style="height: 0.5rem; width: 7rem;">
                            <button class="boton" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 40%; transform: translateX(-50%);">Contáctanos</button>
                        </a>
                     </div>
                     
                 </div>
             </div>
             <div class="spacer2"></div>
         </div>
         <div class="spacer2"></div>
     </div>        

     <div class="spacer2"></div>
     <app-footer-container></app-footer-container>
  </div>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11327971754"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'AW-11327971754');
</script>