<body>
    <div class="backimg" style="background-color: white">
       <div class="islaTitulo">
           <div class="spacer"></div>
           <div class="islaTitulo2">
               <div class="spacer2"></div>
               <div class="spacer2"></div>
                   <h1 data-aos="fade-right" data-aos-duration="3000">Software a la medida</h1>
                   <div class="spacer2"></div>
                   <h4 data-aos="fade-right"  data-aos-duration="2000">Programas para tus procesos</h4>
                   <div class="spacer2"></div>
           </div>
           <div class="spacer"></div>
       </div>
    </div>

    <div class="fondo">
        <div class="spacer2"></div>
            <div class="contenedorColumnas">
                <div class="spacer2"></div>
                <div class="bordeAzul">
                    <div class="filas">
                        <div class="unaColumna">
                            <div class="spacer2"></div>
                            <div class="cuadrado"  style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                            <div class="spacer2"></div>
                            <p style="margin-left: 5%; margin-right: 5%; text-align: justify;" data-aos="fade-right" data-aos-duration="2000">
                                En Neurónica Ingeniería, ofrecemos servicios de desarrollo de software a la medida, una solución 
                                personalizada que se adapta perfectamente a las necesidades específicas de tu empresa.
                            </p>
                            <div class="spacer2"></div>
                        </div>
                    </div>                     
                </div>
                <div class="spacer2"></div>
            </div>
        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 style="margin-left: 5%; margin-right: 5%; text-align: center;" data-aos="fade-right" data-aos-duration="2000">¿Qué es software a la medida?</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                        <div class="spacer2"></div>
                    </div>
                    <div class="spacer2"></div>
                    <div class="dosColumnas">
                        <div class="spacer2"></div>
                        <p style="margin-left: 5%; margin-right: 5%; text-align:justify" data-aos="fade-right" data-aos-duration="2000">
                            El software a la medida es un software que se desarrolla específicamente para satisfacer las necesidades de 
                            una empresa u organización. Este software se adapta a los requisitos específicos de la empresa, lo que lo 
                            hace más eficiente y eficaz que el software estándar.
                        </p>
                    </div>
                    <div class="dosColumnas">
                        <img class="imagen2" src="./assets/Imagenes/software-a-la-medida.jpg" alt="Software a la medida" data-aos="fade-right" data-aos-duration="3000" style="  margin-left: 50%;transform: translateX(-50%);">
                        <div class="spacer2"></div>
                    </div>
                    <div class="spacer2"></div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>

        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 5%; text-align:center">Soluciones Personalizadas de Software en Bogotá</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                        <div class="spacer2"></div>
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 5%; text-align:justify">
                            En Neurónica, nos especializamos en el desarrollo de software a medida en Bogotá, ofreciendo programas 
                            personalizados que se adaptan a tus necesidades específicas. Desde aplicaciones web hasta soluciones de 
                            escritorio, nuestro enfoque en JavaScript, Java, Python, C y C++ asegura resultados de calidad que impulsan 
                            la eficiencia y la innovación.
                        </p>
                        <div class="spacer2"></div>
                    </div>
                    <div class="dosColumnas">
                        <h3 data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 5%; text-align:left; color: #005f75; font-family: 'Nunito', sans-serif;">Programas Personalizados a tu Medida</h3>
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 5%; text-align:justify">
                            Diseñamos y desarrollamos programas que se ajustan exactamente a tus necesidades, garantizando soluciones 
                            únicas y eficientes.
                        </p>
                        <div class="spacer2"></div>
                        <h3  data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 5%; text-align:left; color: #005f75; font-family: 'Nunito', sans-serif;">Soluciones Integrales para Aplicaciones Web</h3>
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 5%; text-align:justify">
                            Desde el diseño hasta el despliegue, ofrecemos un servicio integral para aplicaciones web, incluyendo la 
                            adquisición de dominio.
                        </p>
                        <div class="spacer2"></div>
                        <div class="spacer2"></div>
                        <img class="imagen" src="./assets/Imagenes/programas-personalizados.jpg" alt="Programas personalizados" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 5%;text-align: justify;">
                        <div class="spacer2"></div>
                    </div>
                    <div class="spacer2"></div>
                    <div class="dosColumnas">
                        <div class="spacer2"></div>
                        <div class="spacer2"></div>
                        <img class="imagen" src="./assets/Imagenes/soluciones-software-bogota.jpg" alt="Soluciones de software Bogotá" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 5%;text-align: justify;">
                        <h3 data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 5%; text-align:left; color: #005f75; font-family: 'Nunito', sans-serif;">Desarrollo Completo para Aplicaciones de Escritorio</h3>
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 5%; text-align:justify">
                            Cubrimos el diseño, desarrollo y despliegue de aplicaciones de escritorio, ya sea en intranets o servidores 
                            locales.
                        </p>
                        <div class="spacer2"></div>
                        <h3 data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 5%; text-align:left; color: #005f75; font-family: 'Nunito', sans-serif;">Enfoque Especializado en Tecnologías Clave </h3>                       
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 5%; text-align:justify">
                            Nos especializamos en construir soluciones personalizadas utilizando tecnologías como JavaScript, Java, 
                            Python, C y C++.
                        </p>
                        <div class="spacer2"></div>
                        <h3 data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 5%; text-align:left; color: #005f75; font-family: 'Nunito', sans-serif;">Transformamos tus Ideas en Realidad Tecnológica</h3>                       
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 5%; text-align:justify">
                            Nuestro servicio de software a medida lleva tus ideas a la realidad tecnológica, adaptándolas a tus 
                            necesidades específicas.
                        </p>
                        <div class="spacer2"></div>
                    </div>
                    <div class="spacer2"></div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>

        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 style="text-align: center; margin-left: 5%; margin-right: 5%;" data-aos="fade-right" data-aos-duration="2000">Beneficios Software a Medida: Potenciando tu Éxito Empresarial</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                        <div class="spacer2"></div>
                        <p style="margin-left: 5%; margin-right: 5%; text-align:justify" data-aos="fade-right" data-aos-duration="2000">
                            El software a la medida ofrece una serie de beneficios a las empresas, entre los que se incluyen:
                        </p>
                    </div>
                    <div class="spacer2"></div>
                    <div class="dosColumnas">
                        <img class="imagen" src="./assets/Imagenes/beneficios-software-ventaja-competitiva.jpg" alt="Ventaja competitiva con software a medida" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 5%;text-align: justify;">
                        <div class="spacer2"></div>
                        <h3 data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 5%; text-align:center; color: #005f75; font-family: 'Nunito', sans-serif;">Otorga una ventaja competitiva</h3>
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 5%; text-align:justify">
                            El software a la medida puede ayudar a las empresas a diferenciarse de sus competidores
                        </p>
                        <div class="spacer2"></div>
                        <h3 data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 5%; text-align:center; color: #005f75; font-family: 'Nunito', sans-serif;">Escalabilidad</h3>
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 5%; text-align:justify">
                            La flexibilidad para crecer y evolucionar junto con tu empresa.
                        </p>
                    </div>
                    <div class="dosColumnas">
                        <h3 data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 5%; text-align:center;color: #005f75; font-family: 'Nunito', sans-serif;">Mejora la eficiencia</h3>
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 10%; text-align:justify">
                            El software a la medida puede ayudar a las empresas a automatizar procesos y mejorar la productividad.
                        </p>
                        <div class="spacer2"></div>
                        <h3 data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 5%; text-align:center;color: #005f75; font-family: 'Nunito', sans-serif;">Reduce los costes</h3>
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 10%; text-align:justify">
                            El software a la medida puede ayudar a las empresas a reducir los costes de desarrollo y mantenimiento de software.
                        </p>
                        <img class="imagen" src="./assets/Imagenes/beneficios-software-escalabilidad.jpg" alt="Escalabilidad con software a medida" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 5%;text-align: justify;  margin-top: 50%;transform: translateY(-50%);">
                    </div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>


        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 5%; text-align:center">Diferencias entre software estándar y software a la medida</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                        <div class="spacer2"></div>
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 5%; text-align:justify">
                            El software estándar es un software que está disponible para su compra o descarga. Este software está 
                            diseñado para satisfacer las necesidades generales de una amplia gama de empresas.
                        </p>
                            <div class="spacer2"></div>
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 5%; text-align:justify">
                            A diferencia del software estándar, el software a la medida se adapta específicamente a tus requisitos. 
                            Mientras el software estándar puede requerir ajustes en tus procesos, el software a la medida se ajusta a 
                            tus procesos existentes, ofreciendo una solución sin compromisos.
                        </p>
                        <div class="spacer2"></div>
                        <div class="spacer2"></div>
                    </div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>

        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 data-aos="fade-right" data-aos-duration="3000" style="margin-right: 5%; margin-left: 5%; text-align: center;">Contáctate con nosotros</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                        <div class="spacer2"></div>
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-right: 5%; margin-left: 5%; text-align: justify;">
                            En Neurónica, como empresa de ingeniería en Bogotá, Colombia, realizamos tus proyectos de 
                            desarrollo de software, los cuales potencian el rendimiento y la eficiencia de tu empresa. 
                            Si buscas una herramienta tecnológica única que se alinee perfectamente con tus objetivos comerciales, te 
                            invitamos a descubrir el valor añadido de nuestros servicios. Con Neurónica Ingeniería, tu visión se 
                            convierte en realidad.
                        </p>
                        <div class="spacer2"></div>
                        <a href="https://wa.me/573027218775" style="height: 0.5rem; width: 7rem;">
                            <button class="boton" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 30%; margin-right: 30%;">Contáctanos</button>
                        </a>
                        <div class="spacer2"></div>
                    </div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>        

        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="dosColumnas" style="text-align: center;">
                        <div class="spacer2"></div>
                        <h2 data-aos="fade-right" data-aos-duration="2000">Neurónica</h2>
                        <h3>
                            <form data-aos="fade-right" data-aos-duration="2000">
                                <div class="spacer2"></div>
                                <a href="https://t.me/+573027218775">
                                    <img src="./assets/Imagenes/Telegram.png" alt="telegram" style="width:12%;height:12%;border-radius: 50%">
                                </a>
                                <a href=" https://wa.me/573027218775">
                                    <img src="./assets/Imagenes/WhatsApp.png" alt="whatsapp" style="width:12%;height:12%;border-radius: 50%" href = " https://wa.me/573027218775">
                                </a>
                                    +57 302 721-8775
                            </form>
                        </h3>
                        <h3>
                            <div class="spacer2"></div>
                            <form data-aos="fade-right" data-aos-duration="2000">
                                <a href="mailto:informacion@neuronica.co">
                                    <img src="./assets/Imagenes/gmail.png" alt="gmail" style="width:12%;height:12%;border-radius: 50%" >
                                </a>
                                    informacion@neuronica.co
                            </form>
                            
                        </h3>
                    </div>
                    <div class="dosColumnas" style="text-align: center;">
                        <div class="spacer2"></div>
                        <h2 data-aos="fade-right" data-aos-duration="2000">Regístrate</h2>
                        <div class="spacer2"></div>
                        <p data-aos="fade-right" data-aos-duration="2000">Regístrate y recibe noticias de Neurónica</p>
                        <form data-aos="fade-right" data-aos-duration="2000" action="https://script.google.com/macros/s/AKfycbyzClLtMAzHG9fktzxccG7W7vNtpt7K5fp4XM0r8xs_kQQp73TjexLL3QZusqWzPoMXyg/exec"                      
                        method="post">
                            <div class="spacer2"></div>     
                            <input type="correo" placeholder="ejemplo@gmail.com" name="datoCorreo" style="color: black; background-color: white; border-color: #005f75">
                            <input type="submit" value="Enviar" style="color: white; background-color: #005f75;border-color: white;">        
                        </form>
                        <div class="spacer2"></div>
                        <p data-aos="fade-right" data-aos-duration="2000">Pronto estaremos en contacto contigo.</p>
                    </div>
                </div>
            </div>
            <div class="spacer2"></div>
         </div>
       <div class="spacer2"></div>
    </div>
</body>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11327971754"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'AW-11327971754');
</script>