<body>
    <div class="backimg" style="background-color: white">
       <div class="islaTitulo">
           <div class="spacer"></div>
           <div class="islaTitulo2">
               <div class="spacer2"></div>
               <div class="spacer2"></div>
                   <h1 data-aos="fade-right" data-aos-duration="3000" style="line-height: 5rem;">Impresión 3D</h1>
                   <div class="spacer2"></div>
                   <h3 data-aos="fade-right"  data-aos-duration="2000">Productos personalizados</h3>
                   <div class="spacer2"></div>
           </div>
           <div class="spacer"></div>
       </div>
    </div>

    <div class="fondo">
        <div class="spacer2"></div>
        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <div class="cuadrado"  style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                        <div class="spacer2"></div>
                        <h4 style="margin-left: 5%; margin-right: 5%; text-align: center;" data-aos="fade-right" data-aos-duration="2000">
                            Descubre el futuro de la fabricación personalizada con Neurónica
                        </h4>
                        <div class="spacer2"></div>
                    </div>
                </div>                     
            </div>
            <div class="spacer2"></div>
        </div>
        <div class="spacer2"></div>
        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 style="text-align: center;" data-aos="fade-right" data-aos-duration="2000">¿Que es la impresión 3D?</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                        <div class="spacer2"></div>
                    </div>
                    <div class="spacer2"></div>
                    <div class="dosColumnas">
                        <h4 style="margin-left: 10%; margin-right: 5%; text-align:justify" data-aos="fade-right" data-aos-duration="2000">
                            La impresión 3D es una tecnología revolucionaria 
                            que permite convertir ideas en objetos tangibles. Desde prototipos hasta productos finales, transformamos conceptos 
                            en realidad con precisión y eficiencia.
                        </h4>
                    </div>
                    <div class="dosColumnas">
                        <img class="imagen" src="./assets/Imagenes/Impresion1.png" alt="Impresión 1" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%;margin-right: 10%; margin-top: 22%;transform: translateY(-50%);">

                        <div class="spacer2"></div>
                    </div>
                    <div class="spacer2"></div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>

        <div class="spacer2"></div>
        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 style="text-align: center;" data-aos="fade-right" data-aos-duration="2000">Impresión 3D con FDM y LCD: Explorando opciones</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                        <div class="spacer2"></div>
                    </div>
                    <div class="spacer2"></div>
                    <div class="dosColumnas">
                        <h4 style="margin-left: 10%; margin-right: 5%; text-align:justify" data-aos="fade-right" data-aos-duration="2000">
                            En Neurónica, ofrecemos dos tecnologías líderes: FDM (Modelado por Deposición Fundida) y LCD (Curado de Luz). 
                            FDM destaca por su versatilidad y resistencia, mientras que LCD brinda detalles finos y rapidez. Descubre las 
                            ventajas y desventajas de cada opción para elegir la mejor para tu proyecto.
                        </h4>
                    </div>
                    <div class="dosColumnas">
                        <img class="imagen" src="./assets/Imagenes/Impresion2.png" alt="Impresión 2" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%;margin-right: 10%; margin-top: 22%;transform: translateY(-50%);">

                        <div class="spacer2"></div>
                    </div>
                    <div class="spacer2"></div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>
        <div class="spacer2"></div>
        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 style="text-align: center;" data-aos="fade-right" data-aos-duration="2000">Materiales de impresión con FDM: Personaliza tu creación</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                        <div class="spacer2"></div>
                    </div>
                    <div class="spacer2"></div>
                    <div class="dosColumnas">
                        <h4 style="margin-left: 10%; margin-right: 5%; text-align:justify" data-aos="fade-right" data-aos-duration="2000">
                            Con Neurónica, tienes acceso a una variedad de materiales para FDM. Desde el PLA versátil hasta el resistente 
                            ABS, exploramos opciones como PETG y TPU. Cada material tiene sus propias ventajas y desventajas, permitiéndote 
                            personalizar la resistencia, flexibilidad y acabado de tu impresión.
                        </h4>
                    </div>
                    <div class="dosColumnas">
                        <img class="imagen" src="./assets/Imagenes/Impresion3.png" alt="Impresión 3" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%;margin-right: 10%; margin-top: 25%;transform: translateY(-50%);">

                        <div class="spacer2"></div>
                    </div>
                    <div class="spacer2"></div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>
        <div class="spacer2"></div>
        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 style="text-align: center;" data-aos="fade-right" data-aos-duration="2000">Invitación a la innovación: Tu proyecto, nuestra prioridad</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                        <div class="spacer2"></div>
                    </div>
                    <div class="spacer2"></div>
                    <div class="dosColumnas">
                        <h4 style="margin-left: 10%; margin-right: 5%; text-align:justify" data-aos="fade-right" data-aos-duration="2000">
                            ¿Listo para dar vida a tus ideas? En Neurónica, entendemos la importancia de cada proyecto. Confía en 
                            nuestro equipo de ingenieros en Bogotá para llevar tus diseños al siguiente nivel. Desde prototipos hasta 
                            producción a gran escala, estamos comprometidos a hacer realidad tus visiones con la precisión de la 
                            impresión 3D.
                        </h4>
                    </div>
                    <div class="dosColumnas">
                        <img class="imagen" src="./assets/Imagenes/Impresion4.png" alt="Impresión 4" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%;margin-right: 10%; margin-top: 27%;transform: translateY(-50%);">

                        <div class="spacer2"></div>
                    </div>
                    <div class="spacer2"></div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>
        <div class="spacer2"></div>
        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 data-aos="fade-right" data-aos-duration="3000" style="margin-right: 5%; margin-left: 5%; text-align: center;">Contáctate con nosotros</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                        <div class="spacer2"></div>
                        <h4 data-aos="fade-right" data-aos-duration="3000" style="margin-right: 5%; margin-left: 5%; text-align: justify;">
                            Impulsa tu innovación con Neurónica. Contáctanos para explorar cómo la impresión 3D puede potenciar tu 
                            proyecto. Somos tu socio confiable en ingeniería y fabricación, sirviendo a la comunidad de Bogotá con 
                            soluciones personalizadas. ¡Convierte tus ideas en realidad con Neurónica!
                        </h4>
                        <div class="spacer2"></div>
                        <a href="https://wa.me/573027218775" style="height: 0.5rem; width: 7rem;">
                            <button class="boton" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 30%; margin-right: 30%;">Contáctanos</button>
                        </a>
                        <div class="spacer2"></div>
                    </div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>        

        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="dosColumnas" style="text-align: center;">
                        <div class="spacer2"></div>
                        <h2 data-aos="fade-right" data-aos-duration="2000">Neurónica</h2>
                        <h4>
                            <form data-aos="fade-right" data-aos-duration="2000">
                                <div class="spacer2"></div>
                                <a href="https://t.me/+573027218775">
                                    <img src="./assets/Imagenes/Telegram.png" alt="telegram" style="width:12%;height:12%;border-radius: 50%">
                                </a>
                                <a href=" https://wa.me/573027218775">
                                    <img src="./assets/Imagenes/WhatsApp.png" alt="whatsapp" style="width:12%;height:12%;border-radius: 50%" href = " https://wa.me/573027218775">
                                </a>
                                    +57 302 721-8775
                            </form>
                        </h4>
                        <h4>
                            <div class="spacer2"></div>
                            <form data-aos="fade-right" data-aos-duration="2000">
                                <a href="mailto:informacion@neuronica.co">
                                    <img src="./assets/Imagenes/gmail.png" alt="gmail" style="width:12%;height:12%;border-radius: 50%" >
                                </a>
                                    informacion@neuronica.co
                            </form>
                            
                        </h4>
                    </div>
                    <div class="dosColumnas" style="text-align: center;">
                        <div class="spacer2"></div>
                        <h2 data-aos="fade-right" data-aos-duration="2000">Regístrate</h2>
                        <div class="spacer2"></div>
                        <h4 data-aos="fade-right" data-aos-duration="2000">Regístrate y recibe noticias de Neurónica</h4>
                        <form data-aos="fade-right" data-aos-duration="2000" action="https://script.google.com/macros/s/AKfycbxZ_pqSl6nD607rVSnP28fjqnSYPGkwfQHHxzLjtiGLSfkCJGW2VlY_iaN8wS-Yg5EELQ/exec"                      
                        method="post">
                            <div class="spacer2"></div>     
                            <input type="correo" placeholder="ejemplo@gmail.com" name="datoCorreo" style="color: black; background-color: white; border-color: #005f75">
                            <input type="submit" value="Enviar" style="color: white; background-color: #005f75;border-color: white;">        
                        </form>
                        <div class="spacer2"></div>
                        <h4 data-aos="fade-right" data-aos-duration="2000">Pronto estaremos en contacto contigo.</h4>
                    </div>
                </div>
            </div>
            <div class="spacer2"></div>
         </div>
       <div class="spacer2"></div>
    </div>
</body>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11327971754"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'AW-11327971754');
</script>
