<body>
    <div class="backimg" style="background-color: white">
       <div class="islaTitulo">
           <div class="spacer"></div>
           <div class="islaTitulo2">
               <div class="spacer2"></div>
               <div class="spacer2"></div>
                   <h1 data-aos="fade-right" data-aos-duration="3000" style="line-height: 5rem;">Impresión 3D</h1>
                   <div class="spacer2"></div>
                   <h4 data-aos="fade-right"  data-aos-duration="2000">Productos personalizados</h4>
                   <div class="spacer2"></div>
           </div>
           <div class="spacer"></div>
       </div>
    </div>

    <div class="fondo">
        <div class="spacer2"></div>
        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <div class="cuadrado"  style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                        <div class="spacer2"></div>
                        <p style="margin-left: 5%; margin-right: 5%; text-align: center;" data-aos="fade-right" data-aos-duration="2000">
                            Descubre el futuro de la fabricación personalizada con Neurónica
                        </p>
                        <div class="spacer2"></div>
                    </div>
                </div>                     
            </div>
            <div class="spacer2"></div>
        </div>
        <div class="spacer2"></div>
        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 style="margin-left: 5%; margin-right: 5%; text-align: center;" data-aos="fade-right" data-aos-duration="2000">¿Qué es la impresión 3D?</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                        <div class="spacer2"></div>
                    </div>
                    <div class="spacer2"></div>
                    <div class="dosColumnas">
                        <p style="margin-left: 10%; margin-right: 5%; text-align:justify" data-aos="fade-right" data-aos-duration="2000">
                            La impresión 3D es una tecnología revolucionaria 
                            que permite convertir ideas en objetos tangibles. Desde prototipos hasta productos finales, transformamos conceptos 
                            en realidad con precisión y eficiencia.
                        </p>
                    </div>
                    <div class="dosColumnas">
                        <img class="imagen" src="./assets/Imagenes/impresion3d.png" alt="Impresión 3D: Tecnología que transforma ideas en objetos tangibles con precisión y eficiencia." data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%;margin-right: 10%; margin-top: 22%;transform: translateY(-50%);">

                        <div class="spacer2"></div>
                    </div>
                    <div class="spacer2"></div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>

        <div class="spacer2"></div>
        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 style="margin-left: 5%; margin-right: 5%; text-align: center;" data-aos="fade-right" data-aos-duration="2000">Impresión 3D en Bogotá con FDM y LCD: Explorando opciones</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                        <div class="spacer2"></div>
                    </div>
                    <div class="spacer2"></div>
                    <div class="dosColumnas">
                        <p style="margin-left: 10%; margin-right: 5%; text-align:justify" data-aos="fade-right" data-aos-duration="2000">
                            En Neurónica, ofrecemos dos tecnologías líderes: FDM (Modelado por Deposición Fundida) y LCD (Curado de Luz). 
                            FDM destaca por su versatilidad y resistencia, mientras que LCD brinda detalles finos y rapidez. Descubre las 
                            ventajas y desventajas de cada opción para elegir la mejor para tu proyecto.
                        </p>
                    </div>
                    <div class="dosColumnas">
                        <img class="imagen" src="./assets/Imagenes/impresion3d_tecnologias.png" alt="Impresión 3D en Bogotá: Explorando tecnologías FDM y LCD para personalizar tu proyecto." data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%;margin-right: 10%; margin-top: 22%;transform: translateY(-50%);">

                        <div class="spacer2"></div>
                    </div>
                    <div class="spacer2"></div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>
        <div class="spacer2"></div>
        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 style="margin-left: 5%; margin-right: 5%; text-align: center;" data-aos="fade-right" data-aos-duration="2000">Materiales de impresión con FDM: Personaliza tu creación</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                        <div class="spacer2"></div>
                    </div>
                    <div class="spacer2"></div>
                    <div class="dosColumnas">
                        <p style="margin-left: 10%; margin-right: 5%; text-align:justify" data-aos="fade-right" data-aos-duration="2000">
                            Con Neurónica, tienes acceso a una variedad de materiales para FDM. Desde el PLA versátil hasta el resistente 
                            ABS, exploramos opciones como PETG y TPU. Cada material tiene sus propias ventajas y desventajas, permitiéndote 
                            personalizar la resistencia, flexibilidad y acabado de tu impresión.
                        </p>
                    </div>
                    <div class="dosColumnas">
                        <img class="imagen" src="./assets/Imagenes/materiales_fdm.png" alt="Materiales de impresión con FDM: PLA, ABS, PETG, TPU y más para personalizar tus creaciones." data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%;margin-right: 10%; margin-top: 25%;transform: translateY(-50%);">

                        <div class="spacer2"></div>
                    </div>
                    <div class="spacer2"></div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>

        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 style="margin-left: 5%; margin-right: 5%; text-align: center;" data-aos="fade-right" data-aos-duration="2000">Modelado y Diseño 3D: Explora el Futuro con Nosotros</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                        <div class="spacer2"></div>
                    </div>
                    <div class="spacer2"></div>
                    <div class="dosColumnas">
                        <img class="imagen" src="./assets/Imagenes/modelado_diseno_3d.jpg" alt="Modelado y Diseño 3D con Neurónica: Desde la conceptualización hasta la creación, explorando el emocionante mundo del diseño tridimensional." data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%;margin-right: 10%; margin-top: 25%;transform: translateY(-50%);">
                        <div class="spacer2"></div>
                    </div>
                    <div class="dosColumnas">
                        <p style="margin-left: 10%; margin-right: 5%; text-align:justify" data-aos="fade-right" data-aos-duration="2000">
                            Sumérgete en el emocionante mundo del modelado y diseño 3D con Neurónica. Transformamos ideas en realidad 
                            con nuestras avanzadas capacidades de diseño tridimensional. Desde la conceptualización hasta la creación, 
                            te guiamos en cada paso para garantizar resultados asombrosos y personalizados.
                        </p>
                    </div>
                    <div class="spacer2"></div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>

        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 style="margin-left: 5%; margin-right: 5%; text-align: center;" data-aos="fade-right" data-aos-duration="2000">Personalización Única con Impresión 3D: Tu Identidad en Cada Detalle</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                        <div class="spacer2"></div>
                    </div>
                    <div class="spacer2"></div>
                    <div class="dosColumnas">
                        <p style="margin-left: 10%; margin-right: 5%; text-align:justify" data-aos="fade-right" data-aos-duration="2000">
                            Explora la Personalización Única con Impresión 3D: Diseño y Modelado Exclusivo de 
                            Piezas para tu Identidad de Marca. En Neurónica, creamos y personalizamos cada 
                            detalle con nuestra tecnología de impresión 3D. Desde el modelado hasta la realidad, 
                            cada pieza refleja tu marca en productos cotidianos. Descubre la innovación y la 
                            creatividad en cada proyecto con nuestro servicio de impresión 3D en Bogotá.
                        </p>
                    </div>
                    <div class="dosColumnas">
                        <div class="spacer2"></div>
                        <img class="imagen" src="./assets/Imagenes/personalizacion_unica_impresion_3d.jpg" alt="Personalización Única con Impresión 3D: Diseño y Modelado Exclusivo de Piezas para tu Identidad de Marca con Neurónica." data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%;margin-right: 10%; margin-top: 25%;transform: translateY(-50%);">
                        <div class="spacer2"></div>
                    </div>
                    <div class="spacer2"></div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>

        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 style="margin-left: 5%; margin-right: 5%; text-align: center;" data-aos="fade-right" data-aos-duration="2000">Prototipado 3D: De la Idea a la Realidad Tangible con Neurónica</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                        <div class="spacer2"></div>
                    </div>
                    <div class="spacer2"></div>
                    <div class="dosColumnas">
                        <img class="imagen" src="./assets/Imagenes/prototipado_3d.jpg" alt="Prototipado 3D: De la Idea a la Realidad Tangible con Neurónica." data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%;margin-right: 10%; margin-top: 25%;transform: translateY(-50%);">

                        <div class="spacer2"></div>
                    </div>
                    <div class="dosColumnas">
                        <p style="margin-left: 10%; margin-right: 5%; text-align:justify" data-aos="fade-right" data-aos-duration="2000">
                            ¿Tienes una idea innovadora? Conviértela en realidad tangible con nuestro servicio 
                            de prototipado 3D. Desde el concepto inicial hasta el prototipo funcional, nuestro 
                            equipo altamente capacitado te acompaña en cada etapa. Agilizamos el proceso para 
                            que tu visión cobre vida de manera eficiente y sorprendente.
                        </p>
                    </div>
                    <div class="spacer2"></div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>

        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 style="margin-left: 5%; margin-right: 5%; text-align: center;" data-aos="fade-right" data-aos-duration="2000">Fabricación de Piezas 3D: Soluciones Innovadoras a tu Alcance</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                        <div class="spacer2"></div>
                    </div>
                    <div class="spacer2"></div>
                    <div class="dosColumnas">
                        <p style="margin-left: 10%; margin-right: 5%; text-align:justify" data-aos="fade-right" data-aos-duration="2000">
                            Explora soluciones innovadoras con nuestra fabricación de piezas 3D. Utilizando tecnologías FDM y LCD, 
                            trabajamos con una variedad de materiales como PLA, PETG, TPU y ABS. Ofrecemos más que impresiones; 
                            ofrecemos soluciones que impulsan la innovación. Descubre el potencial ilimitado de la fabricación de 
                            piezas 3D con Neurónica.
                        </p>
                    </div>
                    <div class="dosColumnas">
                        <img class="imagen" src="./assets/Imagenes/fabricacion_piezas_3d.png" alt="Fabricación de Piezas 3D: Soluciones Innovadoras a tu Alcance" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%;margin-right: 10%; margin-top: 27%;transform: translateY(-50%);">

                        <div class="spacer2"></div>
                    </div>
                    <div class="spacer2"></div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>
        <div class="spacer2"></div>
        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 data-aos="fade-right" data-aos-duration="3000" style="margin-right: 5%; margin-left: 5%; text-align: center;">Contáctate con nosotros</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                        <div class="spacer2"></div>
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-right: 5%; margin-left: 5%; text-align: justify;">
                            Impulsa tu innovación con Neurónica. Contáctanos para explorar cómo la impresión 3D puede potenciar tu 
                            proyecto. Somos tu socio confiable en ingeniería y fabricación, sirviendo a la comunidad de Bogotá con 
                            soluciones personalizadas. ¡Convierte tus ideas en realidad con Neurónica!
                        </p>
                        <div class="spacer2"></div>
                        <a href="https://wa.me/573027218775" style="height: 0.5rem; width: 7rem;">
                            <button class="boton" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 30%; margin-right: 30%;">Contáctanos </button>
                        </a>
                        <div class="spacer2"></div>
                    </div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>        

        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="dosColumnas" style="text-align: center;">
                        <div class="spacer2"></div>
                        <h2 data-aos="fade-right" data-aos-duration="2000">Neurónica</h2>
                        <h3>
                            <form data-aos="fade-right" data-aos-duration="2000">
                                <div class="spacer2"></div>
                                <a href="https://t.me/+573027218775">
                                    <img src="./assets/Imagenes/Telegram.png" alt="telegram" style="width:12%;height:12%;border-radius: 50%">
                                </a>
                                <a href=" https://wa.me/573027218775">
                                    <img src="./assets/Imagenes/WhatsApp.png" alt="whatsapp" style="width:12%;height:12%;border-radius: 50%" href = " https://wa.me/573027218775">
                                </a>
                                    +57 302 721-8775
                            </form>
                        </h3>
                        <h3>
                            <div class="spacer2"></div>
                            <form data-aos="fade-right" data-aos-duration="2000">
                                <a href="mailto:informacion@neuronica.co">
                                    <img src="./assets/Imagenes/gmail.png" alt="gmail" style="width:12%;height:12%;border-radius: 50%" >
                                </a>
                                    informacion@neuronica.co
                            </form>
                            
                        </h3>
                    </div>
                    <div class="dosColumnas" style="text-align: center;">
                        <div class="spacer2"></div>
                        <h2 data-aos="fade-right" data-aos-duration="2000">Regístrate</h2>
                        <div class="spacer2"></div>
                        <p data-aos="fade-right" data-aos-duration="2000">Regístrate y recibe noticias de Neurónica</p>
                        <form data-aos="fade-right" data-aos-duration="2000" action="https://script.google.com/macros/s/AKfycbyzClLtMAzHG9fktzxccG7W7vNtpt7K5fp4XM0r8xs_kQQp73TjexLL3QZusqWzPoMXyg/exec"                      
                        method="post">
                            <div class="spacer2"></div>     
                            <input type="correo" placeholder="ejemplo@gmail.com" name="datoCorreo" style="color: black; background-color: white; border-color: #005f75">
                            <input type="submit" value="Enviar" style="color: white; background-color: #005f75;border-color: white;">        
                        </form>
                        <div class="spacer2"></div>
                        <p data-aos="fade-right" data-aos-duration="2000">Pronto estaremos en contacto contigo.</p>
                    </div>
                </div>
            </div>
            <div class="spacer2"></div>
         </div>
       <div class="spacer2"></div>
    </div>
</body>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11327971754"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'AW-11327971754');
</script>
