<div class="backimg" style="background-color: white;">
    <div class="islaTitulo">
        <div class="spacer"></div>
        <div class="islaTitulo2">
            <div class="spacer2"></div>
            <div class="spacer2"></div>
                <h1 data-aos="fade-right" data-aos-duration="3000">Ingeniería Empresarial</h1>
                <div class="spacer2"></div>
                <h3 data-aos="fade-right"  data-aos-duration="2000">Empresas más eficientes</h3>
                <div class="spacer2"></div>
        </div>
        <div class="spacer"></div>
    </div>
</div>

<div class="fondo" style="background-color: aqua;">
    <div class="spacer2"></div>

    <div class="contenedorColumnas">
        <div class="spacer2"></div>
        <div class="bordeAzul">
            <div class="filas">
                <div class="unaColumna">
                    <div class="spacer2"></div>
                    <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000" style="margin-left: 5%; margin-right: 5%;"></div>
                    <div class="spacer2"></div>
                    <h4 style="margin-left: 5%; margin-right: 5%;" data-aos="fade-right" data-aos-duration="2000">
                        Nos erigimos como un socio estratégico de envergadura para las empresas, 
                        encargados de poner las tecnologías más avanzadas al alcance de nuestros 
                        clientes. Nuestra misión es solventar una amplia gama de desafíos, optimizar 
                        eficiencias operativas y fomentar el crecimiento de las nuevas empresas. Los 
                        proyectos empresariales que orquestamos abarcan un espectro diversificado, siendo 
                        pilares fundamentales Software, Hardware, manufactura y telecomunicaciones.   
                    </h4>
                    <div class="spacer2"></div>
                </div>
            </div>
        </div>
        <div class="spacer2"></div>
    </div>

    <div class="spacer2"></div>

    <div class="contenedorColumnas">
        <div class="spacer2"></div>
        <div class="bordeAzul" style="border: 1px solid white;;">
            <div class="filas">
                <div class="unaColumna">
                    <div class="spacer2"></div>
                    <h2 style="text-align: center;" data-aos="fade-right" data-aos-duration="2000">Servicios</h2>
                    <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000" style="margin-left: 5%; margin-right: 5%;"></div>
                    <div class="spacer2"></div>
                </div>
                <div class="dosColumnas">
                    <div class="subcuadro" style="margin-left: 5%; margin-right: 5%;">
                        <div class="spacer2"></div>
                        <h2 style="text-align: center;" data-aos="fade-right" data-aos-duration="2000">Cablado estructurado</h2>
                        <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000" style="margin-left: 5%; margin-right: 5%;"></div>
                        <div class="spacer2"></div>
                        <h4 style="margin-left: 5%; margin-right: 5%; text-align: justify;" data-aos="fade-right" data-aos-duration="2000">
                            Conecta tu mundo con precisión y eficiencia. En Neurónica, ofrecemos servicios de cableado estructurado 
                            que van más allá de la conexión. Integrando voz, datos y video para una comunicación sin fisuras.
                        </h4>
                        <div class="spacer2"></div>
                        <img class="imagen2" src="./assets/Imagenes/Cableado.jpg" alt="Empresarial 1" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 50%;transform: translateX(-50%);">
                        <div class="spacer2"></div>
                        <a href="/Cableado">
                            <button class="boton" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 50%;transform: translateX(-50%);">Cotizar</button>
                        </a>
                        <div class="spacer2"></div>
                    </div>
                    <div class="spacer2"></div>
                    <div class="subcuadro" style="margin-left: 5%; margin-right: 5%;">
                        <div class="spacer2"></div>
                        <h2 style="text-align: center;" data-aos="fade-right" data-aos-duration="2000">Diseño electrónico</h2>
                        <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000" style="margin-left: 5%; margin-right: 5%;"></div>
                        <div class="spacer2"></div>
                        <h4 style="margin-left: 5%; margin-right: 5%; text-align: justify;" data-aos="fade-right" data-aos-duration="2000">
                            En Neurónica, llevamos la personalización al siguiente nivel con nuestro servicio de diseño electrónico y prototipado. 
                            Diseñamos soluciones únicas que se adaptan perfectamente a tus requisitos. Desde concepto hasta creación, 
                            construimos el hardware que impulsa tus ideas. 
                        </h4>
                        <div class="spacer2"></div>
                        <img class="imagen2" src="./assets/Imagenes/Hardware.jpg" alt="Empresarial 2" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 50%;transform: translateX(-50%);">
                        <div class="spacer2"></div>
                        <a href="/Hardware">
                            <button class="boton" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 50%;transform: translateX(-50%);">Cotizar</button>
                        </a>
                        <div class="spacer2"></div>
                    </div>
                </div>
                <div class="dosColumnas">
                    <div class="subcuadro" style="margin-left: 5%; margin-right: 5%;">
                        <div class="spacer2"></div>
                        <h2 style="text-align: center;" data-aos="fade-right" data-aos-duration="2000">Software a la medida</h2>
                        <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000" style="margin-left: 5%; margin-right: 5%;"></div>
                        <div class="spacer2"></div>
                        <h4 style="margin-left: 5%; margin-right: 5%; text-align: justify;" data-aos="fade-right" data-aos-duration="2000">
                            Potencia tu empresa con soluciones a medida. En Neurónica, creamos software personalizado 
                            que se adapta a tus necesidades específicas. Transforma tus procesos, optimiza la eficiencia y destaca 
                            en tu industria.
                        </h4>
                        <div class="spacer2"></div>
                        <img class="imagen2" src="./assets/Imagenes/Software.jpg" alt="Empresarial 3" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 50%;transform: translateX(-50%);">
                        <div class="spacer2"></div>
                        <a href="/Software">
                            <button class="boton" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 50%;transform: translateX(-50%);">Cotizar</button>
                        </a>
                        <div class="spacer2"></div>
                    </div>
                    <div class="spacer2"></div>
                    <div class="subcuadro" style="margin-left: 5%; margin-right: 5%;">
                        <div class="spacer2"></div>
                        <h2 style="text-align: center;" data-aos="fade-right" data-aos-duration="2000">Impresión 3D</h2>
                        <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000" style="margin-left: 5%; margin-right: 5%;"></div>
                        <div class="spacer2"></div>
                        <h4 style="margin-left: 5%; margin-right: 5%; text-align: justify;" data-aos="fade-right" data-aos-duration="2000">
                            Descubre la revolución en manufactura con Neurónica. Nuestro servicio de impresión 3D a medida lleva la personalización 
                            al siguiente nivel. Desde prototipos hasta productos finales, damos vida a tus ideas con precisión y calidad. ¡Innova con 
                            nosotros y crea el futuro en cada capa!
                        </h4>
                        <div class="spacer2"></div>
                        <img class="imagen2" src="./assets/Imagenes/impresion.png" alt="Empresarial 4" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 50%;transform: translateX(-50%);">
                        <div class="spacer2"></div>
                        <a href="/Impresion">
                            <button class="boton" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 50%;transform: translateX(-50%);">Cotizar</button>
                        </a>
                        <div class="spacer2"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="spacer2"></div>
    </div>

    <div class="spacer2"></div>

    <div class="contenedorColumnas">
        <div class="spacer2"></div>
        <div class="bordeAzul">
            <div class="filas">
                <div class="unaColumna">
                    <div class="spacer2"></div>
                    <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000" style="margin-left: 5%; margin-right: 5%;"></div>
                    <div class="spacer2"></div>
                    <h4 style="margin-left: 5%; margin-right: 5%; text-align: justify;" data-aos="fade-right" data-aos-duration="2000">
                        En cada uno de nuestros proyectos, aplicamos tecnologías de vanguardia, 
                        respaldadas por una incansable búsqueda de la innovación. Trabajamos con 
                        herramientas y plataformas de última generación, asegurando que nuestros 
                        clientes se beneficien de soluciones tecnológicas punteras que impulsen 
                        su éxito. 
                    </h4>
                    <div class="spacer2"></div>
                </div>
            </div>
        </div>
        <div class="spacer2"></div>
    </div>

    <div class="spacer2"></div>

    <div class="contenedorColumnas">
        <div class="spacer2"></div>
        <div class="bordeAzul">
            <div class="filas">
                <div class="dosColumnas" style="text-align: center;">
                    <div class="spacer2"></div>
                    <h2 data-aos="fade-right" data-aos-duration="2000">Neurónica</h2>
                    <h4>
                        <form data-aos="fade-right" data-aos-duration="2000">
                            <div class="spacer2"></div>
                            <a href="https://t.me/+573027218775">
                                <img src="./assets/Imagenes/Telegram.png" alt="telegram" style="width:12%;height:12%;border-radius: 50%">
                            </a>
                            <a href=" https://wa.me/573027218775">
                                <img src="./assets/Imagenes/WhatsApp.png" alt="whatsapp" style="width:12%;height:12%;border-radius: 50%" href = " https://wa.me/573027218775">
                            </a>
                                +57 302 721-8775
                        </form>
                    </h4>
                    <h4>
                        <div class="spacer2"></div>
                        <form data-aos="fade-right" data-aos-duration="2000">
                            <a href="mailto:informacion@neuronica.co">
                                <img src="./assets/Imagenes/gmail.png" alt="gmail" style="width:12%;height:12%;border-radius: 50%" >
                            </a>
                                informacion@neuronica.co
                        </form>
                        
                    </h4>
                </div>
                <div class="dosColumnas" style="text-align: center;">
                    <div class="spacer2"></div>
                    <h2 data-aos="fade-right" data-aos-duration="2000">Registrate</h2>
                    <div class="spacer2"></div>
                    <h4 data-aos="fade-right" data-aos-duration="2000">Regístrate y recibe noticias de Neurónica</h4>
                    <form data-aos="fade-right" data-aos-duration="2000" action="https://script.google.com/macros/s/AKfycbxZ_pqSl6nD607rVSnP28fjqnSYPGkwfQHHxzLjtiGLSfkCJGW2VlY_iaN8wS-Yg5EELQ/exec"                      
                    method="post">
                        <div class="spacer2"></div>     
                        <input type="correo" placeholder="ejemplo@gmail.com" name="datoCorreo" style="color: black; background-color: white; border-color: #005f75">
                        <input type="submit" value="Enviar" style="color: white; background-color: #005f75;border-color: white;">        
                    </form>
                    <div class="spacer2"></div>
                    <h4 data-aos="fade-right" data-aos-duration="2000">Pronto estaremos en contacto contigo.</h4>
                </div>
            </div>
        </div>
        <div class="spacer2"></div>
     </div>
    <div class="spacer2"></div>
</div>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11327971754"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-11327971754');
</script>