<div class="fondo">
    <div class="spacer2"></div>
        <div class="contenedorColumnas">
           <div class="spacer2"></div>
           <div class="bordeAzul">
               <div class="filas">
                   <div class="unaColumna">
                       <div class="spacer2"></div>
                       <h2 style="margin-left: 5%; margin-right: 5%; text-align: center;" data-aos="fade-right" data-aos-duration="2000">Placa de circuito impreso (PCB)</h2>
                       <div class="cuadrado" data-aos="fade-left" data-aos-duration="2000" style="margin-left: 5%; margin-right: 5%;"></div>
                       <div class="spacer2"></div>
                   </div>

                    <div class="spacer2"></div>

                    <div style="margin-left: 5%; margin-right: 5%; justify-content: center;">
                        <div class="contenedorImagen">
                            <img class="imagen" src="./assets/Imagenes/diseño-manufactura-pcb.webp" alt="Diseño y manufactura de placas de circuito impreso (PCB)" data-aos="fade-right" data-aos-duration="3000">      
                        </div>
                        <p style="margin-left: 5%; margin-right: 5%;text-align: justify;" data-aos="fade-left" data-aos-duration="2000">
                            En <strong>Neurónica</strong>, llevamos el diseño de placas de circuito impreso (PCB) a otro nivel, 
                            gestionando proyectos de prototipado electrónico y producciones completas. Nuestro 
                            equipo crea diseños monocapa y multicapa con software de vanguardia, enfocándose 
                            en la fiabilidad, el rendimiento y la eficiencia de cada circuito.
                        </p>
                        
                        <p style="margin-left: 5%; margin-right: 5%;text-align: justify;" data-aos="fade-right" data-aos-duration="2000">
                            Además, ofrecemos servicios de manufactura de PCB, asegurando la calidad en todo el 
                            proceso. Si buscas un servicio más integral como PCBA, contáctanos: un asesor especializado 
                            te ayudará a optimizar tus tiempos y a maximizar la calidad de tus proyectos de placas de 
                            circuito impreso.
                        </p>
                        <p style="margin-left: 5%; margin-right: 5%;text-align: justify;" data-aos="fade-left" data-aos-duration="2000">
                            En <strong>Neurónica</strong>, tu idea se convierte en un prototipo funcional y escalable, listo para dar
                            el salto a la producción en serie. 
                            ¡Haz realidad tu próxima innovación con nuestras soluciones de PCB, prototipado electrónico 
                            y PCBA!
                        </p>
                   </div>
                   <div class="spacer2"></div>
               </div>
           </div>
           <div class="spacer2"></div>
       </div>

    <div class="spacer2"></div>

    <div class="contenedorColumnas">
        <div class="spacer2"></div>
        <div class="bordeAzul">
            <div class="filas">
                <div class="unaColumna" style="display: inline-block; justify-content: center; align-items: center;">
                    <div class="spacer2"></div>
                    <h2 data-aos="fade-right" data-aos-duration="3000" style="margin-right: 5%; margin-left: 5%; text-align: center;">¿Por qué elegir Neurónica?</h2>
                    <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-left" data-aos-duration="2000"></div>
                    <div class="spacer2"></div>
                    <p data-aos="fade-right" data-aos-duration="3000" style="margin-right: 5%; margin-left: 5%; text-align: justify;">
                        En <strong>Neurónica</strong>, brindamos servicios integrales enfocados en el diseño de producto, cubriendo 
                        cada fase: desde el levantamiento de información y el prototipado electrónico hasta la 
                        producción masiva. Con nuestra experiencia en placas de circuito impreso (PCB), aseguramos 
                        calidad y eficiencia en cada proyecto. Confiar en <strong>Neurónica</strong> significa trabajar con un equipo 
                        comprometido en convertir tus ideas en productos exitosos.
                    </p>
                    <div class="spacer2"></div>
                    <div class="unaColumna" style="display: flex; justify-content: center; align-items: center;">
                       <a href="https://wa.me/573027218775" style="height: 0.5rem; width: 7rem;">
                           <button class="boton" data-aos="fade-left" data-aos-duration="3000">Contáctanos</button>
                       </a>
                    </div>
                    <div class="spacer2"></div>
                </div>
                <div class="spacer2"></div>
            </div>
            <div class="spacer2"></div>
        </div>
        <div class="spacer2"></div>
    </div>        

    <div class="spacer2"></div>
    <app-footer-container></app-footer-container>
 </div>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11327971754"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'AW-11327971754');
</script>

