body{
    background-color: white;
}

h1{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: #005f75;
    font-size: 52px; 
}

h2{
    font-family: 'Nunito', sans-serif;
    color: #005f75;
    font-size: 35px;
    line-height: 100%;
}

h4{
    font-family: 'Nunito', sans-serif;
    color: #750049;
    font-size: 35px; 
}

h3{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    line-height: 150%;
}

p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    line-height: 150%;
}

a{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    animation-duration: 2s;
    animation-name: slidein;
}

input{
    background-color: #005f75;
    font-family: 'Nunito', sans-serif;
    color:#750049;
    border-color: black;
    border-radius: 10px;
    height: 70%;
    width: 40%;
}

.backimg{
    background: url("/assets/Imagenes/hogar.jpg");
    width: getwidth;
    height: getheight;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.subcuadro{
    border: 0.1rem solid #D37600;
    text-align: justify;
    display: 50%;
    flex: 50%;
    border-radius: 3vw;
    margin-bottom: 5%;
    margin-left: 5%; 
    margin-right: 5%;
    width: 30vw; 
    height: 50vw;
}

@media only screen and (min-width: 900px) and (max-width: 1050px){
    .subcuadro{
        border: 0.1rem solid #D37600;
        text-align: justify;
        display: 50%;
        flex: 50%;
        border-radius: 3vw;
        margin-bottom: 5%;
        margin-left: 5%; 
        margin-right: 5%;
        width: 30vw; 
        height: 58vw;
    }
}
@media only screen and (min-width: 816px) and (max-width: 900px){
    
    .subcuadro{
        border: 0.1rem solid #D37600;
        text-align: justify;
        display: 50%;
        flex: 50%;
        border-radius: 3vw;
        margin-bottom: 5%;
        margin-left: 5%; 
        margin-right: 5%;
        width: 30vw; 
        height: 67vw;
    }

    h1{
        font-family: 'Nunito', sans-serif;
        text-align: center;
        color: #005f75;
        font-size: 45px; 
    }

    h2{
        font-family: 'Nunito', sans-serif;
        color: #005f75;
        font-size: 28px;
        line-height: 100%;
    }

    h4{
        font-family: 'Nunito', sans-serif;
        color: #750049;
        font-size: 28px; 
    }
}

@media only screen and (min-width: 701px) and (max-width: 815px){
    .subcuadro{
        border: 0.1rem solid #D37600;
        text-align: justify;
        display: 50%;
        flex: 50%;
        border-radius: 3vw;
        margin-bottom: 5%;
        margin-left: 5%; 
        margin-right: 5%;
        width: 30vw;
        height: 73vw;
    }

    h1{
        font-family: 'Nunito', sans-serif;
        text-align: center;
        color: #005f75;
        font-size: 45px; 
    }

    h2{
        font-family: 'Nunito', sans-serif;
        color: #005f75;
        font-size: 28px;
        line-height: 100%;
    }

    h4{
        font-family: 'Nunito', sans-serif;
        color: #750049;
        font-size: 28px; 
    }

    h3{
        font-family: 'Nunito Sans', sans-serif;
        font-size: 0.8rem;
        line-height: 150%;
    }

    p{
        font-family: 'Nunito Sans', sans-serif;
        font-size: 0.8rem;
        line-height: 150%;
    }
}

@media only screen and (min-width: 501px) and (max-width: 700px){
    .imagenLogo{
        
        height: auto;
    }

    .subcuadro{
        border: 0.1rem solid #D37600;
        text-align: justify;
        width: 90%;
        border-radius: 3vw;
        margin-bottom: 5%;
        margin-left: 5%; 
        margin-right: 5%;
        height: 90%;
    }

    h1{
        font-family: 'Nunito', sans-serif;
        text-align: center;
        color: #005f75;
        font-size: 40px; 
    }

    h2{
        font-family: 'Nunito', sans-serif;
        color: #005f75;
        font-size: 23px;
        line-height: 100%;
    }

    h4{
        font-family: 'Nunito', sans-serif;
        color: #750049;
        font-size: 23px; 
    }
h3{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 0.8rem;
    line-height: 150%;
}

p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 0.8rem;
    line-height: 150%;
}
}

@media only screen and (max-width: 500px){
.imagenLogo{

    height: auto;
}

.subcuadro{
    border: 0.1rem solid #D37600;
    text-align: justify;
    width: 90%;
    border-radius: 3vw;
    margin-bottom: 5%;
    margin-left: 5%; 
    margin-right: 5%;
    height: 90%;
}

h1{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: #005f75;
    font-size: 40px; 
}

h2{
    font-family: 'Nunito', sans-serif;
    color: #005f75;
    font-size: 23px;
    line-height: 100%;
}

h4{
    font-family: 'Nunito', sans-serif;
    color: #750049;
    font-size: 23px; 
}

h3{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 0.8rem;
    line-height: 150%;
}

p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 0.8rem;
    line-height: 150%;
}
}