<div class="backimg" style="background-color: white;">
    <div class="islaTitulo">
        <div class="spacer"></div>
        <div class="islaTitulo2">
            <div class="spacer2"></div>
            <div class="spacer2"></div>
                <h1 data-aos="fade-right" data-aos-duration="3000">Ingeniería para hogar</h1>
                <div class="spacer2"></div>
                <h4 data-aos="fade-right"  data-aos-duration="2000">Hogares más cómodos y seguros</h4>
                <div class="spacer2"></div>
        </div>
        <div class="spacer"></div>
    </div>
</div>

<div class="fondo" style="background-color: aqua;">
    <div class="spacer2"></div>

    <div class="contenedorColumnas">
        <div class="spacer2"></div>
        <div class="bordeAzul">
            <div class="spacer2"></div>
            <div class="filas">
                <div class="unaColumna">
                    <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000" style="margin-left: 5%; margin-right: 5%;"></div>
                    <div class="spacer2"></div>
                    <p style="margin-left: 5%; margin-right: 5%; text-align: justify;" data-aos="fade-right" data-aos-duration="2000">
                    En Neurónica, estamos profundamente comprometidos con la satisfacción 
                    y comodidad de nuestros apreciados clientes. Es por ello que hemos 
                    desarrollado una serie de servicios personalizados diseñados para elevar 
                    la experiencia en tu hogar. Nuestra gama de servicios abarca un amplio 
                    espectro de soluciones, enfocadas en simplificar y mejorar tu entorno de vida.
                    </p>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>
        <div class="spacer2"></div>
    </div>

    <div class="spacer2"></div>

    <div class="contenedorColumnas">
        <div class="spacer2"></div>
        <div class="bordeAzul" style="border: 1px solid white;">
            <div class="filas">
                <div class="unaColumna">
                    <div class="spacer2"></div>
                    <h2 style="margin-left: 5%; margin-right: 5%; text-align: center;" data-aos="fade-right" data-aos-duration="2000">Servicios</h2>
                    <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000" style="margin-left: 5%;; margin-right: 5%;"></div>
                </div>
                <div class="dosColumnas">
                    <div class="spacer2"></div>
                    <div class="subcuadro" style="margin-left: 5%; margin-right: 5%;">
                        <div class="spacer2"></div>
                        <h2 style="margin-left: 5%; margin-right: 5%; text-align: center;" data-aos="fade-right" data-aos-duration="2000">CCTV</h2>
                        <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000" style="margin-left: 5%;; margin-right: 5%;"></div>
                        <div class="spacer2"></div>
                        <p style="margin-left: 5%;; margin-right: 5%; text-align: justify;" data-aos="fade-right" data-aos-duration="2000">
                            Descubre la excelencia en seguridad con nuestro servicio de CCTV Neurónica. Ofrecemos soluciones de 
                            vigilancia avanzadas para proteger lo que más valoras. Asegura tu tranquilidad hoy 
                        </p>
                        <div class="spacer2"></div>
                        <img class="imagen2" src="./assets/Imagenes/cctv.jpg" alt="Servicio de CCTV Neurónica: Excelencia en seguridad y soluciones de vigilancia avanzadas para proteger lo que más valoras." data-aos="fade-right" data-aos-duration="3000" style="margin-left: 50%;transform: translateX(-50%);">
                        <div class="spacer2"></div>
                        <div class="spacer2"></div>
                        <a href="https://www.neuronica.co/cctv-bogota">
                            <button class="boton" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 40%;transform: translateX(-40%);">Cotizar</button>
                        </a>
                        <div class="spacer2"></div>
                    </div>
                </div>

                <div class="dosColumnas">
                    <div class="spacer2"></div>
                    <div class="subcuadro" style="margin-left: 5%;; margin-right: 5%;">
                        <div class="spacer2"></div>
                        <h5 style="margin-left: 5%;; margin-right: 5%; text-align: center;" data-aos="fade-right" data-aos-duration="2000">Domótica personalizada</h5>
                        <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000" style="margin-left: 5%;; margin-right: 5%;"></div>
                        <div class="spacer2"></div>
                        <p style="margin-left: 5%;; margin-right: 5%; text-align: justify;" data-aos="fade-right" data-aos-duration="2000">
                            Transforma tus ideas en realidad con Neurónica, tu socio en proyectos personalizados de 
                            domótica. Desde concepto hasta creación, nuestro equipo experto está listo para hacer tus sueños tangibles. 
                            Descubre la innovación con nosotros
                        </p>
                        <div class="spacer2"></div>
                        <img class="imagen2" src="./assets/Imagenes/domotica.jpg" alt="Proyectos personalizados de domótica: Transforma tus ideas en realidad con Neurónica, tu socio en innovación y tecnología." data-aos="fade-right" data-aos-duration="3000" style="margin-left: 50%;transform: translateX(-50%);">
                        <div class="spacer2"></div>
                        <a href="https://www.neuronica.co/domotica-personalizada">
                            <button class="boton" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 40%;transform: translateX(-40%);">Cotizar</button>
                        </a>
                        <div class="spacer2"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="spacer2"></div>
    </div>

    <div class="spacer2"></div>

    <div class="contenedorColumnas">
        <div class="spacer2"></div>
        <div class="bordeAzul">
            <div class="filas">
                <div class="spacer2"></div>
                <div class="unaColumna">
                    <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000" style="margin-left: 5%;; margin-right: 5%;"></div>
                    <div class="spacer2"></div>
                    <p style="margin-left: 5%; margin-right: 5%;" data-aos="fade-right" data-aos-duration="2000">
                        En Neurónica, nuestra pasión por la innovación y la excelencia se 
                        refleja en cada servicio que ofrecemos. Nos enorgullece ser tu socio 
                        en la creación de un hogar más seguro, cómodo y tecnológicamente avanzado.               
                    </p>
                    <div class="spacer2"></div>
                </div>
            </div>
        </div>
        <div class="spacer2"></div>
    </div>

    <div class="spacer2"></div>

    <div class="contenedorColumnas">
        <div class="spacer2"></div>
        <div class="bordeAzul">
            <div class="filas">
                <div class="dosColumnas" style="text-align: center;">
                    <div class="spacer2"></div>
                    <h2 data-aos="fade-right" data-aos-duration="2000">Neurónica</h2>
                    <h3>
                        <form data-aos="fade-right" data-aos-duration="2000">
                            <div class="spacer2"></div>
                            <a href="https://t.me/+573027218775">
                                <img src="./assets/Imagenes/Telegram.png" alt="telegram" style="width:12%;height:12%;border-radius: 50%">
                            </a>
                            <a href=" https://wa.me/573027218775">
                                <img src="./assets/Imagenes/WhatsApp.png" alt="whatsapp" style="width:12%;height:12%;border-radius: 50%" href = " https://wa.me/573027218775">
                            </a>
                                +57 302 721-8775
                        </form>
                    </h3>
                    <h3>
                        <div class="spacer2"></div>
                        <form data-aos="fade-right" data-aos-duration="2000">
                            <a href="mailto:informacion@neuronica.co">
                                <img src="./assets/Imagenes/gmail.png" alt="gmail" style="width:12%;height:12%;border-radius: 50%" >
                            </a>
                                informacion@neuronica.co
                        </form>
                        
                    </h3>
                </div>
                <div class="dosColumnas" style="text-align: center;">
                    <div class="spacer2"></div>
                    <h2 data-aos="fade-right" data-aos-duration="2000">Regístrate</h2>
                    <div class="spacer2"></div>
                    <p data-aos="fade-right" data-aos-duration="2000">Regístrate y recibe noticias de Neurónica</p>
                    <form data-aos="fade-right" data-aos-duration="2000" action="https://script.google.com/macros/s/AKfycbxZ_pqSl6nD607rVSnP28fjqnSYPGkwfQHHxzLjtiGLSfkCJGW2VlY_iaN8wS-Yg5EELQ/exec"                      
                    method="post">
                        <div class="spacer2"></div>     
                        <input type="correo" placeholder="ejemplo@gmail.com" name="datoCorreo" style="color: black; background-color: white; border-color: #005f75">
                        <input type="submit" value="Enviar" style="color: white; background-color: #005f75;border-color: white;">        
                    </form>
                    <div class="spacer2"></div>
                    <p data-aos="fade-right" data-aos-duration="2000">Pronto estaremos en contacto contigo.</p>
                </div>
            </div>
        </div>
        <div class="spacer2"></div>
     </div>
    <div class="spacer2"></div>
</div>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11327971754"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-11327971754');
</script>