body{
    background-color: white;
}

h1{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: #005f75;
    font-size: 6rem; 
}

h2{
    font-family: 'Nunito', sans-serif;
    color: #005f75;
    font-size: 3rem;
    line-height: 100%;
}

h3{
    font-family: 'Nunito', sans-serif;
    color: #750049;
    font-size: 3rem; 
}

h4{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.4rem;
    line-height: 150%;
}

a{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    animation-duration: 2s;
    animation-name: slidein;
}

input{
    background-color: #005f75;
    font-family: 'Nunito', sans-serif;
    color:#750049;
    border-color: black;
    border-radius: 10px;
    height: 70%;
    width: 40%;
}

.backimg{
    background: url(hogar.jpg);
    width: getwidth;
    height: getheight;
    background-position: center;
    background-size: cover;
    text-align: center;
}

@media only screen and (max-width: 1050px){
    h1{
        font-family: 'Nunito', sans-serif;
        text-align: center;
        color: #005f75;
        font-size: 50px; 
    }

    h2{
        font-size: 1.2rem;
    }
    

    h4{
        font-size: 0.9rem;
        line-height: 150%;
    }
    h3{
        font-size: 1.2rem;
    }

    .imagen1_1{
        width:0%;
        height:0%;
        border-radius: 0%
    }

    .imagen1_1Cel{
        width:10rem;;
        height:10rem;
        border-radius: 0%
    }

    .imagen1_2{
        width:0%;
        height:0%;
        border-radius: 0%
    }

    .imagen1_2Cel{
        width:15rem;
        height:15rem;
        align-items: center;
    }

    .columnaIzquierda{
        text-align: justify;
        display: 100%;
        flex: 100%;
        margin-left: 5%;
    }
    .columnaIzquierda2{
        display: none;
    }

    .columnaDerecha1{
        display: none;
    }

    .columnaDerecha_pie{
        text-align: justify;
        display: 0%;
        flex: 0%;
    
    }
    .omitir{
        display: none;
    }
    .omitir2{
        display: none;
    }

    .container{
        margin-left: 3%;
        margin-right: 3%;
    }
    body { box-sizing: border-box; }
    body *, body *:before, body *:after { box-sizing: inherit; }
    .columnaDerecha{
        display: none;
    }
    .spacer{
        flex: 0.5;
        height: 150px;
    }
    .containerPie{
        display: flex;
        width:getwidth;
        height: getheight;
        border:1px solid #005f75;
        text-align: justify;
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 3%;
        margin-bottom: 3%;
        border-radius: 3rem;
    }
}

