<div class="backimg" style="background-color: white;">
    <div aling = "justify" >
        <div class="spacer"></div>
        <h1 data-aos="fade-right" data-aos-duration="3000" style="color: white;">Ingeniería para hogar</h1>
        <div class="spacer2"></div>
        <h3 data-aos="fade-right"  data-aos-duration="2000">Hogares más comodos y seguros</h3>
        <div class="spacer"></div>
    </div>
</div>

<div class="fondo" style="background-color: aqua;">
    <div class="spacer2"></div>
    <div class="isla">
        <div class = "container">
            <section class="p1">
                <div class="spacer2"></div>
                <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000"></div>
                <h4 data-aos="fade-right" data-aos-duration="2000">
                    <div class="spacer2"></div>
                    En Neurónica, estamos profundamente comprometidos con la satisfacción 
                    y comodidad de nuestros apreciados clientes. Es por ello que hemos 
                    desarrollado una serie de servicios personalizados diseñados para elevar 
                    la experiencia en tu hogar. Nuestra gama de servicios abarca un amplio 
                    espectro de soluciones, enfocadas en simplificar y mejorar tu entorno de vida.
                </h4>
                <div class="spacer2"></div>
            </section>
        </div>
    </div>
    <div class="spacer2"></div>
    
    <div class="isla">
        <div class = "container">
            <section class="columnaIzquierda">
                <div class="spacer2"></div>
                <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000"></div>
                <h4 data-aos="fade-right" data-aos-duration="2000">
                    <div class="spacer2"></div>
                    Uno de los aspectos fundamentales de nuestra oferta es 
                    el segmento de seguridad y monitoreo para tu hogar. Nos 
                    enorgullecemos en proporcionar una solución integral que 
                    incluye la instalación y configuración de cámaras de 
                    seguridad, tanto internas como externas, con la capacidad 
                    de acceder a su visualización en tiempo real desde tus 
                    dispositivos móviles. Esta propuesta no solo otorga tranquilidad, 
                    sino que también ofrece una conexión constante con tu espacio 
                    residencial, sin importar dónde te encuentres.
                </h4>
                <img class="imagenCel" src="./assets/Imagenes/hogar_1.jpg" alt="ponerimagen" data-aos="fade-right" data-aos-duration="2000">
                <div class="spacer2"></div>
            </section>
            <section class="columnaDerecha">
                <div class="spacer2"></div>
                <div class="cuadrado" data-aos="fade-left" data-aos-duration="2000"></div>
                <div class="spacer2"></div>    
                <div class="spacer2"></div>       
                <img class="omitir" src="./assets/Imagenes/hogar_1.jpg" alt="ponerimagen" data-aos="fade-left" data-aos-duration="2000" style="width:400px;height:390px;border-radius: 50%; align-items: center;">
                <div class="spacer2"></div>
            </section>
        </div>
        <div class="spacer2"></div>
    </div>

    <div class="spacer2"></div>

    <div class="isla">
        <div class = "container">
            <section class="columnaIzquierda2">
                <div class="spacer2"></div>
                <div class="cuadradoD" data-aos="fade-right" data-aos-duration="2000"></div>
                <div class="spacer2"></div>
                <div class="spacer2"></div>
                <img class="omitir" src="./assets/Imagenes/hogar_2.jpg" alt="ponerimagen" style="width:400px;height:400px;border-radius: 50%; align-items: center;" data-aos="fade-right" data-aos-duration="2000">
                <div class="spacer2"></div>
            </section>
            <section class="columnaDerecha">
                <div class="spacer2"></div>
                <div class="cuadradoD" data-aos="fade-left  " data-aos-duration="2000"></div>
                <div class="spacer2"></div>
                <h4 data-aos="fade-left" data-aos-duration="2000">
                    Para llevar la conveniencia un paso más allá, hemos ideado un sistema de 
                    control inalámbrico para luces, puertas y sistemas de sonido. Con nuestra 
                    tecnología de vanguardia, podrás gestionar estos elementos de tu hogar de 
                    manera remota, directamente desde tus dispositivos móviles. Ya sea para crear 
                    ambientes agradables, asegurar la entrada a tu hogar o disfrutar de una experiencia 
                    auditiva envolvente, nuestro sistema te brindará un control preciso y sencillo.
                </h4>
                <div class="spacer2"></div>
            </section>
            <section class="columnaDerecha2">
                <div class="spacer2"></div>
                <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000"></div>
                <div class="spacer2"></div>
                <h4 data-aos="fade-right" data-aos-duration="2000">
                    Para llevar la conveniencia un paso más allá, hemos ideado un sistema de 
                    control inalámbrico para luces, puertas y sistemas de sonido. Con nuestra 
                    tecnología de vanguardia, podrás gestionar estos elementos de tu hogar de 
                    manera remota, directamente desde tus dispositivos móviles. Ya sea para crear 
                    ambientes agradables, asegurar la entrada a tu hogar o disfrutar de una experiencia 
                    auditiva envolvente, nuestro sistema te brindará un control preciso y sencillo.
                </h4>
                <div class="spacer2"></div>
                <img class="imagenCel" src="./assets/Imagenes/hogar_2.jpg" alt="ponerimagen" data-aos="fade-right" data-aos-duration="2000">
                <div class="spacer2"></div>
            </section>
        </div>
        <div class="spacer2"></div>
    </div>

    <div class="spacer2"></div>

    <div class="isla">
        <div class = "container">
            <section class="columnaIzquierda">
                <div class="spacer2"></div>
                <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000"></div>
                <div class="spacer2"></div>
                <h4 data-aos="fade-right" data-aos-duration="2000">
                    Además, entendemos que cada hogar es único y que las preferencias 
                    varían. Por esta razón, nos complace ofrecer proyectos de tecnología 
                    completamente personalizados, ajustados a tus especificaciones y 
                    considerando tus rangos de precio. Nuestro equipo de expertos colaborará 
                    estrechamente contigo para traducir tus ideas en soluciones tangibles y 
                    eficaces que complementen tu estilo de vida y requisitos.
                    <div class="spacer2"></div>
                    <div class="spacer2"></div>
                </h4>
                <img class="imagenCel" src="./assets/Imagenes/hogar_3.jpg" alt="ponerimagen" data-aos="fade-right" data-aos-duration="2000" >
                <div class="spacer2"></div>
            </section>
            <section class="columnaDerecha">
                <div class="spacer2"></div>
                <div class="cuadrado" data-aos="fade-left" data-aos-duration="2000"></div>
                <div class="spacer2"></div>
                <img class="omitir" src="./assets/Imagenes/hogar_3.jpg" alt="ponerimagen" style="width:400px;height:400px;border-radius: 50%; align-items: center;" data-aos="fade-left" data-aos-duration="2000">

                

                <div class="spacer2"></div>

            </section>
        </div>

        <div class="spacer2"></div>


    </div>
    <div class="spacer2"></div>
   
    <div class="isla">

        <div class = "container">
            <section class="p1">
                <div class="spacer2"></div>
                <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000"></div>

                <h4 data-aos="fade-right" data-aos-duration="2000">
                    <div class="spacer2"></div>
                    En Neurónica, nuestra pasión por la innovación y la excelencia se 
                    refleja en cada servicio que ofrecemos. Nos enorgullece ser tu socio 
                    en la creación de un hogar más seguro, cómodo y tecnológicamente avanzado. 
                </h4>

                <div class="spacer2"></div>


            </section>

        </div>


    </div>

    <div class="spacer2"></div>

    <div class="pieDePagina">
        <div class = "containerPie">
            <section class="columnaIzquierda">
                <h3 style="color: white;">
                    <div class="espacioCel"></div>
                    Neurónica S.A.S
                </h3>
                <h4>
                    <form>
                        <div class="spacer2"></div>
                        <a href="https://t.me/+573027218775">
                            <img src="./assets/Imagenes/Telegram.png" alt="telegram" style="width:14%;height:14%;border-radius: 25px">
                        </a>
                        <a href=" https://wa.me/573027218775">
                            <img src="./assets/Imagenes/WhatsApp.png" alt="whatsapp" style="width:14%;height:14%;border-radius: 25px" href = " https://wa.me/573027218775">
                        </a>
                            +57 302 721-8775
                    </form>

                </h4>

                <h4>
                    <div class="spacer2"></div>
                    <form>
                        <a href="mailto:informacion@neuronica.co">
                            <img src="./assets/Imagenes/gmail.png" alt="gmail" style="width:14%;height:14%;border-radius: 25px" >
                        </a>
                            informacion@neuronica.co
                    </form>
                    
                </h4>

                <h4>
                    <div class="spacer2"></div>
                    <form>
                        <img src="./assets/Imagenes/Instagram.png" alt="gmail" style="width:14%;height:14%;border-radius: 25px" >
                        <img src="./assets/Imagenes/ticktock.png" alt="gmail" style="width:14%;height:14%;border-radius: 25px" > 
                        @neuronica_co
                    </form>
                    
                </h4>

            </section>
    
            <section class="columnaDerecha">
                <h3 style="color: white;">
                    Regístrate
                </h3>

                <h4>
                    <div class="spacer2"></div>

                    Registrate y recibe noticias de Neurónica
                </h4>
                <form action="">

                    <div class="spacer2"></div>

                    <input type="correo" placeholder="ejemplo@gmail.com">
                    <input type="submit" value="Enviar" style="color: white; background-color: black;border-color: #005f75;">

                </form>


                <div class="spacer2"></div>

                <h4>
                    Pronto estaremos en contacto contigo.
                </h4>

            </section>
        </div>
    </div>
    <div class="spacer2"></div>
</div>