<div class="contenedorColumnas">
    <div class="spacer2"></div>
    <div class="bordeAzul">
        <div class="filas">
            <div class="dosColumnas" style="text-align: center;">
                <div class="spacer2"></div>
                <h2 >Neurónica</h2>
                    <div class="spacer2"></div>
                    <div class="dosColumnasFormulario">
                       <div class="fila-imagenes" style="width: calc(50% - 10px);">
                           <a href="https://t.me/+573027218775">
                               <img src="./assets/Imagenes/Telegram.png" alt="telegram" style="width:15%;height:auto;border-radius: 50%">
                           </a>
                           <a href=" https://wa.me/573027218775">
                               <img src="./assets/Imagenes/WhatsApp.webp" alt="whatsapp" style="width:15%;height:auto;border-radius: 50%" href = " https://wa.me/573027218775">                           
                           </a>
                       </div> 
                       
                       <div class="fila-texto">
                           <h5 style="margin-top: 5%; margin-left: 7%;">+57 302 721-8775</h5>
                       </div>
                    </div>
                    <div class="dosColumnasFormulario" style="justify-content: center; align-items: center; margin-top: 2%;">
                        <a href="mailto:informacion@neuronica.co" >
                            <img src="./assets/Imagenes/gmail.png" alt="gmail" style="width:15%;height:auto;border-radius: 0%" >
                        </a>
                        <h5 style="margin-top: 5%; margin-left: 5%;">informacion&#64;neuronica.co</h5>
                    </div>
            </div>
            <div class="dosColumnas" style="text-align: center;">
                <div class="spacer2"></div>
                <h2 >Regístrate</h2>
                <div class="spacer2"></div>
                <p  style="margin-right: 5%; margin-left: 5%;">Regístrate y recibe noticias de Neurónica</p>
                <form  action="https://script.google.com/macros/s/AKfycbyzClLtMAzHG9fktzxccG7W7vNtpt7K5fp4XM0r8xs_kQQp73TjexLL3QZusqWzPoMXyg/exec"                      
                method="post">
                    <div class="spacer2"></div>     
                    <input type="correo" placeholder="ejemplo@gmail.com" name="datoCorreo" style="color: black; background-color: white; border-color: #005f75">
                    <input type="submit" value="Enviar" style="color: white; background-color: #005f75;border-color: white;">        
                </form>
                <div class="spacer2"></div>
                <p style="margin-right: 5%; margin-left: 5%;">Pronto estaremos en contacto contigo.</p>
            </div>
        </div>
        <div class="contenedor-maps">
            <google-map
            [height]="'35vh'"
            [width]="'100%'"
            mapId="1ed9f09e69a956f91d752990"
            [center]="center"
            [zoom]="zoom">
            <map-advanced-marker [position]="shop"></map-advanced-marker>
            </google-map>
        </div>
    </div>
    <div class="spacer2"></div>
 </div>