<body>
    <div class="backimg" style="background-color: white">
       <div class="islaTitulo">
           <div class="spacer"></div>
           <div class="islaTitulo2">
               <div class="spacer2"></div>
               <div class="spacer2"></div>
                   <h1 data-aos="fade-right" data-aos-duration="3000">Cableado estructurado</h1>
                   <div class="spacer2"></div>
                   <h3 data-aos="fade-right"  data-aos-duration="2000">Conectamos tu empresa al futuro</h3>
                   <div class="spacer2"></div>
           </div>
           <div class="spacer"></div>
       </div>
    </div>

    <div class="fondo">
        <div class="spacer2"></div>
            <div class="contenedorColumnas">
                <div class="spacer2"></div>
                <div class="bordeAzul">
                    <div class="filas">
                        <div class="unaColumna">
                            <div class="spacer2"></div>
                            <div class="cuadrado"  style="margin-right: 5%; margin-left: 5%;" data-aos="fade-left" data-aos-duration="2000"></div>
                            <div class="spacer2"></div>
                            <h4 style="margin-left: 5%; margin-right: 5%; text-align: justify;" data-aos="fade-right" data-aos-duration="2000">
                                En Neurónica Ingeniería, te ofrecemos soluciones de cableado estructurado, la columna vertebral de las 
                                redes modernas.
                            </h4>
                            <div class="spacer2"></div>
                        </div>
                    </div>                     
                </div>
                <div class="spacer2"></div>
            </div>
        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 style="text-align: center;" data-aos="fade-right" data-aos-duration="2000">¿Qué es el Cableado Estructurado?</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-left" data-aos-duration="2000"></div>
                        <div class="spacer2"></div>
                        <h4 style="margin-left: 5%; margin-right: 5%; text-align:justify" data-aos="fade-right" data-aos-duration="2000">
                            El cableado estructurado es un sistema organizado de cables y conectores que permite la transmisión 
                            eficiente de datos, voz y video a lo largo de una infraestructura unificada.
                        </h4>
                        <img class="imagen1_2" src="./assets/Imagenes/Cableado1.jpg" alt="CCTV" data-aos="fade-right" data-aos-duration="3000" style="  margin-left: 50%;transform: translateX(-50%);">
                    </div>
                    <div class="spacer2"></div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>

        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 style="text-align: center; margin-left: 5%; margin-right: 5%;" data-aos="fade-right" data-aos-duration="2000">¿Qué Elementos tiene el Cableado Estructurado?</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-left" data-aos-duration="2000"></div>
                        <div class="spacer2"></div>
                        <h4 style="margin-left: 5%; margin-right: 5%; text-align:justify" data-aos="fade-right" data-aos-duration="2000">
                            Nuestros proyectos de cableado estructurado comprenden:
                        </h4>
                    </div>
                    <div class="spacer2"></div>
                    <div class="dosColumnas">
                        <img class="imagen1_2" src="./assets/Imagenes/Cableado2.jpg" alt="CCTV" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 5%;text-align: justify;">
                        <div class="spacer2"></div>
                        <h3 style="margin-left: 10%; margin-right: 5%; text-align:center; color: #005f75; font-size: 1.8rem;">Medio de transmisión</h3>
                        <h4 style="margin-left: 10%; margin-right: 5%; text-align:justify">
                            Transmiten datos de manera rápida y confiable la información, en nuestros proyectos utilizamos cables UTP de
                            categoría 5e en adelante.
                        </h4>
                        <div class="spacer2"></div>
                        <h3 style="margin-left: 10%; margin-right: 5%; text-align:center; color: #005f75; font-size: 1.8rem;">Puntos de acceso</h3>
                        <h4 style="margin-left: 10%; margin-right: 5%; text-align:justify">
                            Equipos diseñados para brindar una extensa cobertura de red WiFi en las instalaciones.
                        </h4>
                        <div class="spacer2"></div>
                    </div>
                    <div class="dosColumnas">
                        <h3 style="margin-left: 5%; margin-right: 5%; text-align:center;color: #005f75; font-size: 1.8rem;">Paneles de Conexión</h3>
                        <h4 style="margin-left: 5%; margin-right: 10%; text-align:justify">
                            Puntos centrales para la interconexión de dispositivos, esto se da en el cuarto de telecomunicaciones y en los 
                            puestos de trabajo.
                        </h4>
                        <div class="spacer2"></div>
                        <img class="imagen1_2" src="./assets/Imagenes/Cableado3.jpg" alt="CCTV" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 5%;text-align: justify;  margin-top: 50%;transform: translateY(-50%);">
                        <div class="spacer2"></div>
                    </div>
                    <div class="spacer2"></div>
                    <div class="unaColumna">
                        <h3 style="margin-left: 10%; margin-right: 10%; text-align:center; color: #005f75; font-size: 1.8rem;">Armarios de Comunicación</h3>
                        <h4 style="margin-left: 5%; margin-right: 5%; text-align:justify">
                            Albergan los equipos de telecomunicaciones (Switch, Router, DVR, NVR, Entre otros) previamente configurados, 
                            esto facilita el mantenimiento de la red.
                        </h4>
                    </div>
                    <div class="spacer2"></div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>

        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 style="margin-left: 5%; margin-right: 5%; text-align:center">¿Qué Tipos de Cable se Utilizan?</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-left" data-aos-duration="2000"></div>
                        <div class="spacer2"></div>
                        <h4 style="margin-left: 5%; margin-right: 5%; text-align:justify">
                            Existen diferentes categorías de cable UTP, como el CAT 1, CAT 2, CAT 3, CAT 4 y CAT 5. Pero los que 
                            utilizamos en nuestros proyectos son los siguientes:
                        </h4>
                        <div class="spacer2"></div>
                    </div>
                    <div class="dosColumnas">
                        <h3 style="margin-left: 10%; margin-right: 5%; text-align:left; color: #005f75; font-size: 1.8rem;">Cat5e</h3>
                        <h4 style="margin-left: 10%; margin-right: 10%; text-align:justify">
                            Hasta 1 Gbps para redes Gigabit Ethernet.
                        </h4>
                        <div class="spacer2"></div>
                        <h3 style="margin-left: 10%; margin-right: 5%; text-align:left; color: #005f75; font-size: 1.8rem;">Cat6</h3>
                        <h4 style="margin-left: 10%; margin-right: 10%; text-align:justify">
                            Hasta 10 Gbps a distancias cortas.
                        </h4>
                        <div class="spacer2"></div>
                        <h3 style="margin-left: 10%; margin-right: 5%; text-align:left; color: #005f75; font-size: 1.8rem;">Cat6a</h3>
                        <h4 style="margin-left: 10%; margin-right: 10%; text-align:justify">
                            Hasta 10 Gbps a distancias más largas.
                        </h4>
                        <div class="spacer2"></div>
                        <h3 style="margin-left: 10%; margin-right: 5%; text-align:left; color: #005f75; font-size: 1.8rem;">Cat7</h3>
                        <h4 style="margin-left: 10%; margin-right: 10%; text-align:justify">
                            Hasta 10 Gbps a distancias largas, con mejor capacidad de manejar interferencias y ruido.
                        </h4>
                        <div class="spacer2"></div>
                        <h3 style="margin-left: 10%; margin-right: 5%; text-align:left; color: #005f75; font-size: 1.8rem;">Cat8</h3>
                        <h4 style="margin-left: 10%; margin-right: 10%; text-align:justify">
                            Hasta 25/40 Gbps para redes de alta velocidad.
                        </h4>
                    </div>
                    <div class="spacer2"></div>
                    <div class="dosColumnas">
                        <img class="imagen1_2" src="./assets/Imagenes/Cableado4.jpg" alt="CCTV" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 5%;text-align: justify;  margin-top: 50%;transform: translateY(-50%);">
                    </div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>

        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 style="margin-left: 5%; margin-right: 5%; text-align:center">¿Qué Beneficios Trae a Otras Empresas?</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-left" data-aos-duration="2000"></div>
                        <div class="spacer2"></div>
                        <h4 style="margin-left: 5%; margin-right: 5%; text-align:justify">
                            Nuestros proyectos de cableado estructurado aportan:
                        </h4>
                        <div class="spacer2"></div>
                    </div>
                    <div class="dosColumnas">
                        <img class="imagen1_2" src="./assets/Imagenes/Cableado5.jpg" alt="CCTV" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 5%;text-align: justify; margin-left: 50%;transform: translateX(-50%);margin-top: 10%;">
                    </div>
                    <div class="spacer2"></div>
                    <div class="dosColumnas">
                        <h3 style="margin-left: 10%; margin-right: 5%; text-align:left; color: #005f75; font-size: 1.8rem;">Escalabilidad</h3>
                        <h4 style="margin-left: 10%; margin-right: 10%; text-align:justify">
                            Adaptabilidad a las crecientes necesidades de tu empresa.
                        </h4>  
                        <div class="spacer2"></div> 
                        <h3 style="margin-left: 10%; margin-right: 5%; text-align:left; color: #005f75; font-size: 1.8rem;">Fiabilidad</h3>
                        <h4 style="margin-left: 10%; margin-right: 10%; text-align:justify">
                            Redes estables que minimizan tiempos de inactividad.
                        </h4>  
                        <div class="spacer2"></div>
                    </div>
                    <div class="spacer2"></div>
                    <div class="unaColumna">
                        <h3 style="margin-left: 5%; margin-right: 5%; text-align:left; color: #005f75; font-size: 1.8rem;">Organización</h3>
                        <h4 style="margin-left: 5%; margin-right: 10%; text-align:justify">
                            Simplificación y orden en la infraestructura de red.
                        </h4>  
                        <div class="spacer2"></div>
                        <h3 style="margin-left: 5%; margin-right: 5%; text-align:left; color: #005f75; font-size: 1.8rem;">Mejora de la Productividad</h3>
                        <h4 style="margin-left: 5%; margin-right: 10%; text-align:justify">
                            Conexiones rápidas y seguras que impulsan la eficiencia.
                        </h4>  
                        <div class="spacer2"></div>
                    </div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>

        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 style="margin-right: 5%; margin-left: 5%; text-align: center;">Contáctate con nosotros</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-left" data-aos-duration="2000"></div>
                        <div class="spacer2"></div>
                        <h4 style="margin-right: 5%; margin-left: 5%; text-align: justify;">
                            En Neurónica Ingeniería, como empresa de ingeniería en Bogotá, Colombia, nos especializamos en diseñar 
                            y desplegar soluciones de cableado estructurado adaptadas a las necesidades únicas de tu empresa. 
                            Garantizamos redes eficientes, confiables y listas para el futuro. Si buscas optimizar tu infraestructura 
                            de red, ¡te invitamos a descubrir el valor añadido de nuestros servicios de cableado estructurado en 
                            Neurónica.
                        </h4>
                        <div class="spacer2"></div>
                        <a href="https://wa.me/573027218775" style="height: 0.5rem; width: 7rem;">
                            <button class="boton" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 30%; margin-right: 30%;">Contactanos</button>
                        </a>
                        <div class="spacer2"></div>
                    </div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>        

        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="dosColumnas" style="text-align: center;">
                        <div class="spacer2"></div>
                        <h2 data-aos="fade-right" data-aos-duration="2000">Neurónica</h2>
                        <h4>
                            <form data-aos="fade-right" data-aos-duration="2000">
                                <div class="spacer2"></div>
                                <a href="https://t.me/+573027218775">
                                    <img src="./assets/Imagenes/Telegram.png" alt="telegram" style="width:12%;height:12%;border-radius: 50%">
                                </a>
                                <a href=" https://wa.me/573027218775">
                                    <img src="./assets/Imagenes/WhatsApp.png" alt="whatsapp" style="width:12%;height:12%;border-radius: 50%" href = " https://wa.me/573027218775">
                                </a>
                                    +57 302 721-8775
                            </form>
                        </h4>
                        <h4>
                            <div class="spacer2"></div>
                            <form data-aos="fade-right" data-aos-duration="2000">
                                <a href="mailto:informacion@neuronica.co">
                                    <img src="./assets/Imagenes/gmail.png" alt="gmail" style="width:12%;height:12%;border-radius: 50%" >
                                </a>
                                    informacion@neuronica.co
                            </form>
                            
                        </h4>
                    </div>
                    <div class="dosColumnas" style="text-align: center;">
                        <div class="spacer2"></div>
                        <h2 data-aos="fade-left" data-aos-duration="2000">Registrate</h2>
                        <div class="spacer2"></div>
                        <h4 data-aos="fade-left" data-aos-duration="2000">Regístrate y recibe noticias de Neurónica</h4>
                        <form data-aos="fade-left" data-aos-duration="2000" action="https://script.google.com/macros/s/AKfycbxZ_pqSl6nD607rVSnP28fjqnSYPGkwfQHHxzLjtiGLSfkCJGW2VlY_iaN8wS-Yg5EELQ/exec"                      
                        method="post">
                            <div class="spacer2"></div>     
                            <input type="correo" placeholder="ejemplo@gmail.com" name="datoCorreo" style="color: black; background-color: white; border-color: #005f75">
                            <input type="submit" value="Enviar" style="color: white; background-color: #005f75;border-color: white;">        
                        </form>
                        <div class="spacer2"></div>
                        <h4 data-aos="fade-left" data-aos-duration="2000">Pronto estaremos en contacto contigo.</h4>
                    </div>
                </div>
            </div>
            <div class="spacer2"></div>
         </div>
       <div class="spacer2"></div>
    </div>
</body>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11327971754"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'AW-11327971754');
</script>

