body{
    background-color: white;
}

h1{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: #005f75;
    font-size: 52px; 
    line-height: 95%;
}

h2{
    font-family: 'Nunito', sans-serif;
    color: #005f75;
    font-size: 35px;
    line-height: 100%;
}

h4{
    font-family: 'Nunito', sans-serif;
    color: #750049;
    font-size: 35px; 
}

h3{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    line-height: 150%;
}

p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    line-height: 150%;
}

a{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    animation-duration: 2s;
    animation-name: slidein;
}

input{
    background-color: #005f75;
    font-family: 'Nunito', sans-serif;
    color:#750049;
    border-color: black;
    border-radius: 10px;
    height: 70%;
    width: 40%;
}

.backimg{
    background: url(Cableado.jpg);
    width: getwidth;
    height: getheight;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
@media only screen and (min-width: 700px) and (max-width: 1000px){
    h1{
        font-family: 'Nunito', sans-serif;
        text-align: center;
        color: #005f75;
        font-size: 5rem; 
    }

    h2{
        font-size: 2.5rem;
    }

    h4{
        font-size: 2.2rem;
    }

    h3{
        font-size: 0.9rem;
        line-height: 150%;
    }

    p{
        font-size: 0.9rem;
        line-height: 150%;
    }
}
@media only screen and (max-width: 700px){
    h1{
        font-family: 'Nunito', sans-serif;
        text-align: center;
        color: #005f75;
        font-size: 4rem; 
    }

    h2{
        font-size: 2rem;
    }

    h4{
        font-size: 1.8rem;
    }

    h3{
        font-size: 0.9rem;
        line-height: 150%;
    }

    p{
        font-size: 0.9rem;
        line-height: 150%;
    }
}
@media only screen and (max-width: 500px){
    h1{
        font-family: 'Nunito', sans-serif;
        text-align: center;
        color: #005f75;
        font-size: 2.5rem; 
    }
}
@media only screen and (max-width: 400px){
    h1{
        font-family: 'Nunito', sans-serif;
        text-align: center;
        color: #005f75;
        font-size: 2.5rem; 
    }
    h2{
        font-size: 1.2rem;
    }
    
    h4{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 300px){
    h1{
        font-family: 'Nunito', sans-serif;
        text-align: center;
        color: #005f75;
        font-size: 2rem; 
    }
}