    <div class="backimg" style="background-color: white">
        <div class="islaTitulo">
           <div class="spacerTopImage"></div>
           <div class="islaTitulo2">
               <div class="spacer2"></div>
               <div class="spacer2"></div>
                   <h1 data-aos="fade-right" data-aos-duration="3000">Cableado estructurado</h1>
                   <div class="spacer2"></div>
                   <h4 data-aos="fade-right"  data-aos-duration="2000">Conectamos tu empresa al futuro</h4>
                   <div class="spacer2"></div>
           </div>
           <div class="spacerTopImage"></div>
       </div>
    </div>

    <div class="fondo">
        <div class="spacer2"></div>
            <div class="contenedorColumnas">
                <div class="spacer2"></div>
                <div class="bordeAzul">
                    <div class="filas">
                        <div class="unaColumna">
                            <div class="spacer2"></div>
                            <div class="cuadrado"  style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                            <div class="spacer2"></div>
                            <p style="margin-left: 5%; margin-right: 5%; text-align: justify;" data-aos="fade-right" data-aos-duration="2000">
                                En Neurónica Ingeniería, te ofrecemos soluciones de cableado estructurado, la columna vertebral de las 
                                redes modernas.
                            </p>
                            <div class="spacer2"></div>
                        </div>
                    </div>                     
                </div>
                <div class="spacer2"></div>
            </div>
        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 5%; text-align:center">¿Qué es el Cableado Estructurado?</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                        <div class="spacer2"></div>
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 5%; text-align:justify">
                            El cableado estructurado es un sistema organizado de cables y conectores que permite la transmisión 
                            eficiente de datos, voz y video a lo largo de una infraestructura unificada.
                        </p>
                        <div class="spacer2"></div>
                    </div>
                    <div class="dosColumnas" style="display: flex; justify-content: center; align-items: center;">
                        <div class="spacer2"></div>
                        <div class="spacer2"></div>
                        <img class="imagen" src="./assets/Imagenes/cableado-estructurado-diagrama.jpg" alt="Diagrama del sistema de cableado estructurado" data-aos="fade-right" data-aos-duration="3000">
                    </div>
                    <div class="spacer2"></div>
                    <div class="dosColumnas">
                        <h3 data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 5%; text-align:left; color: #005f75;font-family: 'Nunito', sans-serif;">¿Qué implica la instalación de redes de computadoras?</h3>
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 10%; text-align:justify">
                            La instalación de redes de computadoras con Neurónica implica la implementación de un cableado estructurado 
                            que permite la conectividad eficiente de voz, datos y video. Nos enfocamos en empresas con modelos de 
                            trabajo presencial o híbrido, domiciliadas en Bogotá D.C., que utilicen servicios de internet, intranet, 
                            voz y/o video vigilancia.
                        </p>   
                        <div class="spacer2"></div>
                    </div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>     

        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 style="text-align: center; margin-left: 5%; margin-right: 5%;" data-aos="fade-right" data-aos-duration="2000">¿Qué Elementos tiene el Cableado Estructurado?</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                        <div class="spacer2"></div>
                        <p style="margin-left: 5%; margin-right: 5%; text-align:justify" data-aos="fade-right" data-aos-duration="2000">
                            Nuestros proyectos de cableado estructurado comprenden:
                        </p>
                    </div>
                    <div class="spacer2"></div>
                    <div class="dosColumnas">
                        <div style="display: flex; justify-content: center; align-items: center;">
                            <img class="imagen" src="./assets/Imagenes/elementos-cableado-estructurado.jpg" alt="Elementos clave del cableado estructurado" data-aos="fade-right" data-aos-duration="3000">
                        </div>
                        <div class="spacer2"></div>
                        <h3 data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 5%; text-align:center; color: #005f75; font-family: 'Nunito', sans-serif;">Medio de transmisión</h3>
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 5%; text-align:justify">
                            Transmiten datos de manera rápida y confiable la información, en nuestros proyectos utilizamos cables UTP de
                            categoría 5e en adelante.
                        </p>
                        <div class="spacer2"></div>
                        <h3 data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 5%; text-align:center; color: #005f75; font-family: 'Nunito', sans-serif;">Puntos de acceso</h3>
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 5%; text-align:justify">
                            Equipos diseñados para brindar una extensa cobertura de red WiFi en las instalaciones.
                        </p>
                        <div class="spacer2"></div>
                    </div>
                    <div class="dosColumnas">
                        <h3 data-aos="fade-right" data-aos-duration="3000"style="margin-left: 5%; margin-right: 5%; text-align:center;color: #005f75; font-family: 'Nunito', sans-serif;">Paneles de Conexión</h3>
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 10%; text-align:justify">
                            Puntos centrales para la interconexión de dispositivos, esto se da en el cuarto de telecomunicaciones y en los 
                            puestos de trabajo.
                        </p>
                        <div class="spacer2"></div>
                        <div style="display: flex; justify-content: center; align-items: center;">
                            <img class="imagen" src="./assets/Imagenes/cableado-estructurado-elementos.jpg" alt="Componentes esenciales del cableado estructurado" data-aos="fade-right" data-aos-duration="3000">
                        </div>
                        <div class="spacer2"></div>
                    </div>
                    <div class="spacer2"></div>
                    <div class="unaColumna">
                        <h3 data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 10%; text-align:center; color: #005f75; font-family: 'Nunito', sans-serif;">Armarios de Comunicación</h3>
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 5%; text-align:justify">
                            Albergan los equipos de telecomunicaciones (Switch, Router, DVR, NVR, Entre otros) previamente configurados, 
                            esto facilita el mantenimiento de la red.
                        </p>
                    </div>
                    <div class="spacer2"></div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>

        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 5%; text-align:center">¿Qué Tipos de Cable se Utilizan?</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                        <div class="spacer2"></div>
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 5%; text-align:justify">
                            Existen diferentes categorías de cable UTP, como el CAT 1, CAT 2, CAT 3, CAT 4 y CAT 5. Pero los que 
                            utilizamos en nuestros proyectos son los siguientes:
                        </p>
                        <div class="spacer2"></div>
                    </div>
                    <div class="dosColumnas">
                        <h3 data-aos="fade-right" data-aos-duration="3000"style="margin-left: 10%; margin-right: 5%; text-align:left; color: #005f75; font-family: 'Nunito', sans-serif;">Cat5e</h3>
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 10%; text-align:justify">
                            Hasta 1 Gbps para redes Gigabit Ethernet.
                        </p>
                        <div class="spacer2"></div>
                        <h3 data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 5%; text-align:left; color: #005f75; font-family: 'Nunito', sans-serif;">Cat6</h3>
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 10%; text-align:justify">
                            Hasta 10 Gbps a distancias cortas.
                        </p>
                        <div class="spacer2"></div>
                        <h3 data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 5%; text-align:left; color: #005f75; font-family: 'Nunito', sans-serif;">Cat6a</h3>
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 10%; text-align:justify">
                            Hasta 10 Gbps a distancias más largas.
                        </p>
                        <div class="spacer2"></div>
                        <h3 data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 5%; text-align:left; color: #005f75; font-family: 'Nunito', sans-serif;">Cat7</h3>
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 10%; text-align:justify">
                            Hasta 10 Gbps a distancias largas, con mejor capacidad de manejar interferencias y ruido.
                        </p>
                        <div class="spacer2"></div>
                        <h3 data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 5%; text-align:left; color: #005f75; font-family: 'Nunito', sans-serif;">Cat8</h3>
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 10%; text-align:justify">
                            Hasta 25/40 Gbps para redes de alta velocidad.
                        </p>
                    </div>
                    <div class="spacer2"></div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>

        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 5%; text-align:center">Importancia del cableado estructurado en empresas de Bogotá</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                        <div class="spacer2"></div>
                    </div>
                    <div class="dosColumnas">
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 10%; text-align:justify">
                            En entornos empresariales de Bogotá, la infraestructura de cableado estructurado es crucial para garantizar
                            una comunicación eficiente. Facilita la integración de servicios como voz, datos y video, adaptándose a 
                            modelos de trabajo presenciales o híbridos, y cumpliendo con las normativas locales.
                        </p>
                        <div class="spacer2"></div>
                    </div>
                    
                    <div class="dosColumnas" style="display: flex; justify-content: center; align-items: center;">
                        <img class="imagen4" src="./assets/Imagenes/importancia-cableado-empresas-bogota.jpg" alt="Importancia del cableado estructurado en empresas de Bogotá" data-aos="fade-right" data-aos-duration="3000">
                    </div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>

        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 5%; text-align:center">Diferencias clave: Cableado Estructurado Empresarial vs. Residencial</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                        <div class="spacer2"></div>
                    </div>
                    <div class="dosColumnas" style="display: flex; justify-content: center; align-items: center;">
                        <img class="imagen4" src="./assets/Imagenes/diferencias-cableado-empresarial-residencial.jpg" alt="Cableado Estructurado Empresarial vs. Residencial" data-aos="fade-right" data-aos-duration="3000">
                    </div>
                    <div class="dosColumnas">
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 10%; text-align:justify">
                            El cableado estructurado para empresas se adapta a las necesidades específicas de entornos empresariales, 
                            proporcionando una infraestructura robusta para servicios de voz, datos y video. Nos especializamos en 
                            modelos de trabajo presencial o híbrido, ofreciendo soluciones escalables y certificando conexiones 
                            alámbricas e inalámbricas.
                        </p>
                        <div class="spacer2"></div>
                    </div>

                </div>
            </div>
            <div class="spacer2"></div>
        </div>

        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 5%; text-align:center">Red Local Crucial para Empresas en Bogotá</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                        <div class="spacer2"></div>
                    </div>
                    <div class="dosColumnas">
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 10%; text-align:justify">
                            Una red local bien instalada es crucial para garantizar la eficiencia operativa en empresas con modelos de 
                            trabajo presencial o híbrido en Bogotá. Neurónica personaliza la instalación para adaptarse a las 
                            necesidades específicas, mejorando la conectividad de voz, datos y video, y optimizando la productividad.
                        </p>
                        <div class="spacer2"></div>
                    </div>
                    <div class="dosColumnas" style="display: flex; justify-content: center; align-items: center;">
                        <img class="imagen4" src="./assets/Imagenes/red-local-empresas-bogota.jpg" alt="Importancia de una red localpara empresas en Bogotá" data-aos="fade-right" data-aos-duration="3000">
                    </div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>

        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 5%; text-align:center">Integración Eficiente: Cableado Estructurado y Redes</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                        <div class="spacer2"></div>
                    </div>
                    <div class="dosColumnas">
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 10%; text-align:justify">
                            El cableado estructurado y las redes se complementan para proporcionar una conectividad integral. En 
                            Neurónica, implementamos las mejores prácticas para integrar ambos aspectos eficientemente, asegurando una 
                            infraestructura sólida que abarca desde switches y routers hasta la certificación de conexiones alámbricas e 
                            inalámbricas.
                        </p>

                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 10%; text-align:justify">  
                            Estas respuestas están diseñadas para resaltar la adaptabilidad de los servicios de Neurónica a las
                            necesidades específicas de empresas con modelos de trabajo presencial o híbrido en Bogotá, destacando la 
                            importancia de la infraestructura de cableado estructurado para optimizar la conectividad.
                            
                        </p>
                        <div class="spacer2"></div>
                    </div>
                    <div class="spacer2"></div>
                    <div class="dosColumnas" style="display: flex; justify-content: center; align-items: center;">
                        <img class="imagen2" src="./assets/Imagenes/integracion-cableado-redes-neuronica.jpg" alt="Integración eficiente de cableado estructurado y redes" data-aos="fade-right" data-aos-duration="3000" style="width:50%; margin-bottom: 10%;">
                    </div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>

        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 5%; text-align:center">¿Qué Beneficios Trae a Otras Empresas?</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                        <div class="spacer2"></div>
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 5%; text-align:justify">
                            Nuestros proyectos de cableado estructurado aportan:
                        </p>
                        <div class="spacer2"></div>
                        <div class="spacer2"></div>
                    </div>
                    <div class="dosColumnas" style="display: flex; justify-content: center; align-items: center;">
                        <img class="imagen" src="./assets/Imagenes/beneficios-cableado-estructurado-empresas.jpg" alt="Beneficios de los proyectos de cableado estructurado" data-aos="fade-right" data-aos-duration="3000">
                    </div>
                    <div class="spacer2"></div>
                    <div class="dosColumnas">
                        <h3 data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 5%; text-align:left; color: #005f75;font-family: 'Nunito', sans-serif;">Escalabilidad</h3>
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 10%; text-align:justify">
                            Adaptabilidad a las crecientes necesidades de tu empresa.
                        </p>  
                        <div class="spacer2"></div> 
                        <h3 data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 5%; text-align:left; color: #005f75; font-family: 'Nunito', sans-serif;">Fiabilidad</h3>
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 10%; text-align:justify">
                            Redes estables que minimizan tiempos de inactividad.
                        </p>  
                        <div class="spacer2"></div>
                    </div>
                    <div class="spacer2"></div>
                    <div class="unaColumna">
                        <h3 data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 5%; text-align:left; color: #005f75; font-family: 'Nunito', sans-serif;">Organización</h3>
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 10%; text-align:justify">
                            Simplificación y orden en la infraestructura de red.
                        </p>  
                        <div class="spacer2"></div>
                        <h3 data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 5%; text-align:left; color: #005f75; font-family: 'Nunito', sans-serif;">Mejora de la Productividad</h3>
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 10%; text-align:justify">
                            Conexiones rápidas y seguras que impulsan la eficiencia.
                        </p>  
                        <div class="spacer2"></div>
                    </div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>

        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 data-aos="fade-right" data-aos-duration="3000" style="margin-right: 5%; margin-left: 5%; text-align: center;">Contáctate con nosotros</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                        <div class="spacer2"></div>
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-right: 5%; margin-left: 5%; text-align: justify;">
                            En Neurónica Ingeniería, como empresa de ingeniería en Bogotá, Colombia, nos especializamos en diseñar 
                            y desplegar soluciones de cableado estructurado adaptadas a las necesidades únicas de tu empresa. 
                            Garantizamos redes eficientes, confiables y listas para el futuro. Si buscas optimizar tu infraestructura 
                            de red, ¡te invitamos a descubrir el valor añadido de nuestros servicios de cableado estructurado en 
                            Neurónica.
                        </p>
                        <div class="spacer2"></div>
                        <a href="https://wa.me/573027218775" style="height: 0.5rem; width: 7rem;">
                            <button class="boton" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 40%; transform: translateX(-50%);">Contáctanos</button>
                        </a>
                        <div class="spacer2"></div>
                    </div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>        

        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="dosColumnas" style="text-align: center;">
                        <div class="spacer2"></div>
                        <h2 data-aos="fade-right" data-aos-duration="2000">Neurónica</h2>
                            <div class="spacer2"></div>
                            <div class="dosColumnasFormulario" style="justify-content: center; align-items: center;">                         
                                <a href="https://t.me/+573027218775">
                                    <img src="./assets/Imagenes/Telegram.png" alt="telegram" style="width:15%;height:auto;border-radius: 50%">
                                </a>
                                <a href=" https://wa.me/573027218775">
                                    <img src="./assets/Imagenes/WhatsApp.png" alt="whatsapp" style="width:15%;height:auto;border-radius: 50%" href = " https://wa.me/573027218775">                           
                                </a>
                                <h5 style="margin-top: 5%; margin-left: 7%;">+57 302 721-8775</h5>
                            </div>
                            <div class="dosColumnasFormulario" style="justify-content: center; align-items: center; margin-top: 2%;">
                                <a href="mailto:informacion@neuronica.co" >
                                    <img src="./assets/Imagenes/gmail.png" alt="gmail" style="width:15%;height:auto;border-radius: 0%" >
                                </a>
                                <h5 style="margin-top: 5%; margin-left: 7%;">informacion@neuronica.co</h5>
                            </div>
                    </div>
                    <div class="dosColumnas" style="text-align: center;">
                        <div class="spacer2"></div>
                        <h2 data-aos="fade-right" data-aos-duration="2000">Regístrate</h2>
                        <div class="spacer2"></div>
                        <p data-aos="fade-right" data-aos-duration="2000">Regístrate y recibe noticias de Neurónica</p>
                        <form data-aos="fade-right" data-aos-duration="2000" action="https://script.google.com/macros/s/AKfycbyzClLtMAzHG9fktzxccG7W7vNtpt7K5fp4XM0r8xs_kQQp73TjexLL3QZusqWzPoMXyg/exec"                      
                        method="post">
                            <div class="spacer2"></div>     
                            <input type="correo" placeholder="ejemplo@gmail.com" name="datoCorreo" style="color: black; background-color: white; border-color: #005f75">
                            <input type="submit" value="Enviar" style="color: white; background-color: #005f75;border-color: white;">        
                        </form>
                        <div class="spacer2"></div>
                        <p data-aos="fade-right" data-aos-duration="2000">Pronto estaremos en contacto contigo.</p>
                    </div>
                </div>
            </div>
            <div class="spacer2"></div>
         </div>
        <div class="spacer2"></div>
     </div>


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11327971754"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'AW-11327971754');
</script>

