<body>
    <div class="backimg" style="background-color: white">
       <div class="islaTitulo">
           <div class="spacer"></div>
           <div class="islaTitulo2">
               <div class="spacer2"></div>
               <div class="spacer2"></div>
                   <h1 data-aos="fade-right" data-aos-duration="3000">CCTV</h1>
                   <div class="spacer2"></div>
                   <h4 data-aos="fade-right"  data-aos-duration="2000">Traemos seguridad a tu hogar</h4>
                   <div class="spacer2"></div>
           </div>
           <div class="spacer"></div>
       </div>
    </div>

    <div class="fondo">
        <div class="spacer2"></div>
            <div class="contenedorColumnas">
                <div class="spacer2"></div>
                <div class="bordeAzul">
                    <div class="filas">
                        <div class="unaColumna">
                            <div class="spacer2"></div>
                            <div class="cuadrado"  style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                            <div class="spacer2"></div>
                            <p style="margin-left: 5%; margin-right: 5%; text-align: justify;" data-aos="fade-right" data-aos-duration="2000">
                                En Neurónica nos especializamos en ofrecer soluciones integrales de seguridad y vigilancia CCTV en 
                                Bogotá. ¿Pero qué es realmente el CCTV y cómo puede beneficiarte?
                            </p>
                            <div class="spacer2"></div>
                        </div>
                    </div>                     
                </div>
                <div class="spacer2"></div>
            </div>
        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 style="margin-left: 5%; margin-right: 5%; text-align: center;" data-aos="fade-right" data-aos-duration="2000">¿Qué es CCTV?</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                        <div class="spacer2"></div>
                        <p style="margin-left: 5%; margin-right: 5%; text-align:justify" data-aos="fade-right" data-aos-duration="2000">
                            El CCTV, o Circuito Cerrado de Televisión, es un sistema de vigilancia que utiliza cámaras de seguridad 
                            para grabar y transmitir imágenes en tiempo real o diferido. Estas imágenes pueden ser vistas por una 
                            persona o un grupo de personas, o pueden ser almacenadas para su posterior análisis.
                        </p>
                        <img class="imagen" src="./assets/Imagenes/cctv_icono.jpg" alt="Icono de CCTV" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 15%; margin-right: 20%">
                    </div>
                    <div class="spacer2"></div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>

        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 style="text-align: center; margin-left: 5%; margin-right: 5%;" data-aos="fade-right" data-aos-duration="2000">¿Qué tipos de cámaras se usan en CCTV?</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                        <div class="spacer2"></div>
                        <p style="margin-left: 5%; margin-right: 5%; text-align:justify" data-aos="fade-right" data-aos-duration="2000">
                            Existen diferentes tipos de cámaras de CCTV, que se clasifican según su tecnología, resolución, campo de 
                            visión y otras características.
                        </p>
                    </div>
                    <div class="spacer2"></div>
                    <div class="dosColumnas">
                        <img class="imagen" src="./assets/Imagenes/tipos_camaras_cctv.jpg" alt="Tipos de Cámaras CCTV" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 5%;text-align: justify;">
                        <div class="spacer2"></div>
                        <h3 data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 5%; text-align:center; color: #005f75;font-family: 'Nunito', sans-serif;">Según su resolución</h3>
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 5%; text-align:justify">
                            las cámaras de CCTV pueden ser de baja resolución, media resolución o alta resolución. Las cámaras de baja 
                            resolución suelen tener una resolución de 480p o menos. Las cámaras de media resolución tienen una 
                            resolución de 720p o 1080p. Las cámaras de alta resolución tienen una resolución de 4K o superior.
                        </p>
                    </div>
                    <div class="dosColumnas">
                        <h3  data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 5%; text-align:center;color: #005f75;font-family: 'Nunito', sans-serif;">Según su tecnología</h3>
                        <p data-aos="fade-right" data-aos-duration="3000"  style="margin-left: 5%; margin-right: 10%; text-align:justify">
                            Las cámaras de CCTV pueden ser analógicas o digitales. Las cámaras analógicas son las más 
                            antiguas y funcionan transmitiendo una señal de video analógica. Las cámaras digitales, por su parte, 
                            transmiten una señal de video digital.
                        </p>
                        <div class="spacer2"></div>
                        <img class="imagen" src="./assets/Imagenes/resolucion_camaras_cctv.jpg" alt="Resolución y Campo de Visión de Cámaras CCTV" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 5%;text-align: justify;">
                        <div class="spacer2"></div>
                    </div>
                    <div class="spacer2"></div>
                    <div class="unaColumna">
                        <h3 data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 5%; text-align:center; color: #005f75;font-family: 'Nunito', sans-serif;">Según su campo de visión</h3>
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 5%; text-align:justify">
                            las cámaras de CCTV pueden ser de campo de visión estrecho, medio o amplio. Las cámaras de campo de visión 
                            estrecho tienen un campo de visión de 30 grados o menos. Las cámaras de campo de visión medio tienen un 
                            campo de visión de 30 a 70 grados. Las cámaras de campo de visión amplio tienen un campo de visión de más 
                            de 70 grados.
                        </p>
                    </div>
                    <div class="spacer2"></div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>

        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 data-aos="fade-right" data-aos-duration="3000"  style="margin-left: 5%; margin-right: 5%; text-align:center">¿Qué beneficios trae el CCTV?</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                    </div>
                    <div class="spacer2"></div>
                    <div class="dosColumnas">
                        <img class="imagen" src="./assets/Imagenes/beneficios_cctv.jpg" alt="Beneficios del CCTV" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 5%;margin-top: 60%;transform: translateY(-50%);">
                    </div>
                    <div class="dosColumnas">
                        <h3 data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 10%; text-align:center; color: #005f75;font-family: 'Nunito', sans-serif;">Protección de la seguridad</h3>
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 10%; text-align:justify">
                            El CCTV puede ayudar a proteger la seguridad de personas y bienes, disuadiendo el crimen y facilitando la 
                            identificación de los delincuentes.
                        </p>
                        <div class="spacer2"></div>
                        <h3 data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 10%; text-align:center; color: #005f75;font-family: 'Nunito', sans-serif;">Mejora de la eficiencia</h3>
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 10%; text-align:justify">
                            El CCTV puede ayudar a mejorar la eficiencia de las operaciones, proporcionando información sobre el flujo 
                            de personas y mercancías.
                        </p>
                        <div class="spacer2"></div>
                        <h3 data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 10%; text-align:center; color: #005f75;font-family: 'Nunito', sans-serif;">Reducción de costes</h3>
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 10%; text-align:justify">
                            El CCTV puede ayudar a reducir los costes, evitando el robo de mercancías o la pérdida de productividad.
                        </p>
                        <div class="spacer2"></div>
                    </div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>
        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 data-aos="fade-right" data-aos-duration="3000" style="margin-right: 5%; margin-left: 5%; text-align: center;">Contáctate con nosotros</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                        <div class="spacer2"></div>
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-right: 5%; margin-left: 5%; text-align: justify;">
                            Neurónica, seguridad en su hogar y negocio.
                        </p>
                            <div class="spacer2"></div>
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-right: 5%; margin-left: 5%; text-align: justify;">
                            Neurónica es una empresa especializada en sistemas de seguridad CCTV en Bogotá. Ofrecemos la instalación y configuración de sistemas CCTV.
                        </p> 
                            <div class="spacer2"></div>
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-right: 5%; margin-left: 5%; text-align: justify;">
                            Proteja su hogar o negocio con la tecnología CCTV avanzada de Neurónica. Llámenos hoy mismo para obtener más información sobre nuestros servicios de CCTV.
                        </p>    
                            <div class="spacer2"></div>
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-right: 5%; margin-left: 5%; text-align: justify;">
                            Nuestro equipo de expertos lo ayudará a elegir el sistema de CCTV adecuado para sus necesidades.
                        </p>  
                        <div class="spacer2"></div>
                        <a href="https://wa.me/573027218775" style="height: 0.5rem; width: 7rem;">
                            <button class="boton" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 30%; margin-right: 30%;">Contáctanos</button>
                        </a>
                        <div class="spacer2"></div>
                    </div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>        

        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="dosColumnas" style="text-align: center;">
                        <div class="spacer2"></div>
                        <h2 data-aos="fade-right" data-aos-duration="2000">Neurónica</h2>
                        <h3>
                            <form data-aos="fade-right" data-aos-duration="2000">
                                <div class="spacer2"></div>
                                <a href="https://t.me/+573027218775">
                                    <img src="./assets/Imagenes/Telegram.png" alt="telegram" style="width:12%;height:12%;border-radius: 50%">
                                </a>
                                <a href=" https://wa.me/573027218775">
                                    <img src="./assets/Imagenes/WhatsApp.png" alt="whatsapp" style="width:12%;height:12%;border-radius: 50%" href = " https://wa.me/573027218775">
                                </a>
                                    +57 302 721-8775
                            </form>
                        </h3>
                        <h3>
                            <div class="spacer2"></div>
                            <form data-aos="fade-right" data-aos-duration="2000">
                                <a href="mailto:informacion@neuronica.co">
                                    <img src="./assets/Imagenes/gmail.png" alt="gmail" style="width:12%;height:12%;border-radius: 50%" >
                                </a>
                                    informacion@neuronica.co
                            </form>
                            
                        </h3>
                    </div>
                    <div class="dosColumnas" style="text-align: center;">
                        <div class="spacer2"></div>
                        <h2 data-aos="fade-right" data-aos-duration="2000">Regístrate</h2>
                        <div class="spacer2"></div>
                        <p data-aos="fade-right" data-aos-duration="2000">Regístrate y recibe noticias de Neurónica</p>
                        <form data-aos="fade-right" data-aos-duration="2000" action="https://script.google.com/macros/s/AKfycbyzClLtMAzHG9fktzxccG7W7vNtpt7K5fp4XM0r8xs_kQQp73TjexLL3QZusqWzPoMXyg/exec"                      
                        method="post">
                            <div class="spacer2"></div>     
                            <input type="correo" placeholder="ejemplo@gmail.com" name="datoCorreo" style="color: black; background-color: white; border-color: #005f75">
                            <input type="submit" value="Enviar" style="color: white; background-color: #005f75;border-color: white;">        
                        </form>
                        <div class="spacer2"></div>
                        <p data-aos="fade-right" data-aos-duration="2000">Pronto estaremos en contacto contigo.</p>
                    </div>
                </div>
            </div>
            <div class="spacer2"></div>
         </div>
       <div class="spacer2"></div>
    </div>
</body>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11327971754"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'AW-11327971754');
</script>
