<div class="fondo">
    <div class="spacer2"></div>
        <div class="contenedorColumnas">
           <div class="spacer2"></div>
           <div class="bordeAzul">
               <div class="filas">
                   <div class="unaColumna">
                       <div class="spacer2"></div>
                       <h2 style="margin-left: 5%; margin-right: 5%; text-align: center;" data-aos="fade-right" data-aos-duration="2000">Ensamble de PCB (PCBA)</h2>
                       <div class="cuadrado" data-aos="fade-left" data-aos-duration="2000" style="margin-left: 5%; margin-right: 5%;"></div>
                       <div class="spacer2"></div>
                   </div>

                    <div class="spacer2"></div>

                    <div class="unaColumna">
                        <figure class="contenedorImagen">
                            <img class="imagen" src="./assets/Imagenes/ensamble-electrónico.jpg" alt="Ensamble de las placas de circuito impreso (PCB), con importación de componentes" data-aos="fade-right" data-aos-duration="3000">      
                        </figure>

                        <div style="margin-left: 5%; margin-right: 5%; justify-content: center;">
                            <p style="text-align: justify;" data-aos="fade-left" data-aos-duration="2000">
                                En <strong>Neurónica</strong>, ofrecemos servicios de PCBA que abarcan soldadura, verificación de calidad 
                                y pruebas funcionales. Nuestras soluciones se adaptan tanto a prototipos de baja cantidad 
                                como a producciones en masa, garantizando siempre altos estándares de fiabilidad en cada 
                                proyecto de ensamble de placas.                          
                            </p>
                            <p style="text-align: justify;" data-aos="fade-right" data-aos-duration="2000">
                                Para brindar un servicio integral, contamos con una gran red de proveedores que nos 
                                permite adquirir componentes electrónicos de difícil acceso. De esta manera, facilitamos la compra de componentes y su ensamble, optimizando costos 
                                y reduciendo tiempos de entrega.  
                            </p>
                        </div>
                   </div>
                   <div class="spacer2"></div>
               </div>
           </div>
           <div class="spacer2"></div>
       </div>

    <div class="spacer2"></div>

    <div class="contenedorColumnas">
        <div class="spacer2"></div>
        <div class="bordeAzul">
            <div class="filas">
                <div class="unaColumna" style="display: inline-block; justify-content: center; align-items: center;">
                    <div class="spacer2"></div>
                    <h2 data-aos="fade-left" data-aos-duration="3000" style="margin-right: 5%; margin-left: 5%; text-align: center;">¿Por qué elegir Neurónica?</h2>
                    <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                    <div class="spacer2"></div>
                    <p data-aos="fade-left" data-aos-duration="3000" style="margin-right: 5%; margin-left: 5%; text-align: justify;">
                        En <strong>Neurónica</strong>, nos especializamos en la producción electrónica basada en PCBA, ofreciendo 
                        una gestión integral de tu proyecto:
                    </p>
                    <ul class="lista-informacion" data-aos="fade-right" data-aos-duration="2000">
                        <li>Asesoría en la selección de los mejores componentes.</li>
                        <li>Capacidad de manufacturar pequeños lotes y grandes volúmenes.</li>
                        <li>Garantía de calidad respaldada por pruebas funcionales y verificación continua.</li>
                    </ul>
                    <p data-aos="fade-left" data-aos-duration="3000" style="margin-right: 5%; margin-left: 5%; text-align: justify;">
                        Confía en <strong>Neurónica</strong> para tu próximo proyecto de ensamble de placas (PCBA) y asegúrate de 
                        obtener resultados confiables y eficientes en toda tu producción electrónica.
                    </p>
                    <div class="spacer2"></div>
                    <div class="unaColumna" style="display: flex; justify-content: center; align-items: center;">
                       <a href="https://wa.me/573027218775" style="height: 0.5rem; width: 7rem;">
                           <button class="boton" data-aos="fade-right" data-aos-duration="3000">Contáctanos</button>
                       </a>
                    </div>
                    <div class="spacer2"></div>
                </div>
                <div class="spacer2"></div>
            </div>
            <div class="spacer2"></div>
        </div>
        <div class="spacer2"></div>
    </div>        

    <div class="spacer2"></div>
    <app-footer-container></app-footer-container>
 </div>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11327971754"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'AW-11327971754');
</script>

