
<div class="backimg" style="background-color: white">
    <div class="islaTitulo">
        <div class="spacerTopImage"></div>
        <div class="islaTitulo2">
            <div class="spacer3"></div>
                <h1 data-aos="fade-right" data-aos-duration="3000" style="line-height: 5rem;">Manufactura</h1>
                <h4 data-aos="fade-right"  data-aos-duration="2000">Productos personalizados</h4>
            <div class="spacer3"></div>
        </div>
        <div class="spacerTopImage"></div>
    </div>
 </div>

 <div class="fondo">
     <div class="spacer2"></div>
     <div class="contenedorColumnas">
        <div class="spacer2"></div>
        <div class="bordeAzul">
            <div class="filas">
                <div class="unaColumna">
                    <div class="spacer2"></div>
                    <h2 style="margin-left: 5%; margin-right: 5%; text-align: center;" data-aos="fade-right" data-aos-duration="2000">Servicios de manufactura</h2>
                    <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000" style="margin-left: 5%; margin-right: 5%;"></div>
                    <div class="spacer2"></div>
                </div>
                <div class="dosColumnas">
                    <a href="http://localhost:4200/fdm">
                        <button class="subcuadro" style="position: relative;margin: auto; height: auto; width: 85%;">
                            <div class="spacer2"></div>
                            <h2 style="margin-left: 5%; margin-right: 5%; text-align: center; font-size: 1rem;" data-aos="fade-right" data-aos-duration="2000">
                                <span class="material-symbols-outlined md-18" alt="Logo para de Neurónica para área de Telecomunicaciones" style="size: 300%;">deployed_code</span> 
                                FDM
                            </h2>
                            <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000" style="margin-left: 5%; margin-right: 5%;"></div>
                            <div class="spacer2"></div>
                        </button>
                    </a>

                     <div class="spacer2"></div>

                    <a href="http://localhost:4200/sla">
                        <button class="subcuadro" style="position: relative;margin: auto; height: auto; width: 85%;">
                            <div class="spacer2"></div>
                            <h2 style="margin-left: 5%; margin-right: 5%; text-align: center; font-size: 1rem;" data-aos="fade-right" data-aos-duration="2000">
                                <span class="material-symbols-outlined"  alt="Logo para de Neurónica para área de hardware y diseño electrónico" style="size: 300%;">deployed_code</span>
                                SLA
                            </h2>
                            <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000" style="margin: 0 5%;"></div>
                            <div class="spacer2"></div>
                        </button>
                    </a>
                    <div class="spacer2"></div>
                 </div>

                 <div class="dosColumnas">
                    <a href="http://localhost:4200/laser">
                        <button class="subcuadro" style="position: relative;margin: auto; height: auto; width: 85%;">
                            <div class="spacer2"></div>
                            <h2 style="margin-left: 5%; margin-right: 5%; text-align: center; font-size: 1rem;" data-aos="fade-right" data-aos-duration="2000">
                                <span class="material-symbols-outlined md-18" alt="Logo para de Neurónica para área de Telecomunicaciones" style="size: 300%;">stylus_laser_pointer</span> 
                                Corte láser
                            </h2>
                            <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000" style="margin-left: 5%; margin-right: 5%;"></div>
                            <div class="spacer2"></div>
                        </button>
                    </a>

                     <div class="spacer2"></div>

                    <a href="http://localhost:4200/cnc">
                        <button class="subcuadro" style="position: relative;margin: auto; height: auto; width: 85%;">
                            <div class="spacer2"></div>
                            <h2 style="margin-left: 5%; margin-right: 5%; text-align: center; font-size: 1rem;" data-aos="fade-right" data-aos-duration="2000">
                                <span class="material-symbols-outlined"  alt="Logo para de Neurónica para área de hardware y diseño electrónico" style="size: 300%;">precision_manufacturing</span>
                                Corte CNC
                            </h2>
                            <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000" style="margin: 0 5%;"></div>
                            <div class="spacer2"></div>
                        </button>
                    </a>
                    <div class="spacer2"></div>
                 </div>
                <div class="spacer2"></div>
            </div>
        </div>
        <div class="spacer2"></div>
    </div>

    <div class="spacer2"></div>

     <div class="contenedorColumnas">
         <div class="spacer2"></div>
         <div class="bordeAzul">
             <div class="filas">
                 <div class="unaColumna">
                     <div class="spacer2"></div>
                     <div class="cuadrado"  style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                     <div class="spacer2"></div>
                     <p style="margin-left: 5%; margin-right: 5%; text-align: center;" data-aos="fade-right" data-aos-duration="2000">
                         Descubre el futuro de la fabricación personalizada con Neurónica
                     </p>
                     <div class="spacer2"></div>
                 </div>
             </div>                     
         </div>
         <div class="spacer2"></div>
     </div>
     <div class="spacer2"></div>
    
     <div class="contenedorColumnas">
         <div class="spacer2"></div>
         <div class="bordeAzul">
             <div class="filas">
                 <div class="unaColumna">
                     <div class="spacer2"></div>
                     <h2 data-aos="fade-right" data-aos-duration="3000" style="margin-right: 5%; margin-left: 5%; text-align: center;">Contáctate con nosotros</h2>
                     <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                     <div class="spacer2"></div>
                     <p data-aos="fade-right" data-aos-duration="3000" style="margin-right: 5%; margin-left: 5%; text-align: justify;">
                         Impulsa tu innovación con Neurónica. Contáctanos para explorar cómo las diferentes tecnologías de 
                         manufactura puede potenciar tu proyecto. Somos tu socio confiable en ingeniería y fabricación, 
                         sirviendo a la comunidad de Bogotá con soluciones personalizadas. ¡Convierte tus ideas en 
                         realidad con Neurónica!
                     </p>
                     <div class="spacer2"></div>
                     <div style="display: flex; justify-content: center; align-items: center;">
                        <a href="https://wa.me/573027218775" style="height: 0.5rem; width: 7rem; text-align: center;">
                            <button class="boton" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 40%; transform: translateX(-50%);">Contáctanos </button>
                        </a>
                     </div>
                     <div class="spacer2"></div>
                 </div>
                 <div class="spacer2"></div>
             </div>
             <div class="spacer2"></div>
         </div>
         <div class="spacer2"></div>
     </div>        

     <div class="spacer2"></div>
     <app-footer-container></app-footer-container>
 </div>



<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11327971754"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'AW-11327971754');
</script>
