

body{
    background-color: white;
}

.backimg{
    
    background: linear-gradient(
                rgba(0, 95, 117, 0.25),
                rgba(211, 118, 0, 0.25)
              ),
              url("/assets/Imagenes/impresion-3d.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
}