<body>
    <div class="backimg" style="background-color: white">
       <div class="islaTitulo">
           <div class="spacer"></div>
           <div class="islaTitulo2">
               <div class="spacer2"></div>
               <div class="spacer2"></div>
                   <h1 data-aos="fade-right" data-aos-duration="3000">Domótica personalizada</h1>
                   <div class="spacer2"></div>
                   <h3 data-aos="fade-right"  data-aos-duration="2000">Tecnología e innovación en tu hogar</h3>
                   <div class="spacer2"></div>
           </div>
           <div class="spacer"></div>
       </div>
    </div>

    <div class="fondo">
        <div class="spacer2"></div>
            <div class="contenedorColumnas">
                <div class="spacer2"></div>
                <div class="bordeAzul">
                    <div class="filas">
                        <div class="unaColumna">
                            <div class="spacer2"></div>
                            <div class="cuadrado"  style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                            <div class="spacer2"></div>
                            <h4 style="margin-left: 5%; margin-right: 5%; text-align: justify;" data-aos="fade-right" data-aos-duration="2000">
                                En Neurónica ofrecemos servicios de domótica personalizada, para las necesidades de cada hogar en 
                                Bogotá. ¿Pero qué es la domótica y cómo puede beneficiarte?
                            </h4>
                            <div class="spacer2"></div>
                        </div>
                    </div>                     
                </div>
                <div class="spacer2"></div>
            </div>
        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 style="text-align: center;" data-aos="fade-right" data-aos-duration="2000">¿Que es la domótica?</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                        <div class="spacer2"></div>
                    </div>
                    <div class="dosColumnas">
                        <h4 style="margin-left: 5%; margin-right: 5%; text-align:justify" data-aos="fade-right" data-aos-duration="2000">
                            El CCTV, o Circuito Cerrado de Televisión, es un sistema de vigilancia que utiliza cámaras de seguridad 
                            para grabar y transmitir imágenes en tiempo real o diferido. Estas imágenes pueden ser vistas por una 
                            persona o un grupo de personas, o pueden ser almacenadas para su posterior análisis.
                        </h4>
                        <div class="spacer2"></div>
                    </div>
                    <div class="dosColumnas">
                        <img class="imagen" src="./assets/Imagenes/Domotica1.jpg" alt="Domotica" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 10%">
                    </div>
                    <div class="spacer2"></div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>

        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 style="text-align: center; margin-left: 5%; margin-right: 5%;" data-aos="fade-right" data-aos-duration="2000">¿Qué beneficios trae la domótica?</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                        <div class="spacer2"></div>
                        <h4 style="margin-left: 5%; margin-right: 5%; text-align:justify" data-aos="fade-right" data-aos-duration="2000">
                            Descubre una vida más cómoda y eficiente con nuestros proyectos personalizados de domótica. Los beneficios 
                            incluyen:
                        </h4>
                    </div>
                    <div class="spacer2"></div>
                    <div class="dosColumnas">
                        <img class="imagen" src="./assets/Imagenes/Domotica2.jpg" alt="Domotica 2" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 5%;margin-top: 50%;transform: translateY(-50%);">
                        <div class="spacer2"></div>
                    </div>
                    <div class="dosColumnas">
                        <h4 data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 5%; text-align:center;color: #005f75;font-family: 'Nunito', sans-serif;">Control Remoto</h4>
                        <h4 data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 10%; text-align:justify">
                            Gestiona tu hogar desde cualquier lugar mediante tu dispositivo móvil.
                        </h4>
                        <div class="spacer2"></div>
                        <h4 data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 5%; text-align:center;color: #005f75;font-family: 'Nunito', sans-serif;">Eficiencia Energética</h4>
                        <h4 data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 10%; text-align:justify">
                            Optimiza el consumo energético y reduce costos a largo plazo.
                        </h4>
                        <div class="spacer2"></div>
                        <h4 data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 5%; text-align:center;color: #005f75;font-family: 'Nunito', sans-serif;">Seguridad Avanzada</h4>
                        <h4 data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 10%; text-align:justify">
                            Monitorea y controla sistemas de seguridad en tiempo real para una tranquilidad total.
                        </h4>
                        <div class="spacer2"></div>
                        <div class="spacer2"></div>
                    </div>
                    <div class="spacer2"></div>
                    <div class="unaColumna">
                        <h4 data-aos="fade-right" data-aos-duration="3000"style="margin-left: 5%; margin-right: 5%; text-align:center; color: #005f75;font-family: 'Nunito', sans-serif;">Adaptabilidad Personalizada</h4>
                        <h4 data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 5%; text-align:justify">
                            Diseñamos soluciones que se ajustan a tu estilo de vida y necesidades específicas.
                        </h4>
                    </div>
                    <div class="spacer2"></div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>

        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul" style="border: 1px solid white;">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 style="text-align: center;" data-aos="fade-right" data-aos-duration="2000">Ejemplos de Domótica</h2>
                        <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000" style="margin-left: 5%; margin-right: 5%;"></div>
                        <div class="spacer2"></div>
                    </div>
                    <div class="dosColumnas">
                        <div class="subcuadro" style="margin-left: 5%; margin-right: 5%;">
                            <div class="spacer2"></div>
                            <h4 style="text-align: center; color: #005f75;font-family: 'Nunito', sans-serif;" data-aos="fade-right" data-aos-duration="2000">Iluminación Inteligente</h4>
                            <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000" style="margin-left: 5%; margin-right: 5%;"></div>
                            <div class="spacer2"></div>
                            <h4 style="margin-left: 5%; margin-right: 5%; text-align: justify;" data-aos="fade-right" data-aos-duration="2000">
                                Ajusta la intensidad y el color de las luces según el ambiente deseado.
                            </h4>
                            <div class="spacer2"></div>
                        </div>
                        <div class="spacer2"></div>
                        <div class="subcuadro" style="margin-left: 5%; margin-right: 5%;">
                            <div class="spacer2"></div>
                            <h4 style="text-align: center; color: #005f75;font-family: 'Nunito', sans-serif;" data-aos="fade-right" data-aos-duration="2000">Entretenimiento</h4>
                            <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000" style="margin-left: 5%; margin-right: 5%;"></div>
                            <div class="spacer2"></div>
                            <h4 style="margin-left: 5%; margin-right: 5%; text-align: justify;" data-aos="fade-right" data-aos-duration="2000">
                                La domótica permite controlar el entretenimiento del hogar desde cualquier lugar, mediante un 
                                dispositivo móvil o un ordenador.
                            </h4>
                            <div class="spacer2"></div>
                        </div>
                    </div>
                    <div class="dosColumnas">
                        <div class="subcuadro" style="margin-left: 5%; margin-right: 5%;">
                            <div class="spacer2"></div>
                            <h4 style="text-align: center; color: #005f75;font-family: 'Nunito', sans-serif;" data-aos="fade-right" data-aos-duration="2000">Climatización Automatizada</h4>
                            <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000" style="margin-left: 5%; margin-right: 5%;"></div>
                            <div class="spacer2"></div>
                            <h4 style="margin-left: 5%; margin-right: 5%; text-align: justify;" data-aos="fade-right" data-aos-duration="2000">
                                Controla la temperatura de tu hogar de manera eficiente y personalizada.
                            </h4>
                            <div class="spacer2"></div>
                        </div>
                        <div class="spacer2"></div>
                        <div class="subcuadro" style="margin-left: 5%; margin-right: 5%;">
                            <div class="spacer2"></div>
                            <h4 style="text-align: center;margin-left: 5%; margin-right: 5%; color: #005f75;font-family: 'Nunito', sans-serif;" data-aos="fade-right" data-aos-duration="2000">Automatización de Cortinas y Persianas</h4>
                            <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000" style="margin-left: 5%; margin-right: 5%;"></div>
                            <div class="spacer2"></div>
                            <h4 style="margin-left: 5%; margin-right: 5%; text-align: justify;" data-aos="fade-right" data-aos-duration="2000">
                                Ajusta la luminosidad de tu hogar de forma automática.
                            </h4>
                            <div class="spacer2"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>
        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 data-aos="fade-right" data-aos-duration="3000" style="margin-right: 5%; margin-left: 5%; text-align: center;">Contáctate con nosotros</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                        <div class="spacer2"></div>
                        <h4 data-aos="fade-right" data-aos-duration="3000" style="margin-right: 5%; margin-left: 5%; text-align: justify;">
                            En Neurónica, como empresa de ingeniería en Bogotá, Colombia, Transformar hogares en espacios inteligentes 
                            y eficientes.
                           <div class="spacer2"></div>
                            Nuestro equipo de ingenieros expertos diseña y desarrolla proyectos de domótica a medida, brindando 
                            soluciones innovadoras que mejoran tu calidad de vida. Si buscas una experiencia personalizada y 
                            tecnológicamente avanzada, ¡invitamos a explorar nuestros servicios de domótica! Transforma tu hogar con
                            Neurónica y descubre el futuro de la ingeniería aplicada a tu vida diaria.
                        </h4>
                        <div class="spacer2"></div>
                        <a href="https://wa.me/573027218775" style="height: 0.5rem; width: 7rem;">
                            <button class="boton" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 30%; margin-right: 30%;">Contactanos</button>
                        </a>
                        <div class="spacer2"></div>
                    </div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>        

        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="dosColumnas" style="text-align: center;">
                        <div class="spacer2"></div>
                        <h2 data-aos="fade-right" data-aos-duration="2000">Neurónica</h2>
                        <h4>
                            <form data-aos="fade-right" data-aos-duration="2000">
                                <div class="spacer2"></div>
                                <a href="https://t.me/+573027218775">
                                    <img src="./assets/Imagenes/Telegram.png" alt="telegram" style="width:12%;height:12%;border-radius: 50%">
                                </a>
                                <a href=" https://wa.me/573027218775">
                                    <img src="./assets/Imagenes/WhatsApp.png" alt="whatsapp" style="width:12%;height:12%;border-radius: 50%" href = " https://wa.me/573027218775">
                                </a>
                                    +57 302 721-8775
                            </form>
                        </h4>
                        <h4>
                            <div class="spacer2"></div>
                            <form data-aos="fade-right" data-aos-duration="2000">
                                <a href="mailto:informacion@neuronica.co">
                                    <img src="./assets/Imagenes/gmail.png" alt="gmail" style="width:12%;height:12%;border-radius: 50%" >
                                </a>
                                    informacion@neuronica.co
                            </form>
                            
                        </h4>
                    </div>
                    <div class="dosColumnas" style="text-align: center;">
                        <div class="spacer2"></div>
                        <h2 data-aos="fade-right" data-aos-duration="2000">Registrate</h2>
                        <div class="spacer2"></div>
                        <h4 data-aos="fade-right" data-aos-duration="2000">Regístrate y recibe noticias de Neurónica</h4>
                        <form data-aos="fade-right" data-aos-duration="2000" action="https://script.google.com/macros/s/AKfycbxZ_pqSl6nD607rVSnP28fjqnSYPGkwfQHHxzLjtiGLSfkCJGW2VlY_iaN8wS-Yg5EELQ/exec"                      
                        method="post">
                            <div class="spacer2"></div>     
                            <input type="correo" placeholder="ejemplo@gmail.com" name="datoCorreo" style="color: black; background-color: white; border-color: #005f75">
                            <input type="submit" value="Enviar" style="color: white; background-color: #005f75;border-color: white;">        
                        </form>
                        <div class="spacer2"></div>
                        <h4 data-aos="fade-right" data-aos-duration="2000">Pronto estaremos en contacto contigo.</h4>
                    </div>
                </div>
            </div>
            <div class="spacer2"></div>
         </div>
       <div class="spacer2"></div>
    </div>
</body>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11327971754"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'AW-11327971754');
</script>

