<div class="imagenFondo">
  <mat-toolbar color = "primary" class="mat-elevation-z8">
      <span>
          <button class="icon-button">
            <a href="https://www.neuronica.co">
                <img class="icon" src="assets/Imagenes/Logo_Azul.jpg"/>
            </a>
          </button>
      </span>   
      

      <button class="icono_menu" [ngClass]="{'icono_menu_open': openMenu}" (click)="abrirMenu()">
          <i class="material-icons">{{ openMenu ? 'close' : 'menu' }}</i>
      </button>
      <div class="menu" [class.menuClass] = "menuCel" style="text-align: center;">
          <ul class="menu-list">
              <a mat-button routerLink = "" class="submenu" (click)="abrirMenu()">Inicio</a>
              <a mat-button routerLink = "quienes-somos-neuronica" class="submenu" routerLinkActive="active" (click)="abrirMenu()">Nosotros</a>
              <a mat-button [matMenuTriggerFor]="Servicios" class="submenu" style="margin-right: 8px;">
                <div class="deplegable">
                    <span> Servicios </span>
                    <i class="material-icons">arrow_drop_down</i>
                </div>
              </a>
              <a mat-button routerLink="productos" class="submenu" (click)="abrirMenu()">Productos</a>
              <!-- <a mat-button routerLink = "escogernos" (click)="abrirMenu()">
                  <span class="material-symbols-outlined">shopping_cart</span>
              </a> 
              <a mat-button routerLink = "login" (click)="abrirMenu()">
                <span class="material-symbols-outlined">account_circle</span>
              </a>-->
          </ul>
      </div>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>

<mat-menu #Servicios="matMenu">
    <button mat-menu-item class="submenu" (click)="abrirMenu()">
        <a  mat-button routerLink = "linea-servicio-hardware" class="submenu" routerLinkActive="active" style="color: #005f75;">
            <span class="material-symbols-outlined">memory</span>            
            Hardware
        </a>
     </button>

    <button mat-menu-item class="submenu" (click)="abrirMenu()">
        <a  mat-button routerLink = "linea-servicio-manufactura" class="submenu" routerLinkActive="active" style="color: #005f75;">
            <span class="material-symbols-outlined">manufacturing</span>
            Manufactura
        </a>      
    </button>

    <!--<button mat-menu-item class="submenu" (click)="abrirMenu()">
        <a mat-button routerLink="linea-servicio-software" class="submenu" routerLinActive="active" style="color: #005f75;">
            <span class="material-symbols-outlined">terminal</span>
            Software
        </a>
    </button>

    <button mat-menu-item class="submenu" (click)="abrirMenu()">
        <a mat-button routerLink="linea-servicio-iot" class="submenu" routerLinkActive="active" style="color: #005f75;">
            <span class="material-symbols-outlined">rss_feed</span>
            IoT
        </a>
    </button>-->

    <!-- <button mat-menu-item class="submenu" (click)="abrirMenu()">
        <a mat-button routerLink="domotica-personalizada" class="submenu" routerLinkActive="active" style="color: #005f75;">
            <span class="material-symbols-outlined">scene</span>
            Domótica
        </a>
    </button> -->
</mat-menu>

<a href="https://wa.me/573027218775">
  <button class="material-icons boton_flotante" >call</button>
</a>

<div class="contenedorcolumnas" color = "secundary" style="width: 100%;">
          <div class="filas" style="height: 5vw;">
              <div class="dosColumnas" style="width: 50%; float: left; justify-content: center; align-items: center;">
                  <img class="sticker" src="assets/Imagenes/neuronica_software.png"/>
              </div>
              <div class="dosColumnas" style="width: 50%; float: left; justify-content: center; align-items: center;">
                  <h3>
                      <div class="spacer2"></div>
                      © 2023. Diseñado y desarrollado por Neurónica S.A.S
                 </h3>
              </div>
          </div>
      <div class="spacer2"></div>
</div>