<div class="imagenFondo">
  <mat-toolbar color = "primary" class="mat-elevation-z8">
      <span>
          <button class="icon-button">
              <img class="icon" src="assets/Imagenes/Logo_Azul.jpg"/>
          </button>
      </span>   
      
      <div class="spacer"></div>


      <div class="icono_menu" [ngClass]="{'icono_menu_open': openMenu}" (click)="abrirMenu()">
          <i class="material-icons">{{ openMenu ? 'close' : 'menu' }}</i>
      </div>
      <div class="menu" [class.menuClass] = "menuCel" style="text-align: center;">
          <ul >
              <a mat-button routerLink = "" (click)="abrirMenu()">Inicio</a>
              <a mat-button routerLink = "quienes-somos-neuronica" routerLinkactive="active" (click)="abrirMenu()">Nosotros</a>
              <a mat-button routerLink = "servicios-de-ingenieria" routerLinkActive="active" (click)="abrirMenu()">Servicios</a>
              <!--<a mat-button [matMenuTriggerFor]="Servicios" routerLink = "servicios-de-ingenieria" >
                  <div class="deplegable">
                      <span>Productos y Servicios</span>
                      <i class="material-icons">arrow_drop_down</i>
                  </div>
              </a> -->
              <!--<a mat-button [matMenuTriggerFor]="Servicios" [ngClass]={desplegar} routerLink = "servicios-de-ingenieria" (click)="desplegarMenu()">
                  <div class="deplegable">
                      <span>Productos y Servicios</span>
                      <i class="material-icons">{{ desplegar ? 'arrow_drop_down' : 'arrow_drop_down' }}</i>
                  </div>
              </a>-->
              
              <!-- <a mat-button routerLink = "escogernos" (click)="abrirMenu()">
                  <span class="material-symbols-outlined">shopping_cart_checkout</span>
              </a> -->
          </ul>
      </div>


  </mat-toolbar>
</div>

<router-outlet></router-outlet>

<!--<mat-menu #Servicios="matMenu">
  <button mat-menu-item class="submenu" (click)="abrirMenu()">
      <a  mat-button routerLink = "ingenieria-para-hogar" class="submenu" routerLinkactive="active">
          Ingeniería para hogar
      </a>
  </button>

  <button mat-menu-item class="submenu" (click)="abrirMenu()">
      <a  mat-button routerLink = "ingenieria-empresarial" class="submenu" routerLinkactive="active">
          Ingeniería Empresarial
      </a>      
  </button>
</mat-menu>-->

<a href="https://wa.me/573027218775">
  <button class="material-icons boton_flotante" style="display: block;">call</button>
</a>

<div class="contenedorcolumnas" color = "secundary" style="width: 100%;">
          <div class="filas" style="height: 5vw;">
              <div class="dosColumnas">
                  <img class="sticker" src="assets/Imagenes/neuronica_software.png"/>
              </div>
              <div class="dosColumnas">
                  <h3>
                      <div class="spacer2"></div>
                      © 2023. Diseñado y desarrollado por Neurónica S.A.S
                 </h3>
              </div>
          </div>
      <div class="spacer2"></div>
</div>