body{
    background-color: white;
}

.boton_flotante{
    width: 80px;
    height: 80px;
    background-color: #005f75;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    font-size: 40px;
    box-shadow: 2px 2px 5px rgb(0,0,0, 0.25);
    position: fixed;
    right: 20px;
    bottom: 80px;
}   

.imagenFondo{
    width: auto;
    height: auto;
    background-size: cover;
    text-align: center;
}

.deplegable{
  display: inline flex;  
  align-items: center;
}

.submenu{
    animation-duration: none;
    animation-name: none; 
    
}

.material-symbols-outlined{
    margin-left: 30px;
}

.material-icons{
    display: block;
}

h1{
    font-family: 'Nunito', sans-serif;
    color: #005f75;
    font-size: 100px; 
}

h2{
    font-family: 'Nunito', sans-serif;
    color: #005f75;
    font-size: 40px;
}

h3{
    font-family: 'Nunito', sans-serif;
    color: black;
    font-size: 1.2rem; 
    text-align: left;
}

h4{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 22px;
    line-height: 150%;
}

h5{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 22px;
    line-height: 150%;
    margin-bottom: 10%;
}

a{
    font-family: 'Nunito', sans-serif;
    font-size: 1.2vw;
    margin-left: 2.3vw;
    color: #D37600;
}

a:hover{
    color: #D37600;
}

input{
    background-color: #005f75;
    font-family: 'Nunito', sans-serif;
    color:#750049;
    border-color: black;
    border-radius: 10px;
    height: 70%;
    width: 40%;
}

mat-toolbar{
    height: 5rem;
}

.menu{
    background: none;
    position: relative;
    margin-left: 30%;
}

.material-icons{
    display: none;
}

@media only screen and (min-width: 701px) and (max-width: 1000px){
    h3{
        font-family: 'Nunito', sans-serif;
        color: black;
        font-size: 1rem; 
        text-align: center;
    }

    .material-icons{
        display: none;
    }

    .menu{
        position: relative;
        background: none;
        margin-left: 30%
    }
}

@media only screen and (max-width: 700px){
    .material-icons{
        display: block;
    }

    .menu{
        position: absolute;
        top: -200px;
        right: 15vw;
        width: 100%;
        height: getheight;
        background: none;
    }

    a{
        display: block;
        text-align: left;
        margin: 0;
        font-size: 14px;
    }

    mat-toolbar{
        height: getheight;
        width: getwidth;
    }

    .icono_menu {
        margin-left: 80%;
        background: #005f75;
        border-radius: 5px;
        color: white;
        align-items: center;
    }

      
    .icono_menu_open {
        background: #D37600;
        margin-left: 80%;
        border-radius: 5px;
        align-items: center;
    }
      
      
    .icono_menu_Class {
        background: #D37600;
        margin-left: 70%;
    }

    .menuClass{
        z-index: 1;
        position: absolute;
        right: 0%;
        top: 64px;
        background-color: white;
        animation-duration: 2s;
        animation-name: slidein;
    }
    h3{
        font-family: 'Nunito', sans-serif;
        color: black;
        font-size: 1rem; 
        text-align: center;
    }
    .boton_flotante{
        width: 60px;
        height: 60px;
        background-color: #005f75;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border-radius: 50%;
        color: white;
        font-size: 40px;
        box-shadow: 2px 2px 5px rgb(0,0,0, 0.25);
        position: fixed;
        right: 20px;
        bottom: 80px;
    }

    .matMenuTriggerFor{
        color: #005f75;
    }
}