
.imagenFondo{
    width: auto;
    height: auto;
    background-size: cover;
    text-align: center;
}

.deplegable{
  display: inline flex;  
  align-items: center;
}

.submenu{
    animation-duration: none;
    animation-name: none; 
}

.material-symbols-outlined{
    margin-left: 30px;
}

h1{
    font-family: 'Nunito', sans-serif;
    color: #005f75;
    font-size: 100px; 
}

h2{
    font-family: 'Nunito', sans-serif;
    color: #005f75;
    font-size: 40px;
}

h3{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: black;
    font-size: 20px; 
}

h4{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 22px;
    line-height: 150%;
}

h5{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 22px;
    line-height: 150%;
    margin-bottom: 10%;
}

a{
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    margin-left: 8%;
    color: #005f75;
}

a:hover{
    color: #750049;
}

input{
    background-color: #005f75;
    font-family: 'Nunito', sans-serif;
    color:#750049;
    border-color: black;
    border-radius: 10px;
    height: 70%;
    width: 40%;
}

mat-toolbar{
    height: 7rem;
}


@media only screen and (max-width: 1000px){

    .menu{
        position: absolute;
        top: -200px;
        right: 50px;
        width: getwidth;
        height: getheight;
        background: none;
    }

    a{
        display: block;
        text-align: left;
        margin: 0;
        font-size: 14px;
        
    }

    mat-toolbar{
        height: getheight;
        width: getwidth;
    }
    
    .imagenFondo{
        width: auto;
        height: auto;
        background-size: contain;
        text-align: center;
        background-color: white;
    }

    .icono_menu {
        display: inline-block;
        position: relative;;
        margin-right: 70%;
        margin-left: 20%;
    }

    .icono_menu span{
        width: 40px;
        height: 2px;
        background: #005f75;
        display: block;
    }

    .icono_menu span:nth-child(2){
        margin: 15% 0;
    }

    .icono_menu_Class span:nth-child(2){
        display: none;
    }

    .icono_menu_Class span:nth-child(1){
        transform: rotate(-40deg);
        margin: -2px;
    }

    .icono_menu_Class span:nth-child(3){
        transform: rotate(40deg);
    }

    .menuClass{
        right: 30%;
        top: 64px;
        background: white;
        animation-duration: 2s;
        animation-name: slidein;
    }
}