<div class="backimg" style="background-color: white;">
    <mat-toolbar color = "primary" class="mat-elevation-z8">
        <span>
            <button class="icon-button">
                <img
                class="icon"
                src="assets/Imagenes/Logo_Blanco.png"
                />
            </button>
        </span>   
        
        <div class="spacer"></div>

        <div class="icono_menu" [class.icono_menu_Class]="iconoVariable" (click)="abrirMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="menu" [class.menuClass] = "menuCel">
            <ul>
                <a mat-button routerLink = "Inicio" (click)="abrirMenu()">Inicio</a>
                <a mat-button routerLink = "Empresa" routerLinkactive="active" (click)="abrirMenu()">Empresa</a>
                <a mat-button [matMenuTriggerFor]="Servicios" routerLink = "Servicios" >
                    <div class="deplegable">
                        <span>Servicios</span>
                        <i class="material-icons">arrow_drop_down</i>
                    </div>
                </a>
                <a mat-button routerLink = "escogernos" (click)="abrirMenu()">¿Por qué escogernos?</a>
            </ul>
        </div>

    </mat-toolbar>
</div>

<router-outlet></router-outlet>

<mat-menu #Servicios="matMenu" >
    <button mat-menu-item class="submenu" (click)="abrirMenu()">
        <a  mat-button routerLink = "Hogar" class="submenu" routerLinkactive="active">
            Ingeniería par hogar
        </a>
    </button>

    <button mat-menu-item class="submenu" (click)="abrirMenu()">
        <a  mat-button routerLink = "Empresarial" class="submenu" routerLinkactive="active">
            Ingeniería Empresarial
        </a>      
    </button>
</mat-menu>

<div style="background-color: #005f75;">
    <h3 style="color: white;">
        <div class="spacer2"></div>
        Diseñado por Neurónica S.A.S
        <div class="spacer2"></div>
    </h3>
</div>