<div class="fondo">
    <div class="spacer2"></div>
        <div class="contenedorColumnas">
           <div class="spacer2"></div>
           <div class="bordeAzul">
               <div class="filas">
                   <div class="unaColumna">
                       <div class="spacer2"></div>
                       <h2 style="margin-left: 5%; margin-right: 5%; text-align: center;" data-aos="fade-right" data-aos-duration="2000">DLP: Impresión 3D en Bogotá</h2>
                       <div class="cuadrado" data-aos="fade-left" data-aos-duration="2000" style="margin-left: 5%; margin-right: 5%;"></div>
                       <div class="spacer2"></div>
                   </div>

                    <div class="spacer2"></div>

                    <div class="unaColumna">
                        <figure class="contenedorImagen">
                            <img class="imagenUbicacionInferior" src="./assets/Imagenes/impresión-3d-sla.jpg" alt="Impresión 3D con DLP, una tecnología ultra-rápida con proyector de luz digital" data-aos="fade-right" data-aos-duration="3000" style="margin-bottom: 5%;">      
                        </figure>

                        <div style="margin-left: 5%; margin-right: 5%; justify-content: center;">
                            <p style="text-align: justify;" data-aos="fade-left" data-aos-duration="2000">
                                En <strong>Neurónica</strong>, ofrecemos impresión 3D en Bogotá con la tecnología 
                                <strong>DLP (Digital Light Processing)</strong>. Esta técnica utiliza un 
                                proyector de luz digital para curar la resina líquida en capas 
                                complejas de una sola vez, lo que la hace increíblemente rápida. 
                                DLP es perfecta para la producción de piezas detalladas, prototipos 
                                rápidos y modelos de precisión para joyería o aplicaciones dentales, 
                                ofreciendo una velocidad sin precedentes sin sacrificar la calidad, 
                                llegando a detalles mas finos que la impresion <strong style="color: #000;">MSLA</strong>.
                            </p>
                        </div>
                   </div>
                   <div class="spacer2"></div>
               </div>
           </div>
           <div class="spacer2"></div>
       </div>

    <div class="spacer2"></div>
    <div class="contenedorColumnas">
        <div class="spacer2"></div>
        <div class="bordeAzul">
            <div class="filas">
                <div class="unaColumna">
                    <div class="spacer2"></div>
                    <h2 style="margin-left: 5%; margin-right: 5%; text-align: center;" data-aos="fade-right" data-aos-duration="2000">Relacionados</h2>
                    <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-left" data-aos-duration="2000"></div>
                    <div class="spacer2"></div>
                    <div class="carrusel-productos-relacionados" data-aos="fade-right" data-aos-duration="2000">
                        <button class="carrusel-boton-nav" (click)="anteriorRelacionado()">&#10094;</button>            
                        <div class="carrusel-items-contenedor">
                            <div class="carrusel-items-wrapper" [style.transform]="'translateX(-' + indiceRelacionadoActual * (100 / 3) + '%)'">
                                <div *ngFor="let relacionado of relatedProducts; let i = index" 
                                    class="lista-tarjeta-productos" style="margin-left: 2%; margin-right: 2%;"
                                    [routerLink]="['/producto', relacionado.slug]">
                                    <div class="contenedor-imagen-carrusel">
                                        <img [src]="getProductoImageUrl(relacionado.slug)" alt="{{ relacionado.product }}">
                                        <div *ngIf="relacionado.offer != null" class="banner-oferta">
                                            ¡Oferta!
                                        </div>
                                    </div>
                                    <h3>{{ relacionado.product}}</h3>
                                    <p *ngIf="relacionado.offer === null">Precio: {{ relacionado.price | currency:'USD':'symbol':'1.0-0' }}</p>
                                    <p *ngIf="relacionado.offer != null">Precio: {{ relacionado.offer | currency:'USD':'symbol':'1.0-0' }}</p>
                                </div>
                            </div>
                        </div>     
                        <button class="carrusel-boton-nav" (click)="siguienteRelacionado()">&#10095;</button>
                    </div>
                    <div class="spacer2"></div>
                </div>
            </div>
        </div>
        <div class="spacer2"></div>
    </div>
    <div class="spacer2"></div>
    <div class="contenedorColumnas">
        <div class="spacer2"></div>
        <div class="bordeAzul">
            <div class="filas">
                <div class="unaColumna" style="display: inline-block; justify-content: center; align-items: center;">
                    <div class="spacer2"></div>
                    <h2 data-aos="fade-left" data-aos-duration="3000" style="margin-right: 5%; margin-left: 5%; text-align: center;">¿Por qué elegir Neurónica?</h2>
                    <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                    <div class="spacer2"></div>
                    <ul class="lista-informacion" data-aos="fade-left" data-aos-duration="2000">
                        <li>La impresión DLP es una de las más rápidas del mercado para resina, ideal para la producción en masa.</li>
                        <li>El uso de un proyector garantiza una exposición uniforme de la luz, resultando en piezas de alta precisión.</li>
                        <li>Nuestras impresoras DLP ofrecen una resolución excepcional, capturando detalles finos en cada modelo.</li>
                        <li>Contamos con resinas especializadas que se adaptan a diferentes necesidades de resistencia, flexibilidad y acabado.</li>
                    </ul>
                    <p style="margin-left: 5%; margin-right: 5%;text-align: justify;" data-aos="fade-right" data-aos-duration="2000">
                        Confía en <strong>Neurónica</strong> para tu próximo proyecto de impresión 3D 
                        en Bogotá con <strong>DLP</strong> y descubre cómo podemos convertir tus ideas 
                        en piezas de excelente calidad en tiempo récord. ¡Contáctanos y da el 
                        siguiente paso en la innovación!
                    </p>
                    <div class="spacer2"></div>
                    <div style="display: flex; justify-content: center; align-items: center;">
                       <a href="https://wa.me/573027218775" style="height: 0.5rem; width: 7rem;">
                           <button class="boton" data-aos="fade-left" data-aos-duration="3000">Contáctanos</button>
                       </a>
                    </div>
                    <div class="spacer2"></div>
                </div>
                <div class="spacer2"></div>
            </div>
            <div class="spacer2"></div>
        </div>
        <div class="spacer2"></div>
    </div>        

    <div class="spacer2"></div>
    <app-footer-container></app-footer-container>
 </div>

<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11327971754"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'AW-11327971754');
</script>