 <div class="fondo">
     <div class="spacer2"></div>
         <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 style="margin-left: 5%; margin-right: 5%; text-align: center;" data-aos="fade-right" data-aos-duration="2000">Diseño de producto</h2>
                        <div class="cuadrado" data-aos="fade-left" data-aos-duration="2000" style="margin-left: 5%; margin-right: 5%;"></div>
                        <div class="spacer2"></div>
                    </div>

                     <div class="spacer2"></div>

                     <div class="unaColumna">
                        <p style="margin-left: 5%; margin-right: 5%;text-align: justify;" data-aos="fade-right" data-aos-duration="2000">
                            En <strong>Neurónica</strong>, somos expertos en diseño de producto y diseño electrónico en Bogotá, 
                            convirtiendo tus ideas en dispositivos funcionales listos para producción masiva. 
                            Nuestro proceso integral abarca desde la identificación de requerimientos y 
                            prototipado rápido, hasta la importación de componentes y el ensamble final. Conoce 
                            nuestro paso a paso:
                        </p>
                    </div>
                    <div class="spacer2"></div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>

        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 style="margin-left: 5%; margin-right: 5%; text-align: center;" data-aos="fade-left" data-aos-duration="2000">1) Etapa Exploratoria</h2>
                        <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000" style="margin-left: 5%; margin-right: 5%;"></div>
                        <div class="spacer2"></div>
                    </div>

                     <div class="spacer2"></div>

                     <div class="unaColumna">
                        <figure class="contenedorImagen">
                            <img class = "imagenUbicacionInferior" src="./assets/Imagenes/idea-de-diseño.webp" alt="Recoleción de requerimientos, como punto de partida del diseño de producto" data-aos="fade-left" data-aos-duration="3000" style="margin-bottom: 5%;">
                        </figure>
                        <div style="justify-content: center; margin-left: 5%; margin-right: 5%;">
                            <p  style="text-align: justify;" data-aos="fade-right" data-aos-duration="2000">
                                Para lograr un diseño de producto exitoso, acompañamos al cliente en la recolección de requerimientos y especificaciones, involucrando a las personas que actúan en el proceso.                            
                            </p>

                            <p  style="text-align: justify;" data-aos="fade-left" data-aos-duration="2000">
                                Posteriormente, realizamos hasta <strong>tres iteraciones</strong> sobre las especificaciones funcionales, permitiendo un máximo de <strong>tres prototipos por dispositivo</strong>. Entregables:                            
                            </p>


                            <ul class="lista-informacion" data-aos="fade-right" data-aos-duration="2000">
                                <li>Listado de requerimientos y especificaciones.</li>
                                <li>Prototipo en protoboard o placa perforada</li>
                            </ul>
                        </div>
                    </div>
                    <div class="spacer2"></div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>

        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 style="margin-left: 5%; margin-right: 5%; text-align: center;" data-aos="fade-left" data-aos-duration="2000">2) Etapa de definición estructurada</h2>
                        <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000" style="margin-left: 5%; margin-right: 5%;"></div>
                        <div class="spacer2"></div>
                    </div>

                     <div class="spacer2"></div>

                     <div class="unaColumna">
                        <figure class="contenedorImagen">
                            <img class = "imagen" src="../assets/Imagenes/prototipo-dos.webp" alt="Prototipo inicial, 100% adaptable a nuevos requerimientos" data-aos="fade-left" data-aos-duration="3000" style="margin-bottom: 5%;">
                        </figure>
                        <div style="margin-left: 5%; margin-right: 5%; justify-content: center;">
                            <p  data-aos="fade-right" data-aos-duration="2000">
                                Una vez definida la mejor solución, iteramos hasta <strong>tres veces</strong> sobre las especificaciones estéticas del producto, apoyándonos en diseño digital y generando los siguientes entregables:                            
                            </p>
                            <ul class="lista-informacion" data-aos="fade-left" data-aos-duration="2000" type="A">
                                <li>Producto mínimo viable (PMV).</li>
                                <li>Manual de usuario.</li>
                                <li>Plan de producción y entrega.</li>
                                <li>Estimación de costos de producción.</li>
                            </ul>
                            <p style="margin-left: 5%; margin-right: 5%;text-align: justify;" data-aos="fade-right" data-aos-duration="2000">
                                Este enfoque asegura que el producto final cumpla con todas las especificaciones. Con el PMV, el cliente puede realizar pruebas de campo, un paso clave para la corrección de errores.                            
                            </p>
                        </div>
                    </div>
                    <div class="spacer2"></div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>

        <div class="spacer2"></div>
        
        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 style="margin-left: 5%; margin-right: 5%; text-align: center;" data-aos="fade-left" data-aos-duration="2000">3) Etapa de producción</h2>
                        <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000" style="margin-left: 5%; margin-right: 5%;"></div>
                        <div class="spacer2"></div>
                    </div>

                     <div class="spacer2"></div>

                     <div class="unaColumna">
                        <figure class="contenedorImagen">
                            <img class = "imagenUbicacionInferior" src="/assets/Imagenes/producción-en-masa.webp" alt="Estandarización del prototipo con diseño y manufactura PCB, punto de partida para producción en masa" data-aos="fade-left" data-aos-duration="3000" style="margin-bottom: 5%;">
                        </figure>
                        <div style="margin-left: 5%; margin-right: 5%; justify-content: center;">
                            <p style="margin-right: 5%;text-align: justify;" data-aos="fade-right" data-aos-duration="2000">
                                Con el diseño definido, se manufactura la <strong>cantidad</strong> solicitada por el cliente a pedido, rigiéndonos por el plan de producción y entrega, y la estimación de costos de producción.                            
                            </p>
                        </div>
                    </div>
                    <div class="spacer2"></div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>

        <div class="spacer2"></div>

     <div class="contenedorColumnas">
         <div class="spacer2"></div>
         <div class="bordeAzul">
             <div class="filas">
                 <div class="unaColumna" style="display: inline-block; justify-content: center; align-items: center;">
                     <div class="spacer2"></div>
                     <h2 data-aos="fade-left" data-aos-duration="3000" style="margin-right: 5%; margin-left: 5%; text-align: center;">¿Por qué elegir Neurónica?</h2>
                     <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                     <div class="spacer2"></div>
                     <p data-aos="fade-left" data-aos-duration="3000" style="margin-right: 5%; margin-left: 5%; text-align: justify;">
                        Experiencia local en diseño de producto y diseño electrónico Bogotá.
                        Proceso ágil e integral, desde la concepción de la idea hasta la producción.
                        Prototipado y pruebas que reducen riesgos y aseguran la excelencia del resultado final.
                        Red de proveedores confiable para garantizar calidad y eficiencia en cada etapa.
                    
                        Con <strong>Neurónica</strong>, tus proyectos de diseño de producto y diseño electrónico reciben la atención que merecen para convertir 
                        ideas en realidades tecnológicas. ¡Contáctanos y transforma tu visión en un dispositivo exitoso!
                     </p>
                     <div class="spacer2"></div>
                     <div class="unaColumna" style="display: flex; justify-content: center; align-items: center;">
                        <a href="https://wa.me/573027218775" style="height: 0.5rem; width: 7rem;">
                            <button class="boton" data-aos="fade-right" data-aos-duration="3000">Contáctanos</button>
                        </a>
                     </div>
                     <div class="spacer2"></div>
                 </div>
                 <div class="spacer2"></div>
             </div>
             <div class="spacer2"></div>
         </div>
         <div class="spacer2"></div>
     </div>        

     <div class="spacer2"></div>
     <app-footer-container></app-footer-container>
  </div>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11327971754"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'AW-11327971754');
</script>