<div class="backimg" style="background-color: white;">

    <div aling = "justify" >
        <div class="spacer">

        </div>

        <h1 data-aos="fade-right" data-aos-duration="3000" style="color: white;">
            ¿Por qué escogernos?
        </h1>

        <div class="spacer2">

        </div>

        <h3 data-aos="fade-right"  data-aos-duration="2000">
            Ingeniería a la medida
        </h3>

        <div class="spacer">

        </div>

    </div>

</div>


<div class="fondo" style="background-color: aqua;">
    <div class="spacer2"></div>
    <div class="isla">

        <div class = "container">
            <section class="p1" style="border: none;">
                <div class="cuadrado" data-aos="fade-right" data-aos-duration="3000"></div>
                <h4 data-aos="fade-right" data-aos-duration="2000">
                    <div class="spacer2"></div>
                    Neurónica S.A.S emerge como un proyecto visionario, concebido para instaurar 
                    las tecnologías de la cuarta revolución industrial en el tejido empresarial 
                    actual. Nuestro propósito fundamental es revitalizar el sector empresarial 
                    de nuestra nación, llevando a cada hogar las comodidades y ventajas que estas 
                    innovaciones acarrean. En la raíz de nuestra entidad, se encuentran ingenieros 
                    altamente capacitados en los dominios de la ingeniería mecánica y electrónica, 
                    indivisos en su pasión por la creación de productos y la provisión de soluciones 
                    que trascienden lo convencional.
                </h4>
                    <div class="spacer2"></div>
                <h4 data-aos="fade-left" data-aos-duration="2000">
                    Adicionalmente, hemos moldeado un enfoque holístico al servicio del cliente. Esto
                    nuestros productos. Nos aseguramos de que el funcionamiento sea óptimo, que el 
                    mantenimiento esté en consonancia con las normativas más estrictas y que las 
                    actualizaciones sean oportunas y eficientes. Cabe señalar que los costos adicionales 
                    únicamente emergen en el ámbito de los mantenimientos y las actualizaciones, lo que 
                    garantiza una relación calidad-valor excepcional.
                </h4>
                
                    <div class="spacer2"></div>
                <h4 data-aos="fade-right" data-aos-duration="2000">
                    En consonancia con nuestra filosofía de facilitación integral, hemos concebido un 
                    paquete de facturación electrónica. Este servicio está diseñado para aliviar la carga 
                    administrativa de nuestros clientes en términos de presentación de impuestos ante la Dian. 
                    Nos enorgullece proporcionar una herramienta que no solo agiliza este proceso esencial, sino 
                    que también refleja nuestra dedicación a ofrecer soluciones completas que impacten positivamente 
                    en la vida empresarial.
                </h4>

                    <div class="spacer2"></div>
                <h4 data-aos="fade-left" data-aos-duration="2000">
                    Neurónica S.A.S no es solo una entidad empresarial; es una fuerza impulsora que amalgama innovación, 
                    pasión y un compromiso indeclinable con la excelencia. Invitamos a las empresas y hogares de todo el 
                    país a unirse a nosotros en la creación de un panorama empresarial y doméstico que abraza el futuro con 
                    confianza y determinación.
                </h4>
            </section>
        </div>

        <div class="spacer2"></div>

    </div>

    <div class="spacer2"></div>

    <div class="isla">
        <section class="p1">
            <div class="spacer2"></div>
            <h2 style="margin-left: 5%;">IoT</h2>
            <div class="spacer2"></div>
            <div class="cuadrado" style="margin-left: 5%;"></div>
            <div class="spacer2"></div>
            <div class="video">
                <video controls src="./assets/Imagenes/IoT.mp4" alt="IoT" data-aos="fade-left" data-aos-duration="3000" width="90%" height="400%" style="margin-left: 5%;"></video>
            </div>
            <div class="spacer2"></div>
        </section>
    </div>
    <div class="spacer2"></div>

    <div class="isla">
        <section class="p1">
            <div class="spacer2"></div>
            <h2 style="margin-left: 5%;">Inteligencia Artificial</h2>
            <div class="spacer2"></div>
            <div class="cuadrado" style="margin-left: 5%;"></div>
            <div class="spacer2"></div>
            <div class="viedo">
                <video controls src="./assets/Imagenes/IA.mp4" alt="IA" data-aos="fade-right" data-aos-duration="2000" width="90%" height="400%" style="margin-left: 5%;"></video>
            </div>
            <div class="spacer2"></div>
        </section>
    </div>

    <div class="spacer2"></div>

    <div class="isla">
        <section class="p1">
            <div class="spacer2"></div>
            <h2 style="margin-left: 5%;">Impresión 3D</h2>
            <div class="spacer2"></div>
            <div class="cuadrado" style="margin-left: 5%;"></div>
            <div class="spacer2"></div>
            <div class="video">
                <video controls src="./assets/Imagenes/3D.mp4" alt="3D" data-aos="fade-left" data-="2000" width="90%" height="400%" style="margin-left: 5%;"></video>
            </div>
            <div class="spacer2"></div>
        </section>
    </div>

    <div class="spacer2"></div>

    <div class="pieDePagina">
        <div class = "container">
            <section class="columnaIzquierda">
                <h3 style="color: white;">
                    <div class="spacer2"></div>
                    Neurónica S.A.S
                </h3>
                <h4>
                    <form>
                        <div class="spacer2"></div>
                        <img src="./assets/Imagenes/Telegram.png" alt="telegram" style="width:14%;height:14%;border-radius: 25px" >
                        <img src="./assets/Imagenes/WhatsApp.png" alt="whatsapp" style="width:14%;height:14%;border-radius: 25px" >
                        +57 302 721-8775
                    </form>

                </h4>

                <h4>
                    <div class="spacer2"></div>
                    <form>
                        <img src="./assets/Imagenes/gmail.png" alt="gmail" style="width:14%;height:14%;border-radius: 25px" >
                        informacion@neuronica.co
                    </form>
                    
                </h4>

                <h5>
                <div class="spacer2"></div>
                <form>
                    <img src="./assets/Imagenes/Instagram.png" alt="gmail" style="width:14%;height:14%;border-radius: 25px" >
                    <img src="./assets/Imagenes/ticktock.png" alt="gmail" style="width:14%;height:14%;border-radius: 25px" > 
                    @neuronica_co
                </form>
                    
                </h5>

            </section>
    
            <section class="columnaDerecha">
                <h3 style="color: white;">
                    <div class="spacer2"></div>
                    Regístrate
                </h3>

                <h4>
                    <div class="spacer2"></div>

                    Registrate y recibe noticias de Neurónica
                </h4>
                <form action="">

                    <div class="spacer2"></div>

                    <input type="correo" placeholder="ejemplo@gmail.com">
                    <input type="submit" value="Enviar" style="color: white; background-color: black;border-color: #005f75;">

                </form>


                <div class="spacer2"></div>

                <h4>
                    Pronto estaremos en contacto contigo.
                </h4>

            </section>
        </div>
    </div>

</div>

