<div class="backimg" style="background-color: white;">
    <div class="islaTitulo">
        <div class="spacer"></div>
        <div class="islaTitulo2">
            <div class="spacer2"></div>
            <div class="spacer2"></div>
                <h1 data-aos="fade-right" data-aos-duration="3000">¿Por qué escogernos?</h1>
                <div class="spacer2"></div>
                <h4 data-aos="fade-right"  data-aos-duration="2000">Ingeniería a la medida</h4>
                <div class="spacer2"></div>
        </div>
        <div class="spacer"></div>
    </div>
</div>

<div class="fondo" style="background-color: aqua;">
    <div class="spacer2"></div>
    <div class="contenedorColumnas">
        <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000" style="margin-left: 5%; margin-right: 5%;"></div>
                        <div class="spacer2"></div>
                        <p style="margin-left: 5%; margin-right: 5%; text-align: justify;" data-aos="fade-right" data-aos-duration="2000">
                            Neurónica S.A.S emerge como un proyecto visionario, concebido para instaurar 
                            las tecnologías de la cuarta revolución industrial en el tejido empresarial 
                            actual. Nuestro propósito fundamental es revitalizar el sector empresarial 
                            de nuestra nación, llevando a cada hogar las comodidades y ventajas que estas 
                            innovaciones acarrean. En la raíz de nuestra entidad, se encuentran ingenieros 
                            altamente capacitados en los dominios de la ingeniería mecánica y electrónica, 
                            indivisos en su pasión por la creación de productos y la provisión de soluciones 
                            que trascienden lo convencional.               
                        </p>
                        <div class="spacer2"></div>
                        <p style="margin-left: 5%; margin-right: 5%; text-align: justify;" data-aos="fade-right" data-aos-duration="2000">
                            Adicionalmente, hemos moldeado un enfoque holístico al servicio del cliente. Esto
                            nuestros productos. Nos aseguramos de que el funcionamiento sea óptimo, que el 
                            mantenimiento esté en consonancia con las normativas más estrictas y que las 
                            actualizaciones sean oportunas y eficientes. Cabe señalar que los costos adicionales 
                            únicamente emergen en el ámbito de los mantenimientos y las actualizaciones, lo que 
                            garantiza una relación calidad-valor excepcional.
                        </p>
                        <div class="spacer2"></div>
                        <p style="margin-left: 5%; margin-right: 5%; text-align: justify;" >
                            Neurónica S.A.S no es solo una entidad empresarial; es una fuerza impulsora que amalgama innovación, 
                            pasión y un compromiso indeclinable con la excelencia. Invitamos a las empresas y hogares de todo el 
                            país a unirse a nosotros en la creación de un panorama empresarial y doméstico que abraza el futuro con 
                            confianza y determinación.
                        </p>
                    </div>
                    <div class="spacer2"></div>
                </div>
            </div>
        <div class="spacer2"></div>
    </div>

    <div class="spacer2"></div>

    <div class="contenedorColumnas">
        <div class="spacer2"></div>
        <div class="bordeAzul">
            <div class="filas">
                <div class="dosColumnas" style="text-align: center;">
                    <div class="spacer2"></div>
                    <h2 data-aos="fade-right" data-aos-duration="2000">Neurónica</h2>
                    <h3>
                        <form data-aos="fade-right" data-aos-duration="2000">
                            <div class="spacer2"></div>
                            <a href="https://t.me/+573027218775">
                                <img src="./assets/Imagenes/Telegram.png" alt="telegram" style="width:12%;height:12%;border-radius: 50%">
                            </a>
                            <a href=" https://wa.me/573027218775">
                                <img src="./assets/Imagenes/WhatsApp.png" alt="whatsapp" style="width:12%;height:12%;border-radius: 50%" href = " https://wa.me/573027218775">
                            </a>
                                +57 302 721-8775
                        </form>
                    </h3>
                    <h3>
                        <div class="spacer2"></div>
                        <form data-aos="fade-right" data-aos-duration="2000">
                            <a href="mailto:informacion@neuronica.co">
                                <img src="./assets/Imagenes/gmail.png" alt="gmail" style="width:12%;height:12%;border-radius: 50%" >
                            </a>
                                informacion@neuronica.co
                        </form>
                        
                    </h3>
                </div>
                <div class="dosColumnas" style="text-align: center;">
                    <div class="spacer2"></div>
                    <h2 data-aos="fade-right" data-aos-duration="2000">Regístrate</h2>
                    <div class="spacer2"></div>
                    <p data-aos="fade-right" data-aos-duration="2000">Regístrate y recibe noticias de Neurónica</p>
                    <form data-aos="fade-right" data-aos-duration="2000" action="https://script.google.com/macros/s/AKfycbxZ_pqSl6nD607rVSnP28fjqnSYPGkwfQHHxzLjtiGLSfkCJGW2VlY_iaN8wS-Yg5EELQ/exec"                      
                    method="post">
                        <div class="spacer2"></div>     
                        <input type="correo" placeholder="ejemplo@gmail.com" name="datoCorreo" style="color: black; background-color: white; border-color: #005f75">
                        <input type="submit" value="Enviar" style="color: white; background-color: #005f75;border-color: white;">        
                    </form>
                    <div class="spacer2"></div>
                    <p data-aos="fade-right" data-aos-duration="2000">Pronto estaremos en contacto contigo.</p>
                </div>
            </div>
        </div>
        <div class="spacer2"></div>
     </div>
     <div class="spacer2"></div>
</div>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11327971754"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-11327971754');
</script>