<div class="fondo">
    <div class="spacer2"></div>
        <div class="contenedorColumnas">
           <div class="spacer2"></div>
           <div class="bordeAzul">
               <div class="filas">
                   <div class="unaColumna">
                       <div class="spacer2"></div>
                       <h2 style="margin-left: 5%; margin-right: 5%; text-align: center;" data-aos="fade-right" data-aos-duration="2000">Corte CNC en Bogotá</h2>
                       <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000" style="margin-left: 5%; margin-right: 5%;"></div>
                       <div class="spacer2"></div>
                   </div>

                    <div class="spacer2"></div>

                    <div class="unaColumna">
                        <figure class="contenedorImagen">
                            <img class="imagenUbicacionInferior" src="./assets/Imagenes/corte-cnc-bogota.jpg" alt="Corte CNC de metales y plásticos" data-aos="fade-right" data-aos-duration="3000" style="width: 35%; height: 35%; margin-bottom: 5%;">      
                        </figure>

                        <div style="margin-left: 5%; margin-right: 5%; justify-content: center;">
                            <p style="margin-left: 5%; margin-right: 5%;text-align: justify;" data-aos="fade-right" data-aos-duration="2000">
                                En Neurónica, ofrecemos servicios de corte y fresado CNC en 
                                una amplia gama de materiales, desde metales hasta plásticos de 
                                ingeniería. Este proceso automatizado garantiza exactitud, 
                                repetibilidad y calidad, convirtiéndose en la opción ideal tanto 
                                para prototipado como para producciones en serie. Si buscas Corte CNC Bogotá, 
                                nuestra experiencia en manufactura asegura resultados confiables y adaptados 
                                a tus necesidades.
                            </p>
                        </div>
                   </div>
                   <div class="spacer2"></div>
               </div>
           </div>
           <div class="spacer2"></div>
       </div>

    <div class="spacer2"></div>

    <div class="contenedorColumnas">
        <div class="spacer2"></div>
        <div class="bordeAzul">
            <div class="filas">
                <div class="unaColumna" style="display: inline-block; justify-content: center; align-items: center;">
                    <div class="spacer2"></div>
                    <h2 data-aos="fade-right" data-aos-duration="3000" style="margin-right: 5%; margin-left: 5%; text-align: center;">¿Por qué elegir Neurónica?</h2>
                    <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                    <div class="spacer2"></div>
                    <ul class="lista-informacion" data-aos="fade-right" data-aos-duration="2000">
                        <li>Contamos con corte láser, impresión 3D y otros métodos que complementan el CNC, ofreciéndote la opción más beneficiosa para cada proyecto.</li>
                        <li>Utilizamos equipos de alta precisión y procesos estandarizados, logrando un acabado profesional y consistente.</li>
                        <li>Nuestro equipo te orienta en la selección del material, los parámetros de fresado y el mejor enfoque para alcanzar tu meta de calidad y costo-eficiencia.</li>
                        <li>Trabajamos bajo estrictos plazos de entrega, permitiéndote avanzar con tus proyectos sin retrasos.</li>
                    </ul>
                    <p style="margin-left: 5%; margin-right: 5%;text-align: justify;" data-aos="fade-right" data-aos-duration="2000">
                        Confía en Neurónica para tu Corte CNC en Bogotá y disfruta de soluciones 
                        eficientes, precisas y plenamente ajustadas a tus objetivos de manufactura. 
                        ¡Contáctanos y descubre cómo podemos dar forma a tus ideas!
                    </p>
                    <div class="spacer2"></div>
                    <div style="display: flex; justify-content: center; align-items: center;">
                       <a href="https://wa.me/573027218775" style="height: 0.5rem; width: 7rem;">
                           <button class="boton" data-aos="fade-right" data-aos-duration="3000">Contáctanos</button>
                       </a>
                    </div>
                    <div class="spacer2"></div>
                </div>
                <div class="spacer2"></div>
            </div>
            <div class="spacer2"></div>
        </div>
        <div class="spacer2"></div>
    </div>        

    <app-footer-container></app-footer-container>
    <div class="spacer2"></div>
 </div>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11327971754"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'AW-11327971754');
</script>

