<div class="backimg" style="background-color: white">
    <div class="islaTitulo">
     <div class="spacerTopImage"></div>
        <div class="islaTitulo2">
            <div class="spacer3"></div>
                 <h1 data-aos="fade-right" data-aos-duration="3000">Productos</h1>
                 <h4 data-aos="fade-right"  data-aos-duration="2000">Tienda de productos</h4>
            <div class="spacer3"></div>
        </div>
        <div class="spacerTopImage"></div>
    </div>
 </div>

<ng-container *ngIf="!cargandoDatos && !errorAlCargar">   
    <div class="fondo">
        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="contenedorColumnas">
                    <div class="spacer2"></div>
                        <div class="cuatroColumnas">
                            <button mat-button [matMenuTriggerFor]="filtrosMenu" class="botonDesplegable" #filtrosMenuTrigger="matMenuTrigger">
                                {{textoFiltro}}
                                <span class="material-symbols-outlined">
                                    {{ filtrosMenuTrigger.menuOpen ? 'arrow_drop_up' : 'arrow_drop_down' }}
                                </span>
                            </button>
                                            
                            <mat-menu #filtrosMenu="matMenu" class="menuDesplegable">
                                <button mat-menu-item *ngFor="let productType of productTypes" (click)="seleccionarTipo(productType)" style="color: white;">
                                    {{ productType.PRODUCT_TYPE }}
                                </button>
                            </mat-menu>
                                            
                            <button mat-button [matMenuTriggerFor]="ordenMenu" class="botonDesplegable" #ordenMenuTrigger="matMenuTrigger">
                                {{textoOrden}}
                                <span class="material-symbols-outlined">
                                    {{ ordenMenuTrigger.menuOpen ? 'arrow_drop_up' : 'arrow_drop_down' }}
                                </span>
                            </button>
                                            
                            <mat-menu #ordenMenu="matMenu" class="menuDesplegable">
                                <button mat-menu-item *ngFor="let order of orders" (click)="seleccionarOrden(order)" style="color: white;">
                                    {{ order.ORDER_BY }}
                                </button>
                            </mat-menu>
                                            
                            <button mat-button [matMenuTriggerFor]="marcasMenu" class="botonDesplegable" #marcasMenuTrigger="matMenuTrigger">
                                {{textoMarca}}
                                <span class="material-symbols-outlined">
                                    {{ marcasMenuTrigger.menuOpen ? 'arrow_drop_up' : 'arrow_drop_down' }}
                                </span>
                            </button>
                                            
                            <mat-menu #marcasMenu="matMenu" class="menuDesplegable">
                                <button mat-menu-item *ngFor="let supplier of suppliers" (click)="seleccionarProveedor(supplier)" style="color: white;">
                                    {{ supplier.NAME }}
                                </button>
                            </mat-menu>

                            <input type="text" placeholder="Buscar" name="datoCorreo" class="input-busqueda">
                        </div>                    
                        <div class="spacer2"></div>
                    </div> 
                </div>
                <div class="filas">
                    <div class="lista-productos">
                        <div *ngFor="let producto of productList" class="lista-tarjeta-productos" [routerLink]="['/producto',producto.ID_PRODUCT]">
                            <div class="contenedor-imagen">
                                <img [src]="getProductoImageUrl(producto.ID_PRODUCT)" alt="{{ producto.ID_REFERENCES }}">
                                <div *ngIf="producto.DISCOUNT != 0" class="banner-oferta">
                                    ¡Oferta!
                                </div>   
                            </div>
                            
                            <h3>{{ producto.ID_REFERENCES +' '+ producto.VERSION}}</h3>
                            <p>Precio: {{ producto.PRICE - producto.DISCOUNT | currency:'USD':'symbol':'1.0-0' }}</p>
                            <p *ngIf="producto.ID_PRODUCT_TYPE === 'PTS-KFQI7G6B'"> Color: {{ producto.COLOR }} </p>
                        </div>
                    </div>
                </div>
                <div class="paginator-container">
                    <mat-paginator 
                    [length]="productList.length"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="[3, 6, 9, 12]"
                    [showFirstLastButtons]="true"
                    (page)="handlePageEvent($event)">
                    </mat-paginator>
                </div>
            <div class="spacer2"></div>
            </div>
        </div>
    </div>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-11327971754"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-11327971754');
    </script>
</ng-container>

<div *ngIf="cargandoDatos" class="loading-state">
    <app-loading></app-loading>
</div>

<div *ngIf="errorAlCargar" class="error-state">
 <app-error    
    [titulo]="'Error de conexión'" 
    [mensaje]="'No se pudo obtener la información del servidor.'"
    (reintentar)="cargarDatosIniciales()">
 </app-error>
</div>
