<div class="backimg" style="background-color: white">
    <div class="islaTitulo">
     <div class="spacerTopImage"></div>
        <div class="islaTitulo2">
            <div class="spacer3"></div>
                 <h1 data-aos="fade-right" data-aos-duration="3000">Productos</h1>
                 <h4 data-aos="fade-right"  data-aos-duration="2000">Tienda de productos</h4>
            <div class="spacer3"></div>
        </div>
        <div class="spacerTopImage"></div>
    </div>
 </div>

<ng-container *ngIf="!cargandoDatos && !errorAlCargar">   
    <div class="fondo">
        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="contenedorColumnas">
                    <div class="cuatroColumnas">
                        <button mat-button [matMenuTriggerFor]="filtrosMenu" class="botonDesplegable" #filtrosMenuTrigger="matMenuTrigger">
                            {{textoFiltro}}
                            <span class="material-symbols-outlined">
                                {{ filtrosMenuTrigger.menuOpen ? 'arrow_drop_up' : 'arrow_drop_down' }}
                            </span>
                        </button>
                                            
                        <mat-menu #filtrosMenu="matMenu" class="menuDesplegable">
                            <button mat-menu-item *ngFor="let productType of productTypes" (click)="seleccionarTipo(productType)" style="color: white;">
                                {{ productType.name }}
                            </button>
                        </mat-menu>
                                            
                        <button mat-button [matMenuTriggerFor]="ordenMenu" class="botonDesplegable" #ordenMenuTrigger="matMenuTrigger">
                            {{textoOrden}}
                            <span class="material-symbols-outlined">
                                {{ ordenMenuTrigger.menuOpen ? 'arrow_drop_up' : 'arrow_drop_down' }}
                            </span>
                        </button>
                                        
                        <mat-menu #ordenMenu="matMenu" class="menuDesplegable">
                            <button mat-menu-item *ngFor="let order of defaultOrderOption" (click)="seleccionarOrden(order)" style="color: white;">
                                {{ order.name }}
                            </button>
                        </mat-menu>
                                        
                        <button mat-button [matMenuTriggerFor]="marcasMenu" class="botonDesplegable" #marcasMenuTrigger="matMenuTrigger">
                            {{textoMarca}}
                            <span class="material-symbols-outlined">
                                {{ marcasMenuTrigger.menuOpen ? 'arrow_drop_up' : 'arrow_drop_down' }}
                            </span>
                        </button>
                                        
                        <mat-menu #marcasMenu="matMenu" class="menuDesplegable">
                            <button mat-menu-item *ngFor="let brand of brands" (click)="seleccionarProveedor(brand)" style="color: white;">
                                {{ brand.name }}
                            </button>
                        </mat-menu>

                        <div class="botonDesplegable">
                            <input
                                type="text"
                                placeholder="Buscar productos..."
                                class="input-busqueda"
                                [(ngModel)]="searchTerm"
                                (keyup.enter)="buscarProductos()"
                            />
                        </div>
                    </div>                    
                    <div class="spacer2"></div>
                </div> 
                <div class="filas">
                    <div class="lista-productos">
                        <div *ngFor="let producto of productList" class="lista-tarjeta-productos" [routerLink]="['/producto',producto.slug]">
                            <div class="contenedor-imagen-carrusel">
                                <img [src]="getProductoMediaUrl(producto.product_id)" alt="{{ getProductoMediaAlt(producto.product_id) }}"> 
                                <div *ngIf="producto.offer == true" class="banner-oferta">
                                    ¡Oferta!
                                </div>
                            </div>
                            
                            <h3>{{ producto.name}}</h3>
                            <p>Precio: {{ producto.price_from | currency:'USD':'symbol':'1.0-0' }}</p>
                        </div>
                    </div>
                </div>
                <div class="paginator-container">
                <mat-paginator
                    [length]="paginationMeta?.totalItems"
                    [pageSize]="pageSize"
                    [pageIndex]="pageIndex - 1"
                    [pageSizeOptions]="[3, 6, 9, 12]"
                    [showFirstLastButtons]="true"
                    (page)="handlePageEvent($event)">
                    </mat-paginator>
                </div>
            <div class="spacer2"></div>
            </div>
        </div>
        <div class="spacer2"></div>

        <app-footer-container></app-footer-container>

        <div class="spacer2"></div>
    </div>
</ng-container> 

    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11327971754"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-11327971754');
</script>


<div *ngIf="cargandoDatos" class="loading-state">
    <app-loading></app-loading>
</div>

<div *ngIf="errorAlCargar" class="error-state">
 <app-error    
    [titulo]="'Error de conexión'" 
    [mensaje]="'No se pudo obtener la información del servidor.'"
    (reintentar)="cargarDatosIniciales()">
 </app-error>
</div>
