<div class="backimg" style="background-color: white;">

    <div aling = "justify" >
        <div class="spacer">

        </div>

        <h1 data-aos="fade-right" data-aos-duration="3000" style="color: white;">
            ¿Quiénes Somos?
        </h1>

        <div class="spacer2">

        </div>

        <h3 data-aos="fade-right"  data-aos-duration="2000">
            Neurónica S.A.S
        </h3>

        <div class="spacer">

        </div>

    </div>

</div>


<div class="fondo" style="background-color: aqua;">
    <div class="spacer2"></div>

    <div class="isla">

        <div class = "container">
            <section class="columnaIzquierda">
                <h2 data-aos="fade-right" data-aos-duration="3000">
                    <div class="spacer2"></div>
                    General 
                </h2>

                <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000">

                </div>

                <h4 data-aos="fade-right" data-aos-duration="2000">
                    <div class="spacer2"></div>
                    Neurónica S.A.S se alza como una entidad pionera en soluciones 
                    de ingeniería a la medida, en sincronía con las corrientes más 
                    avanzadas de la tecnología actual, entre las cuales destacan el 
                    Internet de las Cosas (IoT), la impresión 3D y la inteligencia 
                    artificial. Nuestra empresa se erige como un faro de adaptabilidad,
                    orientado a proporcionar soluciones personalizadas que se entrelazan
                    de manera precisa con los requerimientos y presupuesto de nuestros
                    valorados clientes. Cada entrega se concibe como un producto final
                    meticulosamente elaborado para abordar y resolver una o más 
                    necesidades específicas.
                    
                    Nuestras soluciones atraviesan un abanico diversificado que abarca 
                    software, hardware, telecomunicaciones y manufactura. Estamos 
                    comprometidos en brindar un entorno donde la innovación se fusiona 
                    con la practicidad, donde cada producto responde a un propósito 
                    particular y está diseñado para encajar a la perfección en la realidad
                    operativa de nuestros clientes. Nuestro compromiso con la excelencia 
                    se refleja en la concesión de garantías y un riguroso seguimiento de
                    la funcionalidad de cada producto, asegurando que su valor perdure 
                    en el tiempo.

                    Una de nuestras ofertas estrella es la movilidad eléctrica, una propuesta
                    en sintonía con las tendencias globales que abogan por la seguridad y 
                    sostenibilidad. Este producto en particular encarna una alternativa de
                    movilidad avanzada que se encuentra en pleno auge a nivel mundial, y en
                    la cual hemos centrado nuestros esfuerzos para brindarte una opción que 
                    combine seguridad, rendimiento y responsabilidad ambiental.
                    
                    En Neurónica S.A.S, no solo abrazamos las nuevas tecnologías, sino que también
                    las dirigimos hacia la creación de soluciones tangibles y significativas. Invitamos
                    a todos aquellos que anhelan la excelencia tecnológica y la adaptabilidad a unirse 
                    a nosotros en la construcción de un mundo empresarial y cotidiano más inteligente y
                    efectivo.
                </h4>

                <div class="spacer2"></div>


            </section>
    
            <section class="columnaDerecha">
                <div class="spacer2"></div>
                <div class="spacer2"></div>
                <div class="spacer2"></div>

                <div class="video">
                    <video autoplay muted loop src="./assets/Imagenes/empresa_video.mp4" alt="imprimiendo" data-aos="fade-right" data-aos-duration="3000" width="100%" height="400%" margin = 0></video>
            
                </div>

                <div class="spacer2"></div>

                <img src="./assets/Imagenes/pcb.jpg" alt="ponerimagen" style="width:100%;height:50%;border-radius: 25px" >

                

                <div class="spacer2"></div>

            </section>
        </div>

        <div class="spacer2"></div>


    </div>
    <div class="spacer2"></div>

    <div class="isla">

        <div class = "container">
            <section class="mision">
                <h2 class="margen" data-aos="fade-right" data-aos-duration="3000">
                    <div class="spacer2"></div>
                    Misión 
                </h2>

                <div class="cuadrado2" data-aos="fade-right" data-aos-duration="2000">

                </div>

                <h4 class= "margen" data-aos="fade-right" data-aos-duration="2000">
                    <div class="spacer2"></div>
                    La misión primordial de Neurónica S.A.S es simplificar, 
                    resolver y apoyar las necesidades de individuos y empresas 
                    a través de productos finales personalizados. Nos dedicamos 
                    a ser líderes en la integración de tecnologías de punta en 
                    áreas que abarcan desde la ingeniería hasta la movilidad 
                    eléctrica. Nuestro enfoque se centra en ser un facilitador 
                    y solucionador excepcional al combinar conocimiento técnico 
                    y experiencia para superar obstáculos y mejorar las operaciones 
                    diarias. A través de una escucha atenta y una adaptación precisa 
                    a las necesidades de los clientes, traducimos demandas en soluciones 
                    tangibles y efectivas que impulsan un progreso duradero. Además, hemos 
                    orientado nuestros esfuerzos hacia la movilidad eléctrica, proporcionando 
                    una alternativa de transporte segura y sostenible. En Neurónica S.A.S, 
                    compartimos una pasión por la excelencia y la innovación, y te invitamos a 
                    unirte a nosotros en esta travesía donde el compromiso con la satisfacción 
                    del cliente y la creación de un futuro más inteligente están en el centro 
                    de nuestra labor.
                </h4>

                <div class="spacer2"></div>


            </section>

        </div>


    </div>

    <div class="spacer2"></div>

    <div class="isla">

        <div class = "container">
            <section class="vision">
                <h2 class="margen" data-aos="fade-right" data-aos-duration="3000">
                    <div class="spacer2"></div>
                    Visión 
                </h2>

                <div class="cuadrado2" data-aos="fade-right" data-aos-duration="2000">

                </div>

                <h4 class= "margen" data-aos="fade-right" data-aos-duration="2000">
                    <div class="spacer2"></div>
                        Nuestra prioridad es mantenernos en la vanguardia tecnológica en cada uno de nuestros productos 
                        finales, lo que se traduce en la entrega de un servicio altamente efectivo. 
                </h4>

                <div class="spacer2"></div>


            </section>

        </div>


    </div>

    <div class="spacer2"></div>

    <div class="pieDePagina">
        <div class = "container">
            <section class="columnaIzquierda">
                <h3>
                    <div class="spacer2"></div>
                    Neurónica S.A.S
                </h3>
                <h4>
                    <form>
                        <div class="spacer2"></div>
                        <img src="./assets/Imagenes/Telegram.png" alt="telegram" style="width:14%;height:14%;border-radius: 25px" >
                        <img src="./assets/Imagenes/WhatsApp.png" alt="whatsapp" style="width:14%;height:14%;border-radius: 25px" >
                        +57 302 721-8775
                    </form>

                </h4>

                <h4>
                    <div class="spacer2"></div>
                    <form>
                        <img src="./assets/Imagenes/gmail.png" alt="gmail" style="width:14%;height:14%;border-radius: 25px" >
                        informacion@neuronica.co
                    </form>
                    
                </h4>

                <h5>
                <div class="spacer2"></div>
                <form>
                    <img src="./assets/Imagenes/Instagram.png" alt="gmail" style="width:14%;height:14%;border-radius: 25px" >
                    <img src="./assets/Imagenes/ticktock.png" alt="gmail" style="width:14%;height:14%;border-radius: 25px" > 
                    @neuronica_co
                </form>
                    
                </h5>

            </section>
    
            <section class="columnaDerecha">
                <h3>
                    <div class="spacer2"></div>
                    Regístrate
                </h3>

                <h4>
                    <div class="spacer2"></div>

                    Registrate y recibe noticias de Neurónica
                </h4>
                <form action="">

                    <div class="spacer2"></div>

                    <input type="correo" placeholder="ejemplo@gmail.com">
                    <input type="submit" value="Enviar" style="color: white; background-color: black;">

                </form>


                <div class="spacer2"></div>

                <h4>
                    Pronto estaremos en contacto contigo.
                </h4>

            </section>
        </div>
    </div>

</div>
