<body>
    <div class="backimg" style="background-color: white">
       <div class="islaTitulo">
           <div class="spacer"></div>
           <div class="islaTitulo2">
               <div class="spacer2"></div>
               <div class="spacer2"></div>
                   <h1 data-aos="fade-right" data-aos-duration="3000">¿Quiénes Somos?</h1>
                   <div class="spacer2"></div>
                   <h3 data-aos="fade-right"  data-aos-duration="2000">Neurónica S.A.S</h3>
                   <div class="spacer2"></div>
           </div>
           <div class="spacer"></div>
       </div>
    </div>

    <div class="fondo">
        <div class="spacer2"></div>
            <div class="contenedorColumnas">
                <div class="spacer2"></div>
                <div class="bordeAzul">
                    <div class="filas">
                        <div class="unaColumna">
                            <div class="spacer2"></div>
                            <h2 style="text-align: center;" data-aos="fade-right" data-aos-duration="2000">General</h2>
                            <div class="cuadrado"  style="margin-right: 5%; margin-left: 5%;" data-aos="fade-left" data-aos-duration="2000"></div>
                            <div class="spacer2"></div>
                            <h4 style="margin-left: 5%; margin-right: 5%; text-align: justify;" data-aos="fade-right" data-aos-duration="2000">
                                Neurónica S.A.S se alza como una entidad pionera en soluciones de ingeniería a la medida,
                                en sincronía con las corrientes más avanzadas de la tecnología actual, entre las cuales
                                destacan el Internet de las Cosas (IoT), la impresión 3D y la inteligencia artificial.
                            </h4>
                            <div class="spacer2"></div>
                            <div class="dosColumnas">
                                <h4 style="margin-left: 10%; margin-right: 5%; text-align: justify;" data-aos="fade-right" data-aos-duration="2000">
                                    Nuestra empresa se erige como un faro de adaptabilidad, orientado a proporcionar
                                    soluciones personalizadas que se entrelazan de manera precisa con los requerimientos 
                                    y presupuesto de nuestros valorados clientes. Cada entrega se concibe como un producto 
                                    final meticulosamente elaborado para abordar y resolver una o más necesidades específicas. 
                                    Nuestras soluciones atraviesan un abanico diversificado que abarca software, hardware, 
                                    telecomunicaciones y manufactura.
                                    <div class="spacer2"></div>
                                    
                                </h4>
                            </div> 
                            <div class="dosColumnas">
                                <video  class="video" muted loop src="./assets/Imagenes/empresa_video.mp4" alt="imprimiendo" data-aos="fade-left" data-aos-duration="3000" ></video>
                            </div> 
                            <div class="spacer"></div>
                            <div class="spacer2"></div>
                        </div>
                    </div>                     
                </div>
                <div class="spacer2"></div>
            </div>
        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 style="text-align: center;" data-aos="fade-right" data-aos-duration="2000">Misión</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-left" data-aos-duration="2000"></div>
                        <div class="spacer2"></div>
                        <h4 style="margin-left: 5%; margin-right: 5%; text-align:justify" data-aos="fade-right" data-aos-duration="2000">
                            La misión primordial de Neurónica S.A.S es simplificar, resolver y apoyar las 
                            necesidades de individuos y empresas a través de productos finales personalizados. 
                            Nos dedicamos a ser líderes en la integración de tecnologías de punta en áreas de la 
                            ingeniería. Nuestro enfoque se centra en ser un facilitador y solucionador excepcional 
                            al combinar conocimiento técnico y experiencia para superar obstáculos y mejorar las 
                            operaciones diarias. A través de una escucha atenta y una adaptación precisa a las necesidades 
                            de los clientes, traducimos demandas en soluciones tangibles y efectivas que impulsan un progreso 
                            duradero. En Neurónica S.A.S, compartimos una pasión por la excelencia y la innovación, y te invitamos 
                            a unirte a nosotros en esta travesía donde el compromiso con la satisfacción del cliente y la creación 
                            de un futuro más inteligente están en el centro de nuestra labor.
                        </h4>
                    </div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>

        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 style="text-align: center;" data-aos="fade-right" data-aos-duration="2000">Visión</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-left" data-aos-duration="2000"></div>
                        <div class="spacer2"></div>
                        <h4 style="margin-left: 5%; margin-right: 5%; text-align:justify" data-aos="fade-right" data-aos-duration="2000">
                            Nuestra prioridad es mantenernos en la vanguardia tecnológica en cada uno de nuestros 
                            productos finales, lo que se traduce en la entrega de un servicio altamente efectivo.

                        </h4>
                    </div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>

        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="dosColumnas" style="text-align: center;">
                        <div class="spacer2"></div>
                        <h2 data-aos="fade-right" data-aos-duration="2000">Neurónica</h2>
                        <h4>
                            <form data-aos="fade-right" data-aos-duration="2000">
                                <div class="spacer2"></div>
                                <a href="https://t.me/+573027218775">
                                    <img src="./assets/Imagenes/Telegram.png" alt="telegram" style="width:12%;height:12%;border-radius: 50%">
                                </a>
                                <a href=" https://wa.me/573027218775">
                                    <img src="./assets/Imagenes/WhatsApp.png" alt="whatsapp" style="width:12%;height:12%;border-radius: 50%" href = " https://wa.me/573027218775">
                                </a>
                                    +57 302 721-8775
                            </form>
                        </h4>
                        <h4>
                            <div class="spacer2"></div>
                            <form data-aos="fade-right" data-aos-duration="2000">
                                <a href="mailto:informacion@neuronica.co">
                                    <img src="./assets/Imagenes/gmail.png" alt="gmail" style="width:12%;height:12%;border-radius: 50%" >
                                </a>
                                    informacion@neuronica.co
                            </form>
                            
                        </h4>
                    </div>
                    <div class="dosColumnas" style="text-align: center;">
                        <div class="spacer2"></div>
                        <h2 data-aos="fade-left" data-aos-duration="2000">Registrate</h2>
                        <div class="spacer2"></div>
                        <h4 data-aos="fade-left" data-aos-duration="2000">Regístrate y recibe noticias de Neurónica</h4>
                        <form data-aos="fade-left" data-aos-duration="2000" action="https://script.google.com/macros/s/AKfycbxZ_pqSl6nD607rVSnP28fjqnSYPGkwfQHHxzLjtiGLSfkCJGW2VlY_iaN8wS-Yg5EELQ/exec"                      
                        method="post">
                            <div class="spacer2"></div>     
                            <input type="correo" placeholder="ejemplo@gmail.com" name="datoCorreo" style="color: black; background-color: white; border-color: #005f75">
                            <input type="submit" value="Enviar" style="color: white; background-color: #005f75;border-color: white;">        
                        </form>
                        <div class="spacer2"></div>
                        <h4 data-aos="fade-left" data-aos-duration="2000">Pronto estaremos en contacto contigo.</h4>
                    </div>
                </div>
            </div>
            <div class="spacer2"></div>
         </div>
       <div class="spacer2"></div>
    </div>
</body>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11327971754"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'AW-11327971754');
</script>