@import url("/home/sfmerchan/Documents/Software/Pagina_Web/pagina_neuronica/src/styles.css");

body{
    background-color: white;
}

.backimg{
    background: url("/assets/Imagenes/IoT.jpg");
    width: getwidth;
    height: getheight;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
