<body>
    <div class="backimg" style="background-color: white">
       <div class="islaTitulo">
           <div class="spacer"></div>
           <div class="islaTitulo2">
               <div class="spacer2"></div>
               <div class="spacer2"></div>
                   <h1 data-aos="fade-right" data-aos-duration="3000" style="line-height: 5rem;">Diseño Electrónico</h1>
                   <div class="spacer2"></div>
                   <h4 data-aos="fade-right"  data-aos-duration="2000">Hardware a la medida</h4>
                   <div class="spacer2"></div>
           </div>
           <div class="spacer"></div>
       </div>
    </div>

    <div class="fondo">
        <div class="spacer2"></div>
            <div class="contenedorColumnas">
                <div class="spacer2"></div>
                <div class="bordeAzul">
                    <div class="filas">
                        <div class="unaColumna">
                            <div class="spacer2"></div>
                            <div class="cuadrado"  style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                            <div class="spacer2"></div>
                            <p style="margin-left: 5%; margin-right: 5%; text-align: justify;" data-aos="fade-right" data-aos-duration="2000">
                                Sumérgete en el fascinante mundo del diseño electrónico y prototipado que Neurónica tiene para 
                                ofrecerte. Descubre cómo nuestra experiencia y creatividad se combinan para convertir tus ideas en 
                                soluciones tangibles. Explora ahora nuestro servicio personalizado y da vida a la innovación con 
                                Neurónica.
                            </p>
                            <div class="spacer2"></div>
                        </div>
                    </div>                     
                </div>
                <div class="spacer2"></div>
            </div>
        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 style="text-align: center;" data-aos="fade-right" data-aos-duration="2000">¿Que es el hardware?</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                    </div>
                    <div class="spacer2"></div>
                    <div class="dosColumnas">
                        <div class="spacer2"></div>
                        <p style="margin-left: 10%; margin-right: 5%; text-align:justify" data-aos="fade-right" data-aos-duration="2000">
                            El hardware es la parte tangible y física de un sistema informático o electrónico. Incluye todos los 
                            componentes físicos que puedes ver y tocar, como la unidad central de procesamiento (CPU), la memoria 
                            RAM, las tarjetas gráficas, los discos duros, las placas madre, entre otros. En el contexto de la ingeniería 
                            electrónica, el hardware abarca desde dispositivos simples, como resistencias y transistores, hasta 
                            componentes más complejos, como microcontroladores y sistemas embebidos.
                        </p>
                    </div>
                    <div class="dosColumnas">

                        <img class="imagen" src="./assets/Imagenes/componentes_electronicos.jpg" alt="Componentes Electrónicos" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%;margin-right: 10%; margin-top: 50%;transform: translateY(-50%);">
                        <div class="spacer2"></div>
                    </div>
                    <div class="spacer2"></div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>

        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 style="text-align: center;" data-aos="fade-right" data-aos-duration="2000">Firmware: La Esencia de la Funcionalidad Electrónica</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                    </div>
                    <div class="spacer2"></div>
                    <div class="dosColumnas">
                        <p style="margin-left: 10%; margin-right: 5%; text-align:justify" data-aos="fade-right" data-aos-duration="2000">
                            El firmware es el conjunto de instrucciones programadas que reside en la memoria de un dispositivo electrónico. Funciona como un puente 
                            esencial entre el hardware y el software, proporcionando las directrices específicas que permiten que el dispositivo realice funciones 
                            particulares. En otras palabras, es el cerebro detrás de la operación eficiente de dispositivos como microcontroladores, llevando a cabo 
                            tareas específicas según las necesidades del usuario. Con Neurónica, no solo creamos dispositivos electrónicos avanzados, sino que también 
                            optimizamos y personalizamos el firmware para garantizar un rendimiento excepcional y adaptado a tus requerimientos.
                        </p>
                        <div class="spacer2"></div>
                    </div>
                    <div class="dosColumnas">
                        <img class="imagen4" src="./assets/Imagenes/firmware_en_accion.jpg" alt="Firmware en Acción" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%;margin-right: 10%; margin-top: 50%;transform: translateY(-50%); transform: rotate(270deg); ;">
                        <div class="spacer2"></div>
                    </div>
                    <div class="spacer2"></div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>

        <div class="spacer2"></div> 

        
        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 style="text-align: center;" data-aos="fade-right" data-aos-duration="2000">PCB: La Columna Vertebral de la Electrónica</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                    </div>
                    <div class="spacer2"></div>
                    <div class="dosColumnas">
                        <p style="margin-left: 10%; margin-right: 5%; text-align:justify" data-aos="fade-right" data-aos-duration="2000">
                            La PCB, o Placa de Circuito Impreso, es un componente esencial en la fabricación de dispositivos electrónicos. Funciona como la 
                            estructura física que conecta y sostiene los diversos elementos electrónicos de un dispositivo. En términos sencillos, la PCB es 
                            como el esqueleto que proporciona soporte y organización a los componentes, permitiendo que se comuniquen entre sí. En Neurónica, 
                            comprendemos que una PCB bien diseñada es crucial para garantizar la integridad y eficiencia de cualquier dispositivo electrónico. 
                            Nos aseguramos de crear PCB personalizadas y eficientes para tus dispositivos, optimizando su rendimiento y garantizando una funcionalidad 
                            robusta.
                        </p>
                    </div>
                    <div class="dosColumnas">
                        <img class="imagen" src="./assets/Imagenes/pcb_personalizada_neuronica.jpg" alt="PCB Personalizada por Neurónica" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%;margin-right: 10%; margin-top: 50%; transform: rotate(90deg);">
                        <div class="spacer2"></div>
                        <div class="spacer2"></div>
                        <div class="spacer2"></div>
                    </div>
                    <div class="spacer2"></div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>

        <div class="spacer2"></div> 

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 style="text-align: center;" data-aos="fade-right" data-aos-duration="2000">Diseño Electrónico para Empresas en Bogotá</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                    </div>
                    <div class="spacer2"></div>
                    <div class="unaColumna">
                        <p style="margin-left: 5%; margin-right: 5%; text-align:justify" data-aos="fade-right" data-aos-duration="2000">
                            Explora las soluciones personalizadas de Neurónica en Bogotá para el diseño electrónico, abordando los problemas empresariales 
                            mediante productos innovadores. Nuestro equipo de ingenieros altamente capacitados guía cada fase, desde la consolidación de 
                            requisitos hasta la creación de prototipos funcionales y el diseño final de dispositivos electrónicos con firmware y PCB.
                        </p>
                        <div class="spacer2"></div>
                    </div>
                    <div class="dosColumnas">
                        <img class="imagen" src="./assets/Imagenes/acompanamiento_profesional_neuronica..jpg" alt="Acompañamiento Profesional en Neurónica" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%;margin-right: 10%; margin-top: 50%;transform: translateY(-50%);">
                    </div>
                    <div class="dosColumnas">
                        <h3 data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 10%; text-align:center;color: #005f75;font-family: 'Nunito', sans-serif;">Diseñador de Electrónica en Bogotá</h3>
                        <p style="margin-left: 5%; margin-right: 10%; text-align:justify" data-aos="fade-right" data-aos-duration="2000">
                            Con Neurónica, tus ideas toman vida con el respaldo de ingenieros de electrónica altamente capacitados en 
                            Bogotá. Desde la conceptualización hasta el diseño final de dispositivos electrónicos, nuestro equipo 
                            proporciona un acompañamiento profesional. Nos especializamos en firmware y PCB, asegurando resultados 
                            eficientes y de calidad.
                        </p>
                    </div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>

        <div class="spacer2"></div> 

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 style="text-align: center;" data-aos="fade-right" data-aos-duration="2000">Desarrollo de Dispositivos Electrónicos con Neurónica</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                    </div>
                    <div class="spacer2"></div>
                    <div class="dosColumnas">
                        <img class="imagen" src="./assets/Imagenes/prototipo_funcional_neuronica.jpg" alt="Prototipo Funcional de Dispositivo Electrónico" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%;margin-right: 10%; margin-top: 50%;transform: translateY(-50%);">
                        <div class="spacer2"></div>
                    </div>
                    <div class="dosColumnas">
                        <p style="margin-left: 5%; margin-right: 10%; text-align:justify" data-aos="fade-right" data-aos-duration="2000">
                            Explora el proceso completo de desarrollo con Neurónica, desde la idea hasta el producto tangible. Nuestro 
                            servicio abarca la conceptualización, creación de prototipos y diseño completo de dispositivos electrónicos, 
                            con un enfoque especializado en firmware y PCB. Te brindamos soluciones listas para el mercado y totalmente 
                            personalizadas.
                        </p>
                    </div>
                    <div class="spacer2"></div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>

        <div class="spacer2"></div> 

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 style="text-align: center; margin-left: 5%; margin-right: 5%;" data-aos="fade-right" data-aos-duration="2000">Beneficios del Diseño Electrónico y Prototipado a Medida</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                        <div class="spacer2"></div>
                        <p style="margin-left: 5%; margin-right: 5%; text-align:justify" data-aos="fade-right" data-aos-duration="2000">
                            ¿Por qué Elegir Nuestro Servicio de Diseño Electrónico?
                        </p>
                    </div>
                    <div class="spacer2"></div>
                    <div class="dosColumnas">

                        <img class="imagen" src="./assets/Imagenes/hardware_medida_eficiencia_rendimiento.jpg" alt="Hardware a Medida con Eficiencia y Rendimiento Destacados" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 5%;text-align: justify;">

                        <div class="spacer2"></div>
                    </div>
                    <div class="dosColumnas">
                        <h3 data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 5%; text-align:center;color: #005f75;font-family: 'Nunito', sans-serif;">Personalización Precisa</h3>
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 10%; text-align:justify">
                            Diseñamos circuitos electrónicos personalizados que se ajustan exactamente a tus requisitos.
                        </p>
                        <div class="spacer2"></div>
                        <h3 data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 5%; text-align:center;color: #005f75; font-family: 'Nunito', sans-serif;">Iteraciones Eficientes</h3>
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 10%; text-align:justify">
                            Nuestro proceso de prototipado rápido te permite refinar y mejorar tu concepto de manera ágil.
                        </p>
                        <div class="spacer2"></div>
                    </div>
                    <div class="spacer2"></div>
                    <div class="unaColumna">
                        <h3 data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 5%; text-align:center;color: #005f75; font-family: 'Nunito', sans-serif;">Eficiencia y Rendimiento</h3>
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-left: 5%; margin-right: 10%; text-align:justify">
                            Desarrollamos hardware a medida que destaca en eficiencia y rendimiento, garantizando soluciones de calidad.
                        </p>
                    </div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>

        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 data-aos="fade-right" data-aos-duration="3000" style="margin-right: 5%; margin-left: 5%; text-align: center;">Contáctate con nosotros</h2>
                        <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                        <div class="spacer2"></div>
                        <p data-aos="fade-right" data-aos-duration="3000" style="margin-right: 5%; margin-left: 5%; text-align: justify;">
                            En Neurónica, transformamos ideas en realidad. Si buscas soluciones de diseño electrónico y prototipado a 
                            medida en Bogotá, no dudes en contactarnos. Estamos listos para ser tu socio de confianza en innovación y 
                            tecnología. Comienza tu proyecto hoy mismo.
                        </p>
                        <div class="spacer2"></div>
                        <a href="https://wa.me/573027218775" style="height: 0.5rem; width: 7rem;">
                            <button class="boton" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 30%; margin-right: 30%;">Contáctanos</button>
                        </a>
                        <div class="spacer2"></div>
                    </div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>        

        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="dosColumnas" style="text-align: center;">
                        <div class="spacer2"></div>
                        <h2 data-aos="fade-right" data-aos-duration="2000">Neurónica</h2>
                        <h3>
                            <form data-aos="fade-right" data-aos-duration="2000">
                                <div class="spacer2"></div>
                                <a href="https://t.me/+573027218775">
                                    <img src="./assets/Imagenes/Telegram.png" alt="telegram" style="width:12%;height:12%;border-radius: 50%">
                                </a>
                                <a href=" https://wa.me/573027218775">
                                    <img src="./assets/Imagenes/WhatsApp.png" alt="whatsapp" style="width:12%;height:12%;border-radius: 50%" href = " https://wa.me/573027218775">
                                </a>
                                    +57 302 721-8775
                            </form>
                        </h3>
                        <h3>
                            <div class="spacer2"></div>
                            <form data-aos="fade-right" data-aos-duration="2000">
                                <a href="mailto:informacion@neuronica.co">
                                    <img src="./assets/Imagenes/gmail.png" alt="gmail" style="width:12%;height:12%;border-radius: 50%" >
                                </a>
                                    informacion@neuronica.co
                            </form>
                            
                        </h3>
                    </div>
                    <div class="dosColumnas" style="text-align: center;">
                        <div class="spacer2"></div>
                        <h2 data-aos="fade-right" data-aos-duration="2000">Regístrate</h2>
                        <div class="spacer2"></div>
                        <p data-aos="fade-right" data-aos-duration="2000">Regístrate y recibe noticias de Neurónica</p>
                        <form data-aos="fade-right" data-aos-duration="2000" action="https://script.google.com/macros/s/AKfycbxZ_pqSl6nD607rVSnP28fjqnSYPGkwfQHHxzLjtiGLSfkCJGW2VlY_iaN8wS-Yg5EELQ/exec"                      
                        method="post">
                            <div class="spacer2"></div>     
                            <input type="correo" placeholder="ejemplo@gmail.com" name="datoCorreo" style="color: black; background-color: white; border-color: #005f75">
                            <input type="submit" value="Enviar" style="color: white; background-color: #005f75;border-color: white;">        
                        </form>
                        <div class="spacer2"></div>
                        <p data-aos="fade-right" data-aos-duration="2000">Pronto estaremos en contacto contigo.</p>
                    </div>
                </div>
            </div>
            <div class="spacer2"></div>
         </div>
       <div class="spacer2"></div>
    </div>
</body>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11327971754"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'AW-11327971754');
</script>

