<div class="backimg" style="background-color: white;">
    <div aling = "justify" >
        <div class="spacer"></div>
        <h1 data-aos="fade-right" data-aos-duration="3000" style="color: white;">Servicios</h1>
        <div class="spacer2"></div>
        <h3 data-aos="fade-right"  data-aos-duration="2000">Hacemos realidad tus ideas</h3>
        <div class="spacer"></div>
    </div>  
</div>

<div class="fondo">
    <div class="spacer2"></div>
    <div class="isla">
        <div class="container">
            <section class="columnaIzquierda">
                <div class="spacer2"></div>
                <div class="ing">
                    <div class="spacer2"></div>
                    <h2 data-aos="fade-right" data-aos-duration="2000" style="margin-right: 7%; margin-left: 7%; text-align: center;">
                        INGENIERÍA PARA HOGAR
                    </h2>
                    <div class="spacer2"></div>
                    <div class="cuadrado" data-aos="fade-right" data-aos-duration="3000"></div>
                    <div class="spacer2"></div>
                    <h4 data-aos="fade-right" data-aos-duration="2000" style="margin-right: 7%; margin-left: 7%;">
                        En neurónica nos preocupamos por la comodidad de nuestros clientes, por ello
                        brindamos servicios personalizados para tu hogar, los cuales abarcan:
                    </h4>
                    <div class="spacer2"></div>
                    <a href="/Hogar">
                        <button class="leerMas" data-aos="fade-right" data-aos-duration="3000">Me interesa</button>
                    </a>
                    </div>
                <div class="spacer2"></div>
            </section>

            <section class="columnaDerecha">
                <div class="spacer2"></div>
                <div class="ing">
                    <div class="spacer2"></div>
                    <h2 data-aos="fade-left" data-aos-duration="2000" style="margin-right: 7%; margin-left: 7%; text-align: center;">
                        INGENIERÍA EMPRESARIAL
                    </h2>
                    <div class="spacer2"></div>
                    <div class="cuadrado" data-aos="fade-left" data-aos-duration="3000"></div>
                    <div class="spacer2"></div>
                    <h4 style="margin-right: 7%; margin-left: 7%;" data-aos="fade-left" data-aos-duration="2000">
                        Somos un gran aliado para las empresas, ya que ponemos las nuevas tecnologías 
                        a disposición de nuestros clientes, solucionando diversos problemas, optimizando 
                        tiempos de trabajo o aportando al crecimiento de las nuevas empresas
                    </h4>
                    <div class="spacer2"></div>
                    <a href="/Empresarial">
                        <button class="leerMas" data-aos="fade-left" data-aos-duration="3000">Me interesa</button>
                    </a>
                    </div>
                <div class="spacer2"></div>
            </section>
        </div>
    </div>
    
    <div class="espacioCel"></div>

    <div class="islaCel">
        <div class="containerCel">
            <div class="ing2">
                <div class="espacioCel"></div>
                <h2  class="texCel" data-aos="fade-right" data-aos-duration="2000" style="font-size: 1.5rem;">
                    INGENIERÍA EMPRESAS
                </h2>
                <div class="espacioCel"></div>
                <div class="cuadradoCel" data-aos="fade-right" data-aos-duration="3000"></div>
                <div class="espacioCel"></div>
                <h4 class="texCel" data-aos="fade-right" data-aos-duration="2000" style="margin-right: 7%; margin-left: 7%;">
                    Somos un gran aliado para las empresas, ya que ponemos las nuevas tecnologías 
                    a disposición de nuestros clientes, solucionando diversos problemas, optimizando 
                    tiempos de trabajo o aportando al crecimiento de las nuevas empresas
                </h4>        
                <a href="/Empresarial">
                    <button class="leerMas" data-aos="fade-left" data-aos-duration="3000">Me interesa</button>
                </a>
                <div class="espacioCel"></div>
                <div class="espacioCel"></div>
            </div>
        </div>
    </div>

    <div class="spacer2"></div>

    <div class="pieDePagina">
        <div class = "containerPie">
            <section class="columnaIzquierda">
                <h3 style="color: white;">
                    <div class="spacer2"></div>
                    Neurónica S.A.S
                </h3>
                <h4>
                    <form>
                        <div class="spacer2"></div>
                        <a href="https://t.me/+573027218775">
                            <img src="./assets/Imagenes/Telegram.png" alt="telegram" style="width:14%;height:14%;border-radius: 25px">
                        </a>
                        <a href=" https://wa.me/573027218775">
                            <img src="./assets/Imagenes/WhatsApp.png" alt="whatsapp" style="width:14%;height:14%;border-radius: 25px" href = " https://wa.me/573027218775">
                        </a>
                            +57 302 721-8775
                    </form>

                </h4>

                <h4>
                    <div class="spacer2"></div>
                    <form>
                        <a href="mailto:informacion@neuronica.co">
                            <img src="./assets/Imagenes/gmail.png" alt="gmail" style="width:14%;height:14%;border-radius: 25px" >
                        </a>
                            informacion@neuronica.co
                    </form>
                    
                </h4>

            </section>
    
            <section class="columnaDerecha">
                <h3 style="color: white;">
                    <div class="spacer2"></div>
                    Regístrate
                </h3>
                <h4>
                    <div class="spacer2"></div>
                    Regístrate y recibe noticias de Neurónica
                </h4>
                <form action="https://script.google.com/macros/s/AKfycbxyrPucWHsRJ0Wx6rQmNMRgivSFWl2zNo9nuEd92U0UgU3DlxuCLSw_wbWDphVj7n-HsA/exec"
                method="post">

                    <div class="spacer2"></div>

                    <input type="correo" placeholder="ejemplo@gmail.com" name="datoCorreo" style="color: white;">
                    <input type="submit" value="Enviar" style="color: white; background-color: black;border-color: #005f75;">

                </form>
                <div class="spacer2"></div>
                <h4>
                    Pronto estaremos en contacto contigo.
                </h4>
            </section>
        </div>
    </div>
    <div class="spacer2"></div>
</div>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11327971754"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-11327971754');
</script>