<div class="backimg" style="background-color: white;">
    <div aling = "justify" >
        <div class="spacer"></div>
        <h1 data-aos="fade-right" data-aos-duration="3000" style="color: white;">Servicios</h1>
        <div class="spacer2"></div>
        <h3 data-aos="fade-right"  data-aos-duration="2000">Hacemos realidad tus ideas</h3>
        <div class="spacer"></div>
    </div>  
</div>

<div class="fondo">
    <div class="spacer2"></div>
    <div class="isla">
        <div class="container">
            <section class="columnaIzquierda">
                <div class="spacer2"></div>
                <div class="ing">
                    <div class="spacer2"></div>
                    <h2 data-aos="fade-right" data-aos-duration="2000" style="margin-right: 7%; margin-left: 7%; text-align: center;">
                        INGENIERÍA PARA HOGAR
                    </h2>
                    <div class="spacer2"></div>
                    <div class="cuadrado" data-aos="fade-right" data-aos-duration="3000"></div>
                    <div class="spacer2"></div>
                    <h4 style="margin-right: 7%; margin-left: 7%;">
                        En neurónica nos preocupamos por la comodidad de nuestros clientes, por ello
                        brindamos servicios personalizados para tu hogar, los cuales abarcan:
                    </h4>
                    <div class="spacer2"></div>
                    <button class="leerMas" data-aos="fade-right" data-aos-duration="3000" routerLink = "/Hogar">Me interesa</button>
                </div>
                <div class="spacer2"></div>
            </section>

            <section class="columnaDerecha">
                <div class="spacer2"></div>
                <div class="ing">
                    <div class="spacer2"></div>
                    <h2 data-aos="fade-right" data-aos-duration="2000" style="margin-right: 7%; margin-left: 7%; text-align: center;">
                        INGENIERÍA EMPRESARIAL
                    </h2>
                    <div class="spacer2"></div>
                    <div class="cuadrado" data-aos="fade-right" data-aos-duration="3000"></div>
                    <div class="spacer2"></div>
                    <h4 style="margin-right: 7%; margin-left: 7%;">
                        Somos un gran aliado para las empresas, ya que ponemos las nuevas tecnologías 
                        a disposición de nuestros clientes, solucionando diversos problemas, optimizando 
                        tiempos de trabajo o aportando al crecimiento de las nuevas empresas
                    </h4>
                    <div class="spacer2"></div>
                    <button class="leerMas" data-aos="fade-right" data-aos-duration="3000" routerLink = "/Empresarial">Me interesa</button>
                </div>
                <div class="spacer2"></div>
            </section>
        </div>
    </div>
    
    <div class="espacioCel"></div>

    <div class="islaCel">
        <div class="containerCel">
            <div class="ing2">
                <div class="espacioCel"></div>
                <h2  class="texCel" data-aos="fade-right" data-aos-duration="2000" style="margin-right: 7%; margin-left: 7%; text-align: center;">
                    INGENIERÍA EMPRESAS
                </h2>
                <div class="espacioCel"></div>
                <div class="cuadradoCel" data-aos="fade-right" data-aos-duration="3000"></div>
                <div class="espacioCel"></div>
                <h4 class="texCel" style="margin-right: 7%; margin-left: 7%;">
                    Somos un gran aliado para las empresas, ya que ponemos las nuevas tecnologías 
                    a disposición de nuestros clientes, solucionando diversos problemas, optimizando 
                    tiempos de trabajo o aportando al crecimiento de las nuevas empresas
                </h4>        
                <button class="leerMas2" data-aos="fade-right" data-aos-duration="3000" routerLink = "/Empresarial">Me interesa</button>
                <div class="espacioCel"></div>
                <div class="espacioCel"></div>
            </div>
        </div>
    </div>

    <div class="spacer2"></div>

    <div class="pieDePagina">
        <div class = "container">
            <section class="columnaIzquierda">
                <h3 style="color: white;">
                    <div class="spacer2"></div>
                    Neurónica S.A.S
                </h3>
                <h4>
                    <form>
                        <div class="spacer2"></div>
                        <img src="./assets/Imagenes/Telegram.png" alt="telegram" style="width:14%;height:14%;border-radius: 25px" >
                        <img src="./assets/Imagenes/WhatsApp.png" alt="whatsapp" style="width:14%;height:14%;border-radius: 25px" >
                        +57 302 721-8775
                    </form>
                </h4>
                <h4>
                    <div class="spacer2"></div>
                    <form>
                        <img src="./assets/Imagenes/gmail.png" alt="gmail" style="width:14%;height:14%;border-radius: 25px" >
                        informacion@neuronica.co
                    </form>     
                </h4>
                <h4>
                    <div class="spacer2"></div>
                    <form>
                        <img src="./assets/Imagenes/Instagram.png" alt="gmail" style="width:14%;height:14%;border-radius: 25px" >
                        <img src="./assets/Imagenes/ticktock.png" alt="gmail" style="width:14%;height:14%;border-radius: 25px" > 
                        @neuronica_co
                    </form>     
                </h4>
            </section>
    
            <section class="columnaDerecha">
                <h3 style="color: white;">
                    <div class="spacer2"></div>
                    Regístrate
                </h3>
                <h4>
                    <div class="spacer2"></div>
                    Registrate y recibe noticias de Neurónica
                </h4>
                <form action="">
                    <div class="spacer2"></div>
                    <input type="correo" placeholder="ejemplo@gmail.com">
                    <input type="submit" value="Enviar" style="color: white; background-color: black;border-color: #005f75;">
                </form>
                <div class="spacer2"></div>
                <h4>
                    Pronto estaremos en contacto contigo.
                </h4>
            </section>
        </div>
    </div>
    <div class="spacer2"></div>
</div>