/* You can add global styles to this file, and also import other style files */
@import "@font/nunito";
 html,

body {
  margin: 0;
}

.spacer{
  height: 20vw;
}

.spacer2{
  height: 2.2vw;
}

.fondo{
  background: url(Fondo.png);
  background-size: cover;
}

  
.contenedorColumnas{
  background-color: #ffff;
  border-radius: 3vw;
  position: relative;
  margin: auto;
  width: 80%;
  height: 100%;
}

.filas{
  position: relative;
  display: inline-block;
  margin: auto;
  width: 100%;
  height: auto;
}

.unaColumna{
  width: 100%;
}

.dosColumnas{
  width: 50%;
  float: left;
}

.bordeAzul{
  position: relative;
  margin: auto;
  height: auto;
  width: 85%;
  border-radius: 3vw;
  border: 0.1rem solid #005f75;
}

.islaTitulo{

  display: block;
  margin-top: 0%;
  margin-left: 10%;
  margin-right: 10%;
  height: getheight;
  border-radius: 3vw;
  border-color: #750049;
}

.islaTitulo2{
  background-color: rgba(255, 255, 255, 0.45);
  display: block;
  text-align: center;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
  border-radius: 3vw;
}

.boton{
  background-color: #005f75;
  color: white;
  border-radius: 3vw;
  border: 2px solid #005f75;
  width: 8rem;
  height: 3rem;
  font-family: 'Nunito', sans-serif;
}

.boton:hover{
  background-color: white;
  color: black;
}

.cuadrado{
  width: 90%; 
  height: 0.1rem; 
  background: #750049;
}

.subcuadro{
  border: 0.1rem solid #005f75;
  text-align: justify;
  display: 50%;
  flex: 50%;
  height: 90%;
  border-radius: 3vw;
  margin-bottom: 5%;
}

.imagen{
  width:25vw;
  height:auto;
  border-radius: 5%
}

.imagen2{
  width:15vw;
  height:auto;
  border-radius: 5%;
}

.imagen3{
  width:40vw;
  height:auto;
  border-radius: 5%;
}

.video{
  margin-left: 15%;
  border-radius: 3vh; 
  width: 17vw;
}

  .mat-toolbar.mat-primary {
    background: white;
    color: #005f75;
  }

  .mat-toolbar.mat-secundary {
    background: white;
    color: black;
  }

  .icon-button{
    background: none;
    padding: 0;
    border: 0;
    cursor: pointer;
    width: 0rem;
  }

  .sticker{
    background: none;
    padding: 0;
    border: 0;
    cursor: pointer;
    width: 7vw;
    transform: rotate(330deg);
  }
  
  .icon-button .icon {
    width: 9vw;
  }
  .sticker .icon{
    width: 9vw;
  }

  a{
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    margin-left: 8%;
  }

  a:hover{
      color: #750049;
  }

  @media only screen and (max-width: 699px){
    .boton{
      background-color: #005f75;
      color: white;
      border-radius: 3vw;
      border: 2px solid #005f75;
      width: 6rem;
      height: 2rem;
      font-family: 'Nunito', sans-serif;
    }

    .imagen{
      width:50vw;
      height:auto;
      border-radius: 5%
    }

    .imagen2{
      width:40vw;
      height:auto;
      border-radius: 5%;
    }
    
    .imagen3{
      width:75vw;
      height:auto;
      border-radius: 5%;
    }

    .video{
      margin-left: 15%;
      border-radius: 3vh; 
      width: 35vw;
    }

    .sticker{
      display: none;
    }

    .icon-button .icon {
      width: 100px;
      align-items: center;
    }

    .icon-button{
      align-items: center;
    }

    .mat-toolbar.mat-primary {
      background: white;
      color: #005f75;
    }

    .dosColumnas{
      width: 100%;
      float: none;
    }
}