<body>
     <div class="backimg" style="background-color: white">
         <div aling = "justify" >
             <div class="spacer"></div>
             <h1 data-aos="fade-right" data-aos-duration="3000">Neurónica</h1>
             <div class="spacer2"></div>
             <h3 data-aos="fade-right"  data-aos-duration="2000">Ingeniería a la medida</h3>
             <div class="spacer"></div>
         </div>
     </div>

     <div class="fondo">
         <div class="spacer2"></div>
         <div class="isla">
             <div class = "container">
                 <section class="columnaIzquierda1">
                     <h2 data-aos="fade-right" data-aos-duration="3000">
                         <div class="spacer2"></div>
                         ¿Quiénes somos? 
                     </h2>
 
                     <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000"></div>
                     <div class="spacer2"></div>
                     <h4 data-aos="fade-right" data-aos-duration="2000">
                         Somos una entidad empresarial altamente adaptable, dedicada a satisfacer las demandas y 
                         requisitos específicos de nuestra distinguida clientela. Nuestro enfoque se centra en 
                         brindar soluciones integrales en los campos de software, hardware, telecomunicaciones y 
                         manufactura. Todo ello meticulosamente ajustado para cumplir con 
                         tus necesidades y presupuesto. 
                     </h4>
                     <div class="spacer2"></div>
                     <img class = "imagen1_1Cel" src="./assets/Imagenes/pcb.jpg" alt="pcb" data-aos="fade-right" data-aos-duration="3000">
                     <div class="spacer2"></div>
                     <a href="/Empresa">
                        <button class="effect leerMas" data-aos="fade-right" data-aos-duration="3000">Leer más</button>
                    </a>
                        <div class="spacer2"></div>
                 </section>
         
                 <section class="columnaDerecha1">
                     <div class="spacer2"></div>
                     <div class="spacer2"></div>
                     <div class="spacer2"></div>
                     <img class = "imagen1_1" src="./assets/Imagenes/pcb.jpg" alt="pcb" data-aos="fade-left" data-aos-duration="3000">
                 </section>
             </div>
             <div class="spacer2"></div>
         </div>

         <div class="spacer2"></div>
 
         <div class="isla">
             <div class = "container">
                 <section class="columnaIzquierda2">
                     <div class="spacer"></div>
                     <img class="imagen1_2" src="./assets/Imagenes/producto.png" alt="Producto" data-aos="fade-right" data-aos-duration="3000">
                 </section>
         
                 <section class="columnaDerecha2">
                     <div class="spacer2"></div> 
                     <h2  data-aos="fade-right" data-aos-duration="2000">
                         ¿Por qué comprar nuestros productos y servicios?
                     </h2>
                     <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000"></div>
                     <div class="spacer2"></div>
                     <h4  data-aos="fade-right" data-aos-duration="3000">
                         Neurónica S.A.S se distingue como una entidad empresarial de confianza, respaldada por 
                         sólidas garantías y un meticuloso seguimiento de la funcionalidad en todos y cada uno de 
                         los proyectos y productos que ponemos a disposición. Nuestro compromiso con la excelencia 
                         se refleja en cada fase de nuestros servicios, desde la conceptualización hasta la 
                         implementación y más allá.
                     </h4>
                     <div class="spacer2"></div>
                     <h4 class="omitir" data-aos="fade-right" data-aos-duration="3000">
                         En línea con nuestro enfoque orientado al cliente, hemos diseñado meticulosamente un 
                         paquete de servicios que trasciende las expectativas convencionales. Entre estos servicios 
                         destaca nuestro sistema de garantía, el cual asegura que la funcionalidad y el rendimiento 
                         de los productos y proyectos adquiridos se mantengan consistentes y óptimos en el tiempo. 
                         Esta iniciativa busca no solo satisfacer, sino superar las necesidades cambiantes de nuestros
                         clientes.
                     </h4>
                     <div class="spacer2"></div>   
                     <a href="/escogernos">        
                        <button class="effect leerMas"  data-aos="fade-right" data-aos-duration="3000">Leer más</button>      
                    </a>  
                    <div class="spacer2"></div><div class="spacer2"></div><div class="spacer2"></div><div class="spacer2"></div>
                 </section>
             </div>
         </div>
 
         <div class="spacer2"></div>
 
         <div class="pieDePagina">
            <div class="containerPie">
                <section class="columnaIzquierda">
                    <h3 style="color: white;">
                        <div class="spacer2"></div>
                        Neurónica S.A.S
                    </h3>
                    <h4>
                        <form>
                            <div class="spacer2"></div>
                            <a href="https://t.me/+573027218775">
                                <img src="./assets/Imagenes/Telegram.png" alt="telegram" style="width:14%;height:14%;border-radius: 25px">
                            </a>
                            <a href=" https://wa.me/573027218775">
                                <img src="./assets/Imagenes/WhatsApp.png" alt="whatsapp" style="width:14%;height:14%;border-radius: 25px" href = " https://wa.me/573027218775">
                            </a>
                                +57 302 721-8775
                        </form>

                    </h4>

                    <h4>
                        <div class="spacer2"></div>
                        <form>
                            <a href="mailto:informacion@neuronica.co">
                                <img src="./assets/Imagenes/gmail.png" alt="gmail" style="width:14%;height:14%;border-radius: 25px" >
                            </a>
                                informacion@neuronica.co
                        </form>
                        
                    </h4>

                </section>
        
                <section class="columnaDerecha">
                    <h3 style="color: white;">
                        <div class="spacer2"></div>
                        Regístrate
                    </h3>

                    <h4>
                        <div class="spacer2"></div>

                        Regístrate y recibe noticias de Neurónica
                    </h4>
                    <form action="https://script.google.com/macros/s/AKfycbwSX06yBY4BVMIL72bjNtotKj9qm833qUvLAZ0Bcf7VXPlpvNCIO_JtTOee7VXhwNjO5w/exec"
                    method="post">
    
                        <div class="spacer2"></div>
    
                        <input type="correo" placeholder="ejemplo@gmail.com" name="datoCorreo" style="color: white;">
                        <input type="submit" value="Enviar" style="color: white; background-color: black;border-color: #005f75;">
    
                    </form>


                    <div class="spacer2"></div>

                    <h4>
                        Pronto estaremos en contacto contigo.
                    </h4>

                </section>
            </div>
        </div>
        <div class="spacer2"></div>
     </div>
 </body>

 <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11327971754"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-11327971754');
</script>