<body>
    <div class="backimg" style="background-color: white">
       <div class="islaTitulo">
        <div class="spacerTopImage"></div>
            <div class="islaTitulo2">
                <div class="spacer2"></div>
                    <h1 data-aos="fade-right" data-aos-duration="3000">Neurónica</h1>
                    <div class="spacer2"></div>
                    <h4 data-aos="fade-right"  data-aos-duration="2000">Ingeniería a la medida</h4>
                    <div class="spacer2"></div>
            </div>
            <div class="spacerTopImage"></div>
       </div>
    </div>

    <div class="fondo">
        <div class="spacer2"></div>
        
        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul" style="border: 1px solid white;;">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 style="margin-left: 5%; margin-right: 5%; text-align: center;" data-aos="fade-right" data-aos-duration="2000">Nuestras áreas</h2>
                        <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000" style="margin-left: 5%; margin-right: 5%;"></div>
                        <div class="spacer2"></div>
                    </div>
                    <div class="dosColumnas">
                        <div class="subcuadro" style="margin-left: 5%; margin-right: 5%; width: 30vw; height: 28vw;">
                            <div class="spacer2"></div>
                            <a href="https://www.neuronica.co/cableado-estructurado-bogota" data-aos="fade-right" data-aos-duration="3000">
                                <img class="imagenLogo" src="./assets/Imagenes/telecomunicaciones-logo.jpg" alt="Logo para de Neurónica para área de Telecomunicaciones" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 40%;transform: translateX(-50%);">
                            </a>
                            <div class="spacer2"></div>
                            <h2 style="margin-left: 5%; margin-right: 5%; text-align: center; font-size: 1rem;" data-aos="fade-right" data-aos-duration="2000">Telecomunicaciones</h2>
                            <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000" style="margin-left: 5%; margin-right: 5%;"></div>
                            <div class="spacer2"></div>
                            <p style="margin-left: 5%; margin-right: 5%; text-align: justify;" data-aos="fade-right" data-aos-duration="2000">
                                Le damos conectividad a tus trabajadores. Garantizando la conexión de voz, 
                                datos y video.
                            </p>
                            <div class="spacer2"></div>
                        </div>
                        <div class="spacer2"></div>
                        <div class="subcuadro" style="margin-left: 5%; margin-right: 5%;width: 30vw; height: 28vw;">
                            <div class="spacer2"></div>
                            <a href="https://www.neuronica.co/diseno-y-desarrollo-electronico" data-aos="fade-right" data-aos-duration="3000">
                                <img class="imagenLogo" src="./assets/Imagenes/hardware-logo.jpg" alt="Logo para de Neurónica para área de hardware y diseño electrónico" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 40%;transform: translateX(-50%);">
                            </a>
                            <div class="spacer2"></div>
                            <h2 style="margin-left: 5%; margin-right: 5%; text-align: center; font-size: 1rem;" data-aos="fade-right" data-aos-duration="2000">Hardware</h2>
                            <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000" style="margin-left: 5%; margin-right: 5%;"></div>
                            <div class="spacer2"></div>
                            <p style="margin-left: 5%; margin-right: 5%; text-align: justify;" data-aos="fade-right" data-aos-duration="2000">
                                Somos un aliado para realizar tus productos electrónicos, acompañándote desde la creación 
                                del prototipo, hasta la producción en masa.
                            </p>
                            <div class="spacer2"></div>
                        </div>
                    </div>
                    <div class="dosColumnas">
                        <div class="subcuadro" style="margin-left: 5%; margin-right: 5%;width: 30vw; height: 28vw;">
                            <div class="spacer2"></div>
                            <a href="https://www.neuronica.co/desarrollo-de-software-a-medida" data-aos="fade-right" data-aos-duration="3000">
                                <img class="imagenLogo" src="./assets/Imagenes/software-logo.jpg" alt="Logo para de Neurónica para área de software a la medida" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 40%;transform: translateX(-50%);">
                            </a>
                            <div class="spacer2"></div>
                            <h2 style="margin-left: 5%; margin-right: 5%; text-align: center; font-size: 1rem;" data-aos="fade-right" data-aos-duration="2000">Software</h2>
                            <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000" style="margin-left: 5%; margin-right: 5%;"></div>
                            <div class="spacer2"></div>
                            <p style="margin-left: 5%; margin-right: 5%; text-align: justify;" data-aos="fade-right" data-aos-duration="2000">
                                Los programas de tu empresa son una pieza clave para aumentar tu productividad, por eso en 
                                Neurónica te ayudamos a automatizar procesos con herramientas modernas.
                            </p>
                            <div class="spacer2"></div>
                        </div>
                        <div class="spacer2"></div>
                        <div class="subcuadro" style="margin-left: 5%; margin-right: 5%;width: 30vw; height: 28vw;">
                            <div class="spacer2"></div>
                            <a href="https://www.neuronica.co/impresion-3d-bogota" data-aos="fade-right" data-aos-duration="3000">
                                <img class="imagenLogo" src="./assets/Imagenes/manufactura-logo.jpg" alt="Logo para de Neurónica para área de manufactura e impresion 3D" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 40%;transform: translateX(-50%);">
                            </a>
                            <h2 style="margin-left: 5%; margin-right: 5%; text-align: center; font-size: 1rem;" data-aos="fade-right" data-aos-duration="2000">Manufactura</h2>
                            <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000" style="margin-left: 5%; margin-right: 5%;"></div>
                            <div class="spacer2"></div>
                            <p style="margin-left: 5%; margin-right: 5%; text-align: justify;" data-aos="fade-right" data-aos-duration="2000">
                                Hacemos realidad tus piezas 3D, desde prototipos hasta productos. Adicionalmente 
                                contamos con una amplia gama de materiales.
                            </p>
                            <div class="spacer2"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>

        <div class="spacer2"></div>
        
       <div class="contenedorColumnas">
           <div class="spacer2"></div>
           <div class="bordeAzul">
               <div class="filas">
                   <div class="unaColumna">
                       <div class="spacer2"></div>
                       <h2 data-aos="fade-right" data-aos-duration="2000" style="text-align: center;">¿Quiénes somos?</h2>
                       <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000" style="margin-left: 5%; margin-right: 5%;"></div>
                       <div class="spacer2"></div>
                   </div>
                   <div class="dosColumnas">
                       <p style="margin-left: 10%; margin-right: 5%;text-align: justify;" data-aos="fade-right" data-aos-duration="2000">
                        En Neurónica nos adaptamos a las necesidades de nuestros clientes, en pro de satisfacer sus
                        necesidades y requerimientos. Somos una empresa que busca brindar soluciones integrales en 
                        campos como Software,  Telecomunicaciones, Manufactura y Hardware. Contáctanos para conocer
                         más acerca de los servicios que Neurónica tiene para tí.
                       </p>
                   </div>
                   <div class="dosColumnas">
                           <img class = "imagen" src="./assets/Imagenes/quienes_somos_imagen.jpg" alt="Entidad empresarial adaptable brindando soluciones integrales en software, hardware, telecomunicaciones y manufactura" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 5%;">
                           <div class="spacer2"></div>
                       </div>
                   <div class="unaColumna">
                       <div class="spacer2"></div>
                       <a href="https://www.neuronica.co/quienes-somos-neuronica" style="height: 0.5rem; width: 7arem;margin-left: 25%; transform: translateX(-25%);">
                           <button class="boton" data-aos="fade-right" data-aos-duration="3000" >Leer más</button>
                       </a>
                       <div class="spacer2"></div>
                   </div>
               </div>
           </div>
           <div class="spacer2"></div>
       </div>

        <div class="spacer2"></div>

        <div class="contenedorColumnas">
           <div class="spacer2"></div>
           <div class="bordeAzul">
               <div class="filas">
                   <div class="unaColumna">
                       <div class="spacer2"></div>
                       <h2 style="text-align: center; margin-left: 5%; margin-right: 5%;" data-aos="fade-right" data-aos-duration="2000">¿Por qué comprar nuestros productos y servicios?</h2>
                       <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000" style="margin-left: 5%;; margin-right: 5%;"></div>
                       <div class="spacer2"></div>
                       <p style="margin-left: 5%; margin-right: 5%;text-align: justify;" data-aos="fade-right" data-aos-duration="2000">
                           Neurónica S.A.S se distingue como una entidad empresarial de confianza, respaldada por sólidas garantías 
                           y un meticuloso seguimiento de la funcionalidad en todos y cada uno de los proyectos y productos que ponemos
                           a disposición. Nuestro compromiso con la excelencia se refleja en cada fase de nuestros servicios, desde la 
                           conceptualización hasta la implementación y más allá.
                       </p>
                   </div>
                   <div class="dosColumnas">
                           <img class="imagen3" src="./assets/Imagenes/por_que_elegirnos_imagen.png" alt="Garantía y compromiso con la excelencia. Nuestro sistema asegura funcionalidad y rendimiento constante, superando expectativas." data-aos="fade-right" data-aos-duration="3000" style="margin-top: 5%; margin-left: 10%; margin-right: 10%;">
                   </div>
                   <div class="dosColumnas">
                       <p style="margin-left: 5%; margin-right: 10%;text-align: justify;" data-aos="fade-right" data-aos-duration="2000">
                           En línea con nuestro enfoque orientado al cliente, hemos diseñado meticulosamente un paquete de servicios 
                           que trasciende las expectativas convencionales. Entre estos servicios destaca nuestro sistema de garantía, 
                           el cual asegura que la funcionalidad y el rendimiento de los productos y proyectos adquiridos se mantengan 
                           consistentes y óptimos en el tiempo. Esta iniciativa busca no solo satisfacer, sino superar las necesidades 
                           cambiantes de nuestros clientes.
                       </p>
                   </div>
                   <div class="unaColumna">
                       <div class="spacer2"></div>
                       <a href="https://www.neuronica.co/por-que-escogernos-neuronica" style="height: 0.5rem; width: 7rem;margin-left: 25%; transform: translateX(-25%);">
                           <button class="boton" data-aos="fade-right" data-aos-duration="3000">Leer más</button>
                       </a>
                       <div class="spacer2"></div>
                   </div>
               </div>
           </div>
           <div class="spacer2"></div>
       </div>

        <div class="spacer2"></div>

        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="dosColumnas" style="text-align: center;">
                        <div class="spacer2"></div>
                        <h2 data-aos="fade-right" data-aos-duration="2000">Neurónica</h2>
                        <h3>
                            <form data-aos="fade-right" data-aos-duration="2000">
                                <div class="spacer2"></div>
                                <a href="https://t.me/+573027218775">
                                    <img src="./assets/Imagenes/Telegram.png" alt="telegram" style="width:12%;height:12%;border-radius: 50%">
                                </a>
                                <a href=" https://wa.me/573027218775">
                                    <img src="./assets/Imagenes/WhatsApp.png" alt="whatsapp" style="width:12%;height:12%;border-radius: 50%" href = " https://wa.me/573027218775">                           
                                </a>
                                +57 302 721-8775
                                    
                            </form>
                        </h3>
                        <h3 style="text-align: top;">
                            <div class="spacer2"></div>
                                <form data-aos="fade-right" data-aos-duration="2000">
                                    <a href="mailto:informacion@neuronica.co" style="margin-left: 0%;">
                                        <img src="./assets/Imagenes/gmail.png" alt="gmail" style="width:12%;height:12%;border-radius: 50%" >
                                    </a>
                                    informacion@neuronica.co
                                </form>        
                        </h3>
                    </div>
                    <div class="dosColumnas" style="text-align: center;">
                        <div class="spacer2"></div>
                        <h2 data-aos="fade-right" data-aos-duration="2000">Regístrate</h2>
                        <div class="spacer2"></div>
                        <p data-aos="fade-right" data-aos-duration="2000">Regístrate y recibe noticias de Neurónica</p>
                        <form data-aos="fade-right" data-aos-duration="2000" action="https://script.google.com/macros/s/AKfycbyzClLtMAzHG9fktzxccG7W7vNtpt7K5fp4XM0r8xs_kQQp73TjexLL3QZusqWzPoMXyg/exec"                      
                        method="post">
                            <div class="spacer2"></div>     
                            <input type="correo" placeholder="ejemplo@gmail.com" name="datoCorreo" style="color: black; background-color: white; border-color: #005f75">
                            <input type="submit" value="Enviar" style="color: white; background-color: #005f75;border-color: white;">        
                        </form>
                        <div class="spacer2"></div>
                        <p data-aos="fade-right" data-aos-duration="2000">Pronto estaremos en contacto contigo.</p>
                    </div>
                </div>
            </div>
            <div class="spacer2"></div>
         </div>
        <div class="spacer2"></div>
     </div>
</body>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11327971754"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'AW-11327971754');
</script>

<script>

</script>