<body>
     <div class="backimg" style="background-color: white">
        <div class="islaTitulo">
            <div class="spacer"></div>
            <div class="islaTitulo2">
                <div class="spacer2"></div>
                <div class="spacer2"></div>
                    <h1 data-aos="fade-right" data-aos-duration="3000">Neurónica</h1>
                    <div class="spacer2"></div>
                    <h3 data-aos="fade-right"  data-aos-duration="2000">Ingeniería a la medida</h3>
                    <div class="spacer2"></div>
            </div>
            <div class="spacer"></div>
        </div>
     </div>

     <div class="fondo">
         <div class="spacer2"></div>
        <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 style="text-align: center;">¿Quiénes somos?</h2>
                        <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000" style="margin-left: 5%;; margin-right: 5%;"></div>
                        <div class="spacer2"></div>
                    </div>
                    <div class="dosColumnas">
                        <h4 style="margin-left: 10%; margin-right: 5%;text-align: justify;">
                            Somos una entidad empresarial altamente adaptable, dedicada a satisfacer las demandas 
                            y requisitos específicos de nuestra distinguida clientela. Nuestro enfoque se centra en 
                            brindar soluciones integrales en los campos de software, hardware, telecomunicaciones y 
                            manufactura. Todo ello meticulosamente ajustado para cumplir con tus necesidades y presupuesto.
                        </h4>
                    </div>
                    <div class="dosColumnas">
                            <img class = "imagen1_1" src="./assets/Imagenes/pcb.jpg" alt="pcb" data-aos="fade-left" data-aos-duration="3000">
                    </div>
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <a href="/Empresa" style="height: 0.5rem; width: 7rem;">
                            <button class="effect leerMas" data-aos="fade-right" data-aos-duration="3000">Leer más</button>
                        </a>
                        <div class="spacer2"></div>
                    </div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>

         <div class="spacer2"></div>
 
         <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <h2 style="text-align: center; margin-left: 5%; margin-right: 5%;">¿Por qué comprar nuestros productos y servicios?</h2>
                        <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000" style="margin-left: 5%;; margin-right: 5%;"></div>
                        <div class="spacer2"></div>
                        <h4 style="margin-left: 5%; margin-right: 5%;text-align: justify;">
                            Neurónica S.A.S se distingue como una entidad empresarial de confianza, respaldada por sólidas garantías 
                            y un meticuloso seguimiento de la funcionalidad en todos y cada uno de los proyectos y productos que ponemos
                            a disposición. Nuestro compromiso con la excelencia se refleja en cada fase de nuestros servicios, desde la 
                            conceptualización hasta la implementación y más allá.
                        </h4>
                    </div>
                    <div class="dosColumnas">
                            <img class="imagen1_2" src="./assets/Imagenes/producto.png" alt="Producto" data-aos="fade-right" data-aos-duration="3000" style="margin-left: 10%; margin-right: 5%;text-align: justify;">
                    </div>
                    <div class="dosColumnas">
                        <h4 style="margin-left: 5%; margin-right: 10%;text-align: justify;">
                            En línea con nuestro enfoque orientado al cliente, hemos diseñado meticulosamente un paquete de servicios 
                            que trasciende las expectativas convencionales. Entre estos servicios destaca nuestro sistema de garantía, 
                            el cual asegura que la funcionalidad y el rendimiento de los productos y proyectos adquiridos se mantengan 
                            consistentes y óptimos en el tiempo. Esta iniciativa busca no solo satisfacer, sino superar las necesidades 
                            cambiantes de nuestros clientes.
                        </h4>
                    </div>
                    <div class="unaColumna">
                        <div class="spacer2"></div>
                        <a href="/escogernos" style="height: 0.5rem; width: 7rem;">
                            <button class="effect leerMas" data-aos="fade-right" data-aos-duration="3000">Leer más</button>
                        </a>
                        <div class="spacer2"></div>
                    </div>
                </div>
            </div>
            <div class="spacer2"></div>
        </div>
 
         <div class="spacer2"></div>

         <div class="contenedorColumnas">
            <div class="spacer2"></div>
            <div class="bordeAzul">
                <div class="filas">
                    <div class="dosColumnas" style="text-align: center;">
                        <div class="spacer2"></div>
                        <h2>Neurónica</h2>
                        <h4>
                            <form>
                                <div class="spacer2"></div>
                                <a href="https://t.me/+573027218775">
                                    <img src="./assets/Imagenes/Telegram.png" alt="telegram" style="width:12%;height:12%;border-radius: 50%">
                                </a>
                                <a href=" https://wa.me/573027218775">
                                    <img src="./assets/Imagenes/WhatsApp.png" alt="whatsapp" style="width:12%;height:12%;border-radius: 50%" href = " https://wa.me/573027218775">
                                </a>
                                    +57 302 721-8775
                            </form>
                        </h4>
                        <h4>
                            <div class="spacer2"></div>
                            <form>
                                <a href="mailto:informacion@neuronica.co">
                                    <img src="./assets/Imagenes/gmail.png" alt="gmail" style="width:12%;height:12%;border-radius: 50%" >
                                </a>
                                    informacion@neuronica.co
                            </form>
                            
                        </h4>
                    </div>
                    <div class="dosColumnas" style="text-align: center;">
                        <div class="spacer2"></div>
                        <h2>Registrate</h2>
                        <div class="spacer2"></div>
                        <h4>Regístrate y recibe noticias de Neurónica</h4>
                        <form action="https://script.google.com/macros/s/AKfycbxZ_pqSl6nD607rVSnP28fjqnSYPGkwfQHHxzLjtiGLSfkCJGW2VlY_iaN8wS-Yg5EELQ/exec"                      
                        method="post">
                            <div class="spacer2"></div>     
                            <input type="correo" placeholder="ejemplo@gmail.com" name="datoCorreo" style="color: black; background-color: white; border-color: #005f75">
                            <input type="submit" value="Enviar" style="color: white; background-color: #005f75;border-color: white;">        
                        </form>
                        <div class="spacer2"></div>
                        <h4>Pronto estaremos en contacto contigo.</h4>
                    </div>
                </div>
            </div>
            <div class="spacer2"></div>
         </div>
        <div class="spacer2"></div>
     </div>
 </body>

 <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11327971754"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-11327971754');
</script>