

body{
    background-color: white;
}

.backimg{
    background: url("/assets/Imagenes/Inicio.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
