<!--Fondo parte superior-->


<div class="backimg" style="background-color: aqua;">
    <mat-toolbar color = "primary" class="mat-elevation-z8">
        <span>
            <button class="icon-button">
                <img
                class="icon"
                src="assets/Imagenes/Logo_Blanco.png"
                />
            </button>
        </span>   
        
        <div class="spacer">

        </div>

        <a mat-button routerLink = "Inicio">Inicio</a>
        <a mat-button routerLink = "Empresa">Empresa</a>
        <a mat-button routerLink = "Servicios">Servicios</a>
        <a mat-button routerLink = "¿Porque escogernos?">¿Por qué escogernos?</a>
    </mat-toolbar>

    <div aling = "justify" >
        <div class="spacer">

        </div>

        <h1 data-aos="fade-right" data-aos-duration="3000">
            Neurónica
        </h1>

        <div class="spacer2">

        </div>

        <h3 data-aos="fade-right"  data-aos-duration="2000">
            Ingeniería a la medida
        </h3>

        <div class="spacer">

        </div>

    </div>

</div>


<div class="fondo" style="background-color: aqua;">
    <div class="spacer2">

    </div>
    <div class="isla">

        <div class = "container">
            <section class="columnaIzquierda">
                <h2 data-aos="fade-right" data-aos-duration="3000">
                    <div class="spacer2"></div>
                    ¿Quienes somos? 
                </h2>
                <h4 data-aos="fade-right" data-aos-duration="2000">
                    <div class="spacer2"></div>
                    Somos una entidad empresarial altamente adaptable, dedicada
                    a satisfacer las demandas y requisitos específicos de nuestra 
                    distinguida clientela. Nuestro enfoque se centra en brindar soluciones 
                    integrales en los campos de software, hardware, telecomunicaciones, manufactura 
                    y movilidad eléctrica, todo ello meticulosamente ajustado para cumplir con tus necesidades
                    y presupuesto. 
                </h4>

                <div class="spacer2"></div>
                
                <button class="effect leerMas" data-aos="fade-right" data-aos-duration="3000">
                 Leer más   
                </button>

                <div class="spacer"></div>

                <img src="./assets/Imagenes/producto.png" alt="Producto" data-aos="fade-right" data-aos-duration="3000" style="width:100%;height:28%;border-radius: 25px" >
            </section>
    
            <section class="columnaDerecha">
                <div class="spacer2"></div>
                <div class="spacer2"></div>
                <img src="./assets/Imagenes/pcb.jpg" alt="pcb" data-aos="fade-left" data-aos-duration="3000" style="width:100%;height:19%;border-radius: 25px" >

                <div class="spacer2"></div>

                <div class="spacer2"></div>

                <h2  data-aos="fade-left" data-aos-duration="2000">
                    ¿Por qué comprar nuestros productos y servicios?
                </h2>

                <div class="spacer2"></div>

                <h4  data-aos="fade-left" data-aos-duration="3000">
                    Neurónica S.A.S se distingue como una entidad empresarial de confianza, 
                    respaldada por sólidas garantías y un meticuloso seguimiento de la funcionalidad
                    en todos y cada uno de los proyectos y productos que ponemos a disposición. Nuestro
                    compromiso con la excelencia se refleja en cada fase de nuestros servicios, desde la
                    conceptualización hasta la implementación y más allá.
                    
                    En línea con nuestro enfoque orientado al cliente, hemos diseñado meticulosamente un 
                    paquete de servicios que trasciende las expectativas convencionales. Entre estos servicios 
                    destaca nuestro sistema de garantía, el cual asegura que la funcionalidad y el rendimiento 
                    de los productos y proyectos adquiridos se mantengan consistentes y óptimos en el tiempo. 
                    Esta iniciativa busca no solo satisfacer, sino superar las necesidades cambiantes de nuestros
                    clientes.
                    
                    En Neurónica S.A.S, tu satisfacción es nuestra prioridad principal. Te invitamos a experimentar 
                    un nivel superior de compromiso y calidad en cada interacción con nosotros. Desde la confiabilidad 
                    de nuestros productos hasta la comodidad de nuestras soluciones, estamos aquí para potenciar tus 
                    operaciones empresariales y acompañarte en tu camino hacia el éxito.
                </h4>

                <div class="spacer2"></div>

                <button class="effect leerMas"  data-aos="fade-left" data-aos-duration="3000">
                    Leer más   
                   </button>
                
                   <div class="spacer2"></div>
            </section>
        </div>

        <div class="spacer2"></div>


    </div>

    <div class="spacer2"></div>

    <div class="pieDePagina">
        <div class = "container">
            <section class="columnaIzquierda">
                <h3>
                    <div class="spacer2"></div>
                    Neurónica S.A.S
                </h3>
                <h4>
                    <form>
                        <div class="spacer2"></div>
                        <img src="./assets/Imagenes/Telegram.png" alt="telegram" style="width:14%;height:14%;border-radius: 25px" >
                        <img src="./assets/Imagenes/WhatsApp.png" alt="whatsapp" style="width:14%;height:14%;border-radius: 25px" >
                        +57 302 721-8775
                    </form>

                </h4>

                <h4>
                    <div class="spacer2"></div>
                    <form>
                        <img src="./assets/Imagenes/gmail.png" alt="gmail" style="width:14%;height:14%;border-radius: 25px" >
                        informacion@neuronica.co
                    </form>
                    
                </h4>

                <h5>
                <div class="spacer2"></div>
                <form>
                    <img src="./assets/Imagenes/Instagram.png" alt="gmail" style="width:14%;height:14%;border-radius: 25px" >
                    <img src="./assets/Imagenes/ticktock.png" alt="gmail" style="width:14%;height:14%;border-radius: 25px" > 
                    @neuronica_co
                </form>
                    
                </h5>

            </section>
    
            <section class="columnaDerecha">
                <h3>
                    <div class="spacer2"></div>
                    Regístrate
                </h3>

                <h4>
                    <div class="spacer2"></div>

                    Registrate y recibe noticias de Neurónica
                </h4>
                <form action="">

                    <div class="spacer2"></div>

                    <input type="correo" placeholder="ejemplo@gmail.com">
                    <input type="submit" value="Enviar">

                </form>


                <div class="spacer2"></div>

                <h4>
                    Pronto estaremos en contacto contigo.
                </h4>

            </section>
        </div>
    </div>

</div>


