<!--Fondo parte superior-->
<div class="backimg" style="background-color: aqua;">
    <mat-toolbar color = "primary" class="mat-elevation-z8">
        <span>
            <button class="icon-button">
                <img
                class="icon"
                src="assets/Imagenes/Logo_Blanco.png"
                />
            </button>
        </span>   
        
        <div class="spacer">

        </div>

        <a mat-button routerLink = "Inicio">Inicio</a>
        <a mat-button routerLink = "Empresa">Empresa</a>
        <a mat-button routerLink = "Servicios">Servicios</a>
        <a mat-button routerLink = "¿Porque escogernos?">¿Porque escogernos?</a>
    </mat-toolbar>

    <div aling = "justify" >
        <div class="spacer">

        </div>

        <h1>
            Neuronica
        </h1>

        <div class="spacer2">

        </div>

        <h2>
            Ingeniería a la medida
        </h2>

        <div class="spacer">

        </div>

    </div>

</div>

