
<div class="backimg" style="background-color: white">
    <div class="islaTitulo">
        <div class="spacerTopImage"></div>
        <div class="islaTitulo2">
            <div class="spacer3"></div>
                <h1 data-aos="fade-right" data-aos-duration="3000" style="line-height: 5rem;">Impresion 3D</h1>
                <h4 data-aos="fade-right"  data-aos-duration="2000">Productos personalizados</h4>
            <div class="spacer3"></div>
        </div>
        <div class="spacerTopImage"></div>
    </div>
 </div>

 <div class="fondo">
     <div class="spacer2"></div>
     <div class="contenedorColumnas">
         <div class="spacer2"></div>
         <div class="bordeAzul">
             <div class="filas">
                 <div class="unaColumna">
                     <div class="spacer2"></div>
                     <div class="cuadrado"  style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                     <div class="spacer2"></div>
                     <p style="margin-left: 5%; margin-right: 5%; text-align: center;" data-aos="fade-right" data-aos-duration="2000">
                         Descubre el futuro de la fabricación personalizada con Neurónica
                     </p>
                     <div class="spacer2"></div>
                 </div>
             </div>                     
         </div>
         <div class="spacer2"></div>
     </div>
     <div class="spacer2"></div>
     <div class="contenedorColumnas">
         <div class="spacer2"></div>
         <div class="bordeAzul">
             <div class="filas">
                 <div class="unaColumna">
                     <div class="spacer2"></div>
                     <h2 style="margin-left: 5%; margin-right: 5%; text-align: center;" data-aos="fade-right" data-aos-duration="2000">¿Qué es la impresión 3D?</h2>
                     <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                     <div class="spacer2"></div>
                 </div>
                 <div class="spacer2"></div>
                 <div class="dosColumnas">
                     <p style="margin-left: 10%; margin-right: 5%; text-align:justify" data-aos="fade-right" data-aos-duration="2000">
                         La impresión 3D es una tecnología revolucionaria 
                         que permite convertir ideas en objetos tangibles. Desde prototipos hasta productos finales, transformamos conceptos 
                         en realidad con precisión y eficiencia.
                     </p>
                 </div>
                 <div class="dosColumnas" style="display: flex; justify-content: center; align-items: center;">
                     <img class="imagen" src="./assets/Imagenes/impresion3d.png" alt="Impresión 3D: Tecnología que transforma ideas en objetos tangibles con precisión y eficiencia." data-aos="fade-right" data-aos-duration="3000" style="margin-bottom: 5%;">
                 </div>
             </div>
         </div>
         <div class="spacer2"></div>
     </div>
    
     <div class="spacer2"></div>
         <div class="contenedorColumnas">
        <div class="spacer2"></div>
         <div class="bordeAzul">
             <div class="filas" style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; gap: 20px; margin: 20px 0;">
                 <div class="unaColumna">
                     <div class="spacer2"></div>
                     <h2 style="margin-left: 5%; margin-right: 5%; text-align: center;" data-aos="fade-right" data-aos-duration="2000">Tecnologías</h2>
                     <div class="cuadrado" data-aos="fade-right" data-aos-duration="2000" style="margin-left: 5%; margin-right: 5%;"></div>
                     <div class="spacer2"></div>
                 </div>

                <div class="contenedor-servicios"  data-aos="fade-right" data-aos-duration="2000">
                    <a href="https://www.neuronica.co/FDM" class="servicio-link">
                        <button class="subcuadro">
                            <h2 class="subcuadro-titulo">
                                <span class="material-symbols-outlined">3d</span>
                                FDM
                            </h2>
                            <div class="cuadrado"></div>
                            <p class="subcuadro-parrafo">
                                Tecnológias de FDM, SLA, corte laser y corte CNC.
                            </p>
                        </button>
                    </a>

                    <a href="https://www.neuronica.co/SLA" class="servicio-link">
                        <button class="subcuadro">
                            <h2 class="subcuadro-titulo">
                                <span class="material-symbols-outlined">monitor</span>
                                LCD
                            </h2>
                            <div class="cuadrado"></div>
                            <p class="subcuadro-parrafo">
                                Tecnológias de FDM, SLA, corte laser y corte CNC.
                            </p>
                        </button>
                    </a>
                    <a href="https://www.neuronica.co/linea-servicio-manufactura" class="servicio-link">
                        <button class="subcuadro">
                            <h2 class="subcuadro-titulo">
                                <span class="material-symbols-outlined">deployed_code</span>
                                DLP
                            </h2>
                            <div class="cuadrado"></div>
                            <p class="subcuadro-parrafo">
                                Tecnológias de FDM, SLA, corte laser y corte CNC.
                            </p>
                        </button>
                    </a>
                </div>
            </div>
         </div>
         <div class="spacer2"></div>
     </div>

     <div class="spacer2"></div>

     <div class="contenedorColumnas">
         <div class="spacer2"></div>
         <div class="bordeAzul">
             <div class="filas">
                 <div class="unaColumna">
                     <div class="spacer2"></div>
                     <h2 style="margin-left: 5%; margin-right: 5%; text-align: center;" data-aos="fade-right" data-aos-duration="2000">Modelado y Diseño 3D: Explora el Futuro con Nosotros</h2>
                     <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                     <div class="spacer2"></div>
                 </div>
                 <div class="spacer2"></div>
                 <div class="dosColumnas" style="display: flex; justify-content: center; align-items: center;">
                     <img class="imagen" src="./assets/Imagenes/modelado_diseno_3d.jpg" alt="Modelado y Diseño 3D con Neurónica: Desde la conceptualización hasta la creación, explorando el emocionante mundo del diseño tridimensional." data-aos="fade-right" data-aos-duration="3000" style="margin-bottom: 5%;">
                 </div>
                 <div class="dosColumnas">
                     <p style="margin-left: 10%; margin-right: 5%; text-align:justify" data-aos="fade-right" data-aos-duration="2000">
                         Sumérgete en el emocionante mundo del modelado y diseño 3D con Neurónica. Transformamos ideas en realidad 
                         con nuestras avanzadas capacidades de diseño tridimensional. Desde la conceptualización hasta la creación, 
                         te guiamos en cada paso para garantizar resultados asombrosos y personalizados.
                     </p>
                 </div>
             </div>
         </div>
         <div class="spacer2"></div>
     </div>

     <div class="spacer2"></div>

     <div class="contenedorColumnas">
         <div class="spacer2"></div>
         <div class="bordeAzul">
             <div class="filas">
                 <div class="unaColumna">
                     <div class="spacer2"></div>
                     <h2 style="margin-left: 5%; margin-right: 5%; text-align: center;" data-aos="fade-right" data-aos-duration="2000">Personalización Única con Impresión 3D: Tu Identidad en Cada Detalle</h2>
                     <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                     <div class="spacer2"></div>
                 </div>
                 <div class="spacer2"></div>
                 <div class="dosColumnas">
                     <p style="margin-left: 10%; margin-right: 5%; text-align:justify" data-aos="fade-right" data-aos-duration="2000">
                         Explora la Personalización Única con Impresión 3D: Diseño y Modelado Exclusivo de 
                         Piezas para tu Identidad de Marca. En Neurónica, creamos y personalizamos cada 
                         detalle con nuestra tecnología de impresión 3D. Desde el modelado hasta la realidad, 
                         cada pieza refleja tu marca en productos cotidianos. Descubre la innovación y la 
                         creatividad en cada proyecto con nuestro servicio de impresión 3D en Bogotá.
                     </p>
                 </div>
                 <div class="dosColumnas" style="display: flex; justify-content: center; align-items: center;">
                     <div class="spacer2"></div>
                     <img class="imagen" src="./assets/Imagenes/personalizacion_unica_impresion_3d.jpg" alt="Personalización Única con Impresión 3D: Diseño y Modelado Exclusivo de Piezas para tu Identidad de Marca con Neurónica." data-aos="fade-right" data-aos-duration="3000" style="margin-bottom: 5%;">
                 </div>
                 <div class="spacer2"></div>
             </div>
         </div>
         <div class="spacer2"></div>
     </div>

     <div class="spacer2"></div>

     <div class="contenedorColumnas">
         <div class="spacer2"></div>
         <div class="bordeAzul">
             <div class="filas">
                 <div class="unaColumna">
                     <div class="spacer2"></div>
                     <h2 style="margin-left: 5%; margin-right: 5%; text-align: center;" data-aos="fade-right" data-aos-duration="2000">Prototipado 3D: De la Idea a la Realidad Tangible con Neurónica</h2>
                     <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                     <div class="spacer2"></div>
                 </div>
                 <div class="spacer2"></div>
                 <div class="dosColumnas" style="display: flex; justify-content: center; align-items: center;">
                     <img class="imagen" src="./assets/Imagenes/prototipado_3d.jpg" alt="Prototipado 3D: De la Idea a la Realidad Tangible con Neurónica." data-aos="fade-right" data-aos-duration="3000" style="margin-bottom: 5%;">
                 </div>
                 <div class="dosColumnas">
                     <p style="margin-left: 10%; margin-right: 5%; text-align:justify" data-aos="fade-right" data-aos-duration="2000">
                         ¿Tienes una idea innovadora? Conviértela en realidad tangible con nuestro servicio 
                         de prototipado 3D. Desde el concepto inicial hasta el prototipo funcional, nuestro 
                         equipo altamente capacitado te acompaña en cada etapa. Agilizamos el proceso para 
                         que tu visión cobre vida de manera eficiente y sorprendente.
                     </p>
                 </div>
                 <div class="spacer2"></div>
             </div>
         </div>
         <div class="spacer2"></div>
     </div>

     <div class="spacer2"></div>

     <div class="contenedorColumnas">
         <div class="spacer2"></div>
         <div class="bordeAzul">
             <div class="filas">
                 <div class="unaColumna">
                     <div class="spacer2"></div>
                     <h2 style="margin-left: 5%; margin-right: 5%; text-align: center;" data-aos="fade-right" data-aos-duration="2000">Fabricación de Piezas 3D: Soluciones Innovadoras a tu Alcance</h2>
                     <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                     <div class="spacer2"></div>
                 </div>
                 <div class="spacer2"></div>
                 <div class="dosColumnas">
                     <p style="margin-left: 10%; margin-right: 5%; text-align:justify" data-aos="fade-right" data-aos-duration="2000">
                         Explora soluciones innovadoras con nuestra fabricación de piezas 3D. Utilizando tecnologías FDM y LCD, 
                         trabajamos con una variedad de materiales como PLA, PETG, TPU y ABS. Ofrecemos más que impresiones; 
                         ofrecemos soluciones que impulsan la innovación. Descubre el potencial ilimitado de la fabricación de 
                         piezas 3D con Neurónica.
                     </p>
                 </div>
                 <div class="dosColumnas" style="display: flex; justify-content: center; align-items: center;">
                     <img class="imagen" src="./assets/Imagenes/fabricacion_piezas_3d.png" alt="Fabricación de Piezas 3D: Soluciones Innovadoras a tu Alcance" data-aos="fade-right" data-aos-duration="3000" style="margin-bottom: 5%;">
                 </div>
                 <div class="spacer2"></div>
             </div>
         </div>
         <div class="spacer2"></div>
     </div>
     <div class="spacer2"></div>
     <div class="contenedorColumnas">
         <div class="spacer2"></div>
         <div class="bordeAzul">
             <div class="filas">
                 <div class="unaColumna">
                     <div class="spacer2"></div>
                     <h2 data-aos="fade-right" data-aos-duration="3000" style="margin-right: 5%; margin-left: 5%; text-align: center;">Contáctate con nosotros</h2>
                     <div class="cuadrado" style="margin-right: 5%; margin-left: 5%;" data-aos="fade-right" data-aos-duration="2000"></div>
                     <div class="spacer2"></div>
                     <p data-aos="fade-right" data-aos-duration="3000" style="margin-right: 5%; margin-left: 5%; text-align: justify;">
                         Impulsa tu innovación con Neurónica. Contáctanos para explorar cómo la impresión 3D puede potenciar tu 
                         proyecto. Somos tu socio confiable en ingeniería y fabricación, sirviendo a la comunidad de Bogotá con 
                         soluciones personalizadas. ¡Convierte tus ideas en realidad con Neurónica!
                     </p>
                     <div class="spacer2"></div>
                    <div style="display: flex; justify-content: center; align-items: center;">
                       <a href="https://wa.me/573027218775" style="height: 0.5rem; width: 7rem;">
                           <button class="boton" data-aos="fade-right" data-aos-duration="3000">Contáctanos</button>
                       </a>
                    </div>
                     <div class="spacer2"></div>
                 </div>
             </div>
         </div>
         <div class="spacer2"></div>
     </div>        

     <div class="spacer2"></div>

     <app-footer-container></app-footer-container>
 </div>


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11327971754"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'AW-11327971754');
</script>
